﻿<p class="text-blue-menu">Итоговые работы</p>
<p>студентов 3х курсов КИКГ</p>

<p>
  <span class="text-blue-menu">Здесь можно посмотреть</span> результаты работы студентов по пройденному курсу трехмерного моделирования и анимации
</p>
