﻿<p class="text-blue-menu">Добро пожаловать </p>
<p>на обучающий курс по трехмерному моделированию и анимации</p>

<p class="text-blue-menu">Данный курс предназначен для</p>
<ul class="ul_menu1">
<li>студентов 3х курсов КИКГ</li>
<li>всех желающих научиться <span class="margin-left">работать в 3ds Max</span></li>
</ul>

<p>
  <span class="text-blue-menu">Пройдя данные уроки </span>, вы овладеете основными приемами
    <ul class="ul_menu1">
      <li>моделирования</li>
      <li>текстурирования</li>
      <li>анимации</li>
      <li>рендеринга</li>
    </ul>
</p>

<p>
  <span class="text-blue-menu">На сайте можно </span> скачивать готовые 3d модели, а также изучать дополнительные материалы
</p>
