﻿<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a style="text-decoration: none" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Модуль 1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse {% if lesson_num >= 9 %}in{% endif %}" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li>
            <a href="{{ url_for('lessons', num=1) }}" class="active">
              <h4>Урок 1</h4>
              <p>Знакомство с общими принципами  построения сцены и моделированием объектов</p>
            </a>
          </li>

          <li>
            <a href="{{ url_for('lessons', num=2) }}">
              <h4>Урок 2</h4>
              <p>Модификаторы. Стек модификаторов. Модификаторы Taper, Twist, Bend, Shell, Noise</p>
            </a>
          </li>

          <li>
            <a href="{{ url_for('lessons', num=3) }}">
              <h4>Урок 3</h4>
              <p>Объекты Shape. Модификаторы Extrude и Lathe</p>
            </a>
          </li>

          <li>
            <a href="{{ url_for('lessons', num=4) }}">
              <h4>Урок 4</h4>
              <p>Составные объекты Loft</p>
            </a>
          </li>

          <li>
            <a href="{{ url_for('lessons', num=5) }}">
              <h4>Урок 5</h4>
              <p>Полимоделинг (Editable Poly)</p>
            </a>
          </li>

          <li>
            <a href="{{ url_for('lessons', num=6) }}">
              <h4>Урок 6</h4>
              <p>Работа с источниками света Spot, Direct, Omni</p>
            </a>
          </li>

          <li>
            <a href="{{ url_for('lessons', num=7) }}">
              <h4>Урок 7</h4>
              <p>Анимация в 3D Studio Max</p>
            </a>
          </li>

          <li>
            <a href="{{ url_for('lessons', num=8) }}">
              <h4>Урок 8</h4>
              <p>I контрольная работа</p>
            </a>
          </li>

          <!-- Add more items here -->
          <li></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a style="text-decoration: none" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Модуль 2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse {% if lesson_num < 9 %}in{% endif %}" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li>
            <a href="{{ url_for('lessons', num=9) }}">
              <h4>Урок 9</h4>
              <p>Работа с текстурами, развертка</p>
            </a>
          </li>

          <li>
            <a href="{{ url_for('lessons', num=10) }}">
              <h4>Урок 10</h4>
              <p>Настройка скелета под оболочку (Biped, Envelope)</p>
            </a>
          </li>

          <li>
            <a href="{{ url_for('lessons', num=11) }}">
              <h4>Урок 11</h4>
              <p>Bulge editor. Стандартные движения Motion capture</p>
            </a>
          </li>

          <li>
            <a href="{{ url_for('lessons', num=12) }}">
              <h4>Урок 12</h4>
              <p>Составные объекты Bevel Profile. Моделирование атриума и его текстурирование</p>
            </a>
          </li>

          <li>
            <a href="{{ url_for('lessons', num=13) }}">
              <h4>Урок 13</h4>
              <p>V-Ray к атриуму и просчет анимации, постановка камеры V-Ray Physical Camera</p>
            </a>
          </li>

          <li>
            <a href="{{ url_for('lessons', num=14) }}">
              <h4>Урок 14</h4>
              <p>Моделирование окружения, настройка камер, особенности создания видео </p>
            </a>
          </li>

          <li>
            <a href="{{ url_for('lessons', num=15) }}">
              <h4>Урок 15</h4>
              <p>II контрольная работа </p>
            </a>
          </li>


          <!-- Add more items here -->
          <li></li>
        </ul>
      </div>
    </div>
  </div>

</div>