﻿<p class="text-blue-menu">Электронная библиотека </p>
<p>содержит файлы формата .max, предназначенные для импорта в сцены уроков</p>

<p>
  <span class="text-blue-menu">Чтобы скачать файл </span> нажмите на него левой кнопкой мыши, загрузка начнется автоматически
</p>