﻿<p class="text-blue-menu">Дополнительные материалы</p>
<p>для самостоятельного изучения</p>
<p>
  <span class="text-blue-menu">Чтобы открыть нужную тему </span> нажмите на ее название левой кнопкой мыши, информация появится в новом окне
</p>