﻿<h4 class="text-underline">УРОК №7. Анимация в 3D Studio  MAX</h4>
<p>Освоив данный раздел, вы сможете  сами создавать движение объектов в&nbsp;<strong>3D  Studio MAX</strong>. Это может быть анимация для компьютерных игр,  мультфильмов, заставок, иллюстраций, презентаций и т.д.</p>
<p>Анимировать можно практически любой  параметр: положение объекта в пространстве (X , Y , Z), вращение,  масштабирование объекта и т.д. Можно также анимировать цвет материала или  параметры модификатора.</p>
<p><strong>Принцип анимации</strong><br />
  <strong><br />
  </strong>Анимация основана на принципе человеческого видения. Если перед взором  человека быстро меняются одна на другую несколько схожих неподвижных картинок,  у человека возникает ощущение движения. Каждая отдельная картинка называется&nbsp;<strong>кадр (f</strong><strong>rame</strong>) (Рис. 1).<br />
  <img src="{{ url_for('static', filename='img/lesson7/1.jpg') }}" alt="" width="309" height="108" /><br />
  Рис  1. Последовательность кадров</p>
<p>Большинство  кадров в анимации – это слегка изменённые предыдущие кадры. Если создавать  только главные <strong>ключевые</strong>&nbsp;кадры (<strong>key frame</strong>), в которых  происходит кардинальное изменение положения объекта, его формы, цвета и т.п.,  можно значительно ускорить процесс создания анимации. В этом случае те кадры,  которые должны находиться&nbsp;между&nbsp;ключевыми  (они называются&nbsp;<strong>tween</strong>), могут быть легко созданы при помощи простых  подсчётов. Затем все&nbsp;<strong>key frame&nbsp;</strong>и&nbsp;<strong>tween&nbsp;</strong>состыковываются,  и получается готовая анимация.</p>
<p><strong>Ключи  анимации и их настройка</strong><br />
  <strong><br />
  </strong>В  программе&nbsp;<strong>3D Studio MAX&nbsp;</strong>вы создаёте только главные кадры (<strong>key  frame</strong>).&nbsp;<strong>3D Studio MAX&nbsp;</strong>сам подсчитывает и создаёт то, что  должно быть между ключами, чтобы в итоге получилась цельная анимация. Этот  способ анимации основан на понятии «ключ». <br />
  <strong>Ключ</strong>&nbsp;- это фиксированное значение  какого-либо параметра в заданный момент времени. Основные ключи анимации - по  перемещению, вращению и изменению размера. Ключи выставляются в нужных кадрах.  Их может быть любое количество, но не большее, чем кол-во кадров.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;изменение объекта<br />
  <em>ключ 1</em><em>&nbsp;</em>-----------------------------------------------------&nbsp;<em>ключ 2</em></p>
<p>Перед вами полоска с  номерами кадров и ползунок&nbsp;<strong>Time  Slider</strong><strong>&nbsp;</strong>(временная  полоса) (Рис. 2).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/2.gif') }}" alt="" width="500" height="46" /> <br />
  Рис  2. Временная полоса с расставленными на ней ключами анимации</p>
<p>Зелёные квадратики напротив кадров  с номерами 0, 10, 23, 40, 55 – это ключи анимации. В кадрах с этими номерами с  объектом происходит какое-то изменение. Ползунок позволяет перемещаться между  кадрами.</p>
<p><strong>Способы  постановки ключей в 3D Studio MAX</strong><br />
  <strong><br />
  </strong><em>1. Автоматический</em><em><br />
    </em>Вы переходите на какой-либо кадр анимации и, включив специальный режим&nbsp;<strong>Auto Key</strong><strong>&nbsp;</strong>(автоматическая расстановка  ключей), изменяете каким-либо образом объект (например, перемещаете его). На  временной полосе появляется ключ.</p>
<p>Когда вы переходите в  режим автоматического создания ключей анимации, временная полоса становится  красного цвета (Рис. 3).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/3.gif') }}" alt="" width="216" height="97" /><br />
  Рис  3. Активирован режим Auto Key</p>
<p>В ключах,  располагающихся на временной полосе, хранится информация о положении объекта в  пространстве (перемещение, вращение) и изменении его масштаба. Все другие ключи  можно увидеть в специальном редакторе ключей анимации, о котором пойдет речь  немного позже.</p>
<p>Если ключ является  первым в текущей анимации для данного параметра, второй ключ создаётся автоматически  в нулевом кадре, чтобы сохранить первоначальные значения параметра. Таким  образом, если вы нажали кнопку Auto Key, выбрали объект, перетащили ползунок и  изменили объект – вы автоматически получите 2 ключа: в том кадре, где находится  ползунок, и в нулевом кадре (Рис. 4).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/4.gif') }}" alt="" width="309" height="94" /><br />
  Рис  4. При установке ключа в 15-ом кадре автоматически появился ключ в нулевом  кадре</p>
<p>Создадим простую  анимацию примитивному объекту &quot;Падающий цилиндр&quot;.</p>
<p>1. Создаём цилиндр (Рис.  5).<br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson7/5.gif') }}" alt="" width="191" height="224" /><br />
  Рис  5. Объект готов к анимации<br />
  <br />
  2. Включаем Auto Key (Рис. 6).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/3.gif') }}" alt="" width="216" height="97" /><br />
Рис  6. Включаем Auto Key</p>
<p>3. Передвинем ползунок,  например, на 20-й кадр (Рис. 7).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/6.gif') }}" alt="" width="310" height="46" /><br />
  Рис 7. Ползунок  передвинут на 20-й кадр<br />
  <br />
  4. Повернём объект, используя инструмент <strong>Select  and Move </strong>(Рис. 8).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/7.gif') }}" alt="" width="204" height="225" /><br />
  Рис 8. Поворачиваем  цилиндр</p>
<p>5. Появятся 2 ключа: в  20-ом и в нулевом кадрах, в которых записано изменение параметра вращения по  оси Y объекта Cylinder (Рис. 9).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/8.gif') }}" alt="" width="354" height="49" /><br />
  Рис 9. Автоматически  появились 2 ключа анимации</p>
<p>Чтобы запустить анимацию  и посмотреть, что получилось, нажмите на кнопку Play (Рис. 10).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/9.gif') }}" alt="" width="126" height="25" /><br />
  Рис 10. Кнопки  проигрывания анимации</p>
<p><em>2. Расстановка  ключей вручную.</em><em><br />
</em>Этот способ даёт возможность большего контроля, чем метод&nbsp;<strong>Auto Key</strong><strong>&nbsp;</strong>, так как у Вас есть шанс  испытать новую идею и затем сразу отказаться от неё, не уничтожая работу. Когда  Вам нравится то, что Вы видите, Вы щелкаете на большую кнопку&nbsp;<strong>Set Keys</strong><strong>&nbsp;</strong>или нажимаете <strong>« K»</strong><strong>&nbsp;</strong>на клавиатуре, чтобы установить  ключ (Рис. 11). Если Вы не сделаете этого, ключи не будут установлены.</p>
<p><img src="{{ url_for('static', filename='img/lesson7/10.gif') }}" alt="" width="216" height="97" /><br />
  Рис 11. Включен режим  Set Key</p>
<p>Для того, чтобы увеличить  количество кадров в линейке (ведь стандартные 100 кадров - это около 3-х  секунд), нужно нажать на кнопку <strong>Time Configuration</strong> (Рис. 12).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/11.gif') }}" alt="" width="173" height="81" /><br />
  Рис  12. Расположение кнопки Time Configuration</p>
<p>Откроется диалоговое  окно (Рис. 13).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/12.gif') }}" alt="" width="300" height="332" /><br />
  Рис  13. Диалоговое окно Time Configuration</p>
<p>Рассмотрим наиболее  используемые параметры.<br />
  <strong>Frame Rate</strong>&nbsp;-  частота кадров. Здесь представлены на выбор 3 стандарта:<br />
  <u>NTSC</u>&nbsp;- 30 кадров в секунду<br />
  <u>PAL</u>&nbsp;- 24 кадра в секунду<br />
  <u>Film</u>&nbsp;- киностандарт, 24  кадра в секунду<br />
  и&nbsp;<u>Custom</u>&nbsp;- произвольное количество кадров,  устанавливается пользователем. Количество кадров влияет на скорость  происходящего в анимации. К примеру, если объект пермещается из одной точки в  другую в течение 90 кадров при частоте 30 кадров в секудну, то это будет  длиться 2 секунды. Если же частота кадров - 24 к/с, то длительность перемещения  будет почти 4 секунды. Теперь Вы понимаете, как создаётся эффект замедленной  съёмки в кино. Нужный эпизод записывается с завышенной частотой кадров в  секунду (например, 120 вместо 24-х), а проигрывается со стандартной скоростью в  24 кадра в секунду.<br />
  Но вернемся к окну Time Configuration.</p>
<p>Следующий раздел -<strong>&nbsp;</strong><strong>Animation</strong>,  анимация.<br />
  <u>Start Time</u>&nbsp;- кадр, который  будет первым в линейке кадров<br />
  <u>End Time</u>&nbsp;- кадр, который  будет последним в линейке кадров<br />
  <u>Length</u>&nbsp;- номинальное  количество кадров в сцене. Именно этот параметр мы изменяем, если хотим  увеличить или уменьшить количество кадров.&nbsp;<br />
  <u>Frame&nbsp;Count</u>&nbsp;-  реальное количество кадров в сцене (на 1 больше, так как начало не с 1-ого, а с  нулевого)<br />
  После того, как нужные изменения внесены, жмём&nbsp;<strong>ОК</strong>.</p>
<p><strong>Анимация  параметров текстуры</strong></p>
<p>Теперь попробуем создать  анимацию материалу, который будет наложен на наш&nbsp;<strong>Cylinder</strong>. Внимательно  посмотрим на панель&nbsp;<strong>Material  Editor</strong><strong>&nbsp;</strong>(редактор  материалов) и найдем группу параметров&nbsp;<strong>Blin  Basic Parameters</strong> (Рис. 14).<br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson7/13.gif') }}" alt="" width="250" height="489" /> <br />
  Рис 14. Группа  параметров Blinn Basic Parameters в окне редактора материалов</p>
<p>Найдем там параметр&nbsp;<strong>Diffuse</strong>&nbsp;(Рассеянный). Напротив него можно  увидеть прямоугольник, в котором задается цвет материалу (Рис. 15).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/14.gif') }}" alt="" width="168" height="83" /> <br />
  Рис&nbsp;15.&nbsp;Параметр&nbsp;Diffuse&nbsp;группы&nbsp;Blinn Basic Parameters</p>
<p>Если щелкнуть по нему,  то вы попадете в режим выбора цвета (Рис. 16).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/15.jpg') }}" alt="" width="458" height="232" /> <br />
  Рис&nbsp;16.&nbsp;Окно&nbsp;Color Selection: Diffuse Color -&nbsp;выбор&nbsp;цвета </p>
<p>Теперь попробуем сделать  анимацию изменения цвета. Принцип работы тот же, что и в предыдущей анимации,  только, переместив бегунок&nbsp;<strong>Time  Slider</strong>, мы будем менять цвет объекта. Итак, порядок действий  следующий:<br />
  1. В редакторе материалов присваиваем материалу цвет.&nbsp;<br />
  2. Включаем Auto Key (Рис. 17)<br />
  3. Передвигаем ползунок Time Slider в последний кадр.<br />
  4. Меняем цвет материала.<br />
  5. Присваиваем материал объекту.&nbsp;<br />
  6. Появляются 2 ключа: в первом и последнем кадрах (Рис. 18).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/16.jpg') }}" alt="" width="350" height="316" /> <br />
  Рис  17. Присваиваем материалу цвет и включаем Auto Key</p>
<p><img src="{{ url_for('static', filename='img/lesson7/17.jpg') }}" alt="" width="350" height="318" /> <br />
  Рис 18. Передвигаем  ползунок в последний кадр, меняем цвет материала, присваиваем материал объекту</p>
<p>Обратите внимание, что  вокруг индикатора цвета напротив Diffuse появилась красная рамка. Такая рамка  показывает, что параметр анимирован.<br />
  Итог любой анимации -  видеофайл. Т.е. необходимо провизуализировать анимированную сцену в файл. Для  этого зайдёи в уже знакомое меню&nbsp;<strong>Rendering  =&gt; Render</strong> (Рис. 19).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/18.jpg') }}" alt="" width="200" height="332" /> <br />
  Рис 19. Окно Render</p>
<p>Необходимо выбрать пункт&nbsp;<strong>Files</strong><em>,</em><em>&nbsp;</em>который находится в разделе&nbsp;<strong>Render Output</strong>. Для  этого Вам придётся чуть прокрутить вниз содержимое вкладки (Рис. 20).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/19.gif') }}" alt="" width="304" height="68" /><br />
  Рис 20. Раздел Render Output окна Render Scene</p>
<p>После нажатия на кнопку&nbsp;<strong>Files</strong>&nbsp;откроется диалоговое окно&nbsp;<strong>Render Output File</strong>, в  котором мы задаём имя и&nbsp;<strong>формат</strong>&nbsp;файла, в который будет производиться  визуализация. Формат видеофайлов в среде Windows -&nbsp;<strong>*.avi</strong>. Именно его мы  выбираем в списке&nbsp;<strong>Save as  Type</strong> (Рис. 21).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/20.gif') }}" alt="" width="300" height="316" /> <br />
  Рис  21. Окно Render Output File</p>
<p>После того, как Вы  нажмёте Save, откроется  окно&nbsp;<strong>AVI </strong><strong>File </strong><strong>Compression </strong><strong>Setup</strong>&nbsp;-  выбор метода сжатия видео (Рис. 22).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/21.gif') }}" alt="" width="305" height="270" /> <br />
  Рис 22. Окно AVI File  Compression Setup</p>
<p>Что такое сжатие видео,  и для чего оно нужно? Дело в том, что видеофайл - это очень большой объём  информации. Ведь видео - это множество сменяющих друг друга статичных картинок.  Объём файла получается колоссальный (средний размер 1 часа несжатого видео разрешением  около 780*576 - 20 гигабайт). Для того, чтобы уменьшить этот размер до  приемлемого, используются различные программы (они называются кодеки), которые  за счёт более или менее незаметного ухудшения качества картинок уменьшают  размер итогового файла. Кодеки устанавливаются отдельно, как любая другая  программа, но некоторое количество кодеков встроено в Windows.<br />
  В списке&nbsp;<strong>Compressor</strong>&nbsp;перечислены все установленные у вас на  компьютере кодеки. Лучший вариант -&nbsp;<strong>DivX</strong>.  Если его нет, из стандартных кодеков мы рекомендуем Вам&nbsp;<strong>Cinepak</strong>.</p>
<p>Далее выбираем количество кадров,  которые необходимо провизуализировать. Эта операция производится в разделе&nbsp;<strong>Time Output</strong> (Рис.  23).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/22.gif') }}" alt="" width="355" height="239" /> <br />
  Рис 23. Раздел Time Output вкладки Common. Активна опция Active  Time Segment</p>
<p><strong>Single</strong>&nbsp;- будет отрендерен один кадр, тот, на  котором в данный момент остановился ползунок. Эту опцию мы использовали, когда  визуализировали статичные картинки.<br />
  <strong>Active Time Segment</strong>&nbsp;-  будут отрендерены&nbsp;<strong>все</strong>&nbsp;кадры анимации.<br />
  <strong>Range ... To ...</strong><strong>&nbsp;</strong>-  указываем, с какого по какой кадр нужно рендерить. Эту опцию используют тогда,  когда нужно провизуализировать только часть анимации.<br />
  В нашем случае нам нужно  выбрать опцию&nbsp;<strong>Active Time  Segment</strong>, так как нам нужно провизуализировать&nbsp;<strong>всю</strong>&nbsp;анимацию.</p>
<p>После процесса  визуализации получается&nbsp;<strong>AVI</strong><strong>&nbsp;</strong>файл, который проигрывается  стандартным проигрывателем&nbsp;<strong>Media  Player</strong><strong>&nbsp;</strong>компании <strong>Microsoft</strong>.<br clear="all" />
</p>
<p><strong>Настройка анимации с  помощью ключей и графиков движения</strong></p>
<p>В этом уроке мы изучим более  сложный способ - ручной расстановки ключей анимации. Зачем он нужен? Автоматический  способ предполагает плавное изменение параметров объекта от ключа к ключу. Но  что делать, если мы хотим изменить интенсивность изменений? Или просто хотим  сделать не плавное, а довольно резкое изменение? В таком случае нам необходимо  вручную устанавливать ключи. Именно этот способ - ручной расстановки ключей мы  и рассмотрим в этом уроке.</p>
<p>В качестве примера мы будем  создавать простую сцену: прыгающий мяч. <br />
  Для начала создадим&nbsp;<strong>Plane</strong>&nbsp;с размерами&nbsp;<strong>200х200</strong>&nbsp;и координатами&nbsp;<strong>X = Y = Z =0</strong>&nbsp;и&nbsp;<strong>Sphere</strong>&nbsp;с радиусом&nbsp;<strong>20</strong>&nbsp;и координатами&nbsp;<strong>X=0 Y=0 Z=60</strong> (Рис.  24). Z = 60 мы взяли для того, чтобы объект в начале анимации висел на  некоторой высоте, с которой он будет впоследствии падать.</p>
<p><img src="{{ url_for('static', filename='img/lesson7/23.jpg') }}" alt="" width="421" height="288" /><br />
  Рис 24.  Плоскость и сфера - заготовка будущей анимации</p>
<p>Нам не нужно  100 кадров, так как мячик будет повторять одно и то же движение. Следовательно,  ролик можно «зациклить». Уменьшим кол-во кадров на временной полосе&nbsp;<strong>TimeLine</strong>.  Вызовем окно&nbsp;<strong>Time Configuration</strong> (Рис. 25). </p>
<p><img src="{{ url_for('static', filename='img/lesson7/11.gif') }}" alt="" width="173" height="81" /><br />
  Рис 25.  Кнопка Time Configuration</p>
<p>Изменим значение&nbsp;<strong>Length</strong>&nbsp;(количество  кадров) на&nbsp;<strong>50</strong>. Теперь приступим к расстановке ключей анимации.  Сначала нужно установить ключ в 0-м кадре, зафиксировав тем самым начальное  положение объекта. Для этого выделим сферу и зайдём во вкладку<strong>&nbsp;Motion</strong> (Рис. 26). </p>
<p><img src="{{ url_for('static', filename='img/lesson7/24.gif') }}" alt="" width="172" height="71" /><br />
  Рис 26.  Расположение вкладки Motion</p>
<p>Здесь мы  видим два столбца:&nbsp;<strong>Create Key&nbsp;</strong>(создать ключ) и&nbsp;<strong>Delete  Key&nbsp;</strong>(удалить ключ). Именно в этом разделе и создаются ключи анимации  трёх параметров объектов:&nbsp;<strong>Position&nbsp;</strong>(положение),&nbsp;<strong>Rotation&nbsp;</strong>(вращение)  и&nbsp;<strong>Scale&nbsp;</strong>(масштаб) (Рис. 27). </p>
<p><img src="{{ url_for('static', filename='img/lesson7/25.jpg') }}" alt="" width="161" height="135" /><br />
  Рис 27. Ключи анимации положения,  вращения и масштабирования</p>
<p>Существует еще много других типов  ключей. Например, ключи редактора материалов. Но на данный момент нам необходим  только&nbsp;<strong>Position</strong>&nbsp;(так как менять мы будет только лишь  положение объекта в пространстве, не затрагивая вращение его вокруг своей оси и  масштабирование). Нажмем на соответствующую кнопку в столбике&nbsp;<strong>Create Key</strong>.</p>
<p>После этого вы увидите, что на  временной полосе появился ключ в 0-м кадре. Он выделен красным (Рис. 28).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/26.gif') }}" alt="" width="210" height="47" /><br />
  Рис 28.  Поставлен ключ в нулевом кадре</p>
<p>Значок ключа  может состоять из трёх цветов: красного, зелёного и синего. Если в этом ключе  изменён только параметр&nbsp;<strong>Position</strong>, то цвет ключа - красный,  если&nbsp;<strong>Rotation&nbsp;</strong><em>–&nbsp;</em>зеленый,&nbsp;<strong>Scale&nbsp;</strong>–  синий. Если все 3 параметра изменены, то значок ключа будет, как светофор,  трёхцветным.</p>
<p>Увидеть  параметры поставленного ключа можно двумя способами:<br />
  <strong>1)</strong>&nbsp;Во вкладке&nbsp;<strong>Motion&nbsp;</strong>под  кнопками&nbsp;<strong>Position</strong>,<strong>&nbsp;Rotation</strong>,<strong>&nbsp;Scale&nbsp;</strong>(активная  кнопка показывает, какого именно параметра отображены свойства). Так как в  данном ключе мы активизировали только&nbsp;<strong>Position</strong>, он-то нас и  интересует (Рис.  29).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/27.gif') }}" alt="" width="164" height="272" /><br />
  Рис 29.  Свойства ключа по параметру Position</p>
<p>Сначала  необходимо выбрать ось в разделе&nbsp;<strong>Position XYZ Parameters</strong><em>.&nbsp;</em>По  умолчанию активна ось&nbsp;<strong>Х</strong>, но так как мы меняли положение объекта  по&nbsp;<strong>высоте</strong>, значит нужно включить ось&nbsp;<strong>Z</strong>&nbsp;(как и  показано на рисунке). Затем смотрим параметры ключа в разделе&nbsp;<strong>Key Info</strong>:&nbsp;<strong>Time&nbsp;</strong>–  текущий кадр,&nbsp;<strong>Value&nbsp;</strong>– значение по выбранной оси. В нашем  случае мы видим, что в нулевом кадре (Time = 0) объект находится на высоте 60  по оси Z (активна ось Z, Value = 60).</p>
<p><strong>2)</strong>&nbsp;Можно во временной полосе  щелкнуть правой кнопкой мыши на ключе и получить выпадающее меню, в котором  нужно выбрать&nbsp;<strong>&lt;имя объекта&gt;: Z Position</strong>. Не забывайте, что  все эти операции проделываются над выделенным объектом (иначе программе не  понятно, ключи какого именно объекта сцены вы хотите настроить).&nbsp; </p>
<p>Теперь нам  необходимо еще 2 ключа: нижнее положение и снова верхнее. Соответственно  кадры&nbsp;<strong>25-й&nbsp;</strong>и&nbsp;<strong>50-й</strong>. Итак: в&nbsp;<strong>0-м&nbsp;</strong>кадре  уже имеются значения положения шарика:&nbsp;<strong>X =0, Y =0, Z =60</strong>. В&nbsp;<strong>25-м&nbsp;</strong>кадре  снова во вкладке Motion нажимаем&nbsp;<strong>Create Key -&gt; Position</strong>&nbsp;и  устанавливаем значение&nbsp;<strong>Value</strong>&nbsp;по оси&nbsp;<strong>Z</strong>&nbsp;в  параметрах ключа:&nbsp;<strong>Value =20</strong>. В&nbsp;<strong>50 –м кадре</strong>:<strong>&nbsp;ось  Z</strong>,<strong>&nbsp;Value=60</strong>.</p>
<p>Если мы  теперь проиграем анимацию, мячик будет летать туда и обратно. Если присмотреться  к анимации, то видно, что он летает нереалистично. Нет эффекта удара о  плоскость, подлетая к плоскости, шарик замедляет свое движение. Из этого  следует, что помимо ключей анимации существует еще что-то, что позволяет  ускорять, замедлять или делать равномерным изменение параметра (в данном случае  значение перемещения по оси Z) от одного ключа к другому.</p>
<p><strong>Графики  анимации<br />
</strong></p>
<p>Вы обратили  внимание, что помимо параметров значений ключа во вкладке&nbsp;<strong>Motion<em>&nbsp;</em></strong>(при выбранной  оси&nbsp;<strong><em>Z&nbsp;</em></strong>и активной кнопке&nbsp;<strong>Position</strong>) присутствуют большие кнопки с графиками (Рис. 30).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/28.jpg') }}" alt="" width="166" height="224" /> <br />
Рис 30.  Графики анимации</p>
<p>Это типовые  виды графиков для настройки характера изменения параметра: до значения в  ключевом кадре -&nbsp;<strong>In<em>,&nbsp;</em></strong>и после этого значения - <strong>Out</strong><em>.</em><br />
  Теперь  попробуем представить себе, что такое график анимации (Рис. 31).<br />
  <img src="{{ url_for('static', filename='img/lesson7/29.gif') }}" alt="" width="320" height="240" /> <br />
  Рис 31.  Интенсивность движения объекта от ключа к ключу</p>
<p>1) Черный  график – то, что мы имеем сейчас. Плавное изменение движения от ключа к ключу.&nbsp;<br />
  2) Синий – то, что нужно получить. Ускорение мяча по мере приближения к  плоскости, и замедление по мере удаления.&nbsp;<br />
  3) Зеленый – то, что может получиться (неправильное движение).<br />
  Что бы  привести наш график к нужному виду необходимо графики&nbsp;<strong>In&nbsp;</strong>и&nbsp;<strong>Out&nbsp;</strong>в&nbsp;<strong>25  – м&nbsp;</strong>кадре сделать следующими (Рис. 32).</p>
<p><img src="{{ url_for('static', filename='img/lesson7/30.jpg') }}" alt="" width="168" height="163" /> <br />
  Рис 32.  Изменённые графики In и Out в 25-ом кадре</p>
<p>Теперь наш  мяч правильно отталкивается от поверхности, ускоряясь при подлете и после удара  о поверхность, и замедляясь в верхнем положении.</p>
<p><strong>Окно  редактора графиков и ключей<br />
</strong></p>
<p>Для того  чтобы редактировать графики изменения параметров в процессе анимации, в 3D  Studio Max существует окно редактора графиков&nbsp;<strong>Graph Editor -&gt; Track  View – Curve Editor </strong>(Рис.  33). </p>
<p><img src="{{ url_for('static', filename='img/lesson7/31.gif') }}" alt="" width="580" height="213" /><br />
Рис 33. Окно Track View - Curve Editor</p>
<p>В нашем  случае мы сразу увидим график изменения параметра&nbsp;<strong>Z<em>&nbsp;</em></strong>. Этого может и не  случиться, если анимаций много. Можно отфильтровать графики, нажав на  кнопку&nbsp;<strong>Filters </strong>(Рис. 34), и вызвав тем самым одноимённое окно (Рис. 35). </p>
<p><img src="{{ url_for('static', filename='img/lesson7/32.gif') }}" alt="" width="121" height="82" /><br />
  Рис 34. Кнопка Filters окна Track View - Curve Editor</p>
<p><img src="{{ url_for('static', filename='img/lesson7/33.gif') }}" alt="" width="400" height="307" /><br />
  Рис 35. Окно Filters</p>
<p>Там в свитке&nbsp;<strong>Show  Onl<em>y&nbsp;</em></strong>выбрать&nbsp;<strong>Animated Track </strong>(Рис. 36).<strong> </strong></p>
<p><img src="{{ url_for('static', filename='img/lesson7/34.jpg') }}" alt="" width="158" height="122" /><br />
  Рис 36.  Свиток Show Only</p>
<p>Теперь будут  отображаться только параметры анимированных объектов.<br />
  Но вернёмся  к графику анимации. На нем мы видим маленькие «квадратики» - это ключи  анимации. Их можно добавлять самостоятельно, используя инструмент<strong>&nbsp;Add  Keys</strong>;&nbsp;также можно выбирать стандартные типы графиков (Рис. 37). </p>
<p><img src="{{ url_for('static', filename='img/lesson7/35.gif') }}" alt="" width="160" height="89" /><br />
  Рис 37.  Кнопка Add Keys</p>
<p>Можно  получить параметры ключа, если щелкнуть на нем правой кнопкой мыши. <br />
  Существует  также окно редактирования только ключей анимации. Оно располагается в меню&nbsp;<strong>Graph  Editor a Track View Drop Sheet</strong>.</p>
<p><strong><u>Задание<br />
</u></strong></p>
<p>Создать  помимо удара объекта о плоскость еще и его искажение (Сплющивание).</p>
<p><strong><u>Рекомендации<br />
</u></strong></p>
<p>Необходимо  помнить, что анимация происходит только от ключа до ключа, и нам не будет  достаточно поставить тип ключа&nbsp;<strong>Scale&nbsp;</strong>в кадре <strong>25</strong>, сделав  параметр&nbsp;<strong><em>Z&nbsp;</em></strong>равным, например, 60%. В этом случае объект  будет постепенно сплющиваться от 0-го до 25-го кадра. Нам нужно еще как минимум  2 ключа типа Scale вокруг 25-го кадра. Используйте 23-й и 28-й кадры, для того,  чтобы мячик сплющивался между 23 и 25 кадром, и расплющивался между 25 и 28.</p>
<p>Также нужно,  чтобы сплющивание происходило не относительно центра сферы (Рис. 38):</p>
<p><img src="{{ url_for('static', filename='img/lesson7/36.jpg') }}" alt="" width="418" height="283" /><br />
  Рис 38.  Мячик сплющивается равномерно относительно центра</p>
<p>А  относительно нижней части сферы (которая касается поверхности) (Рис. 39):<br />
  <img src="{{ url_for('static', filename='img/lesson7/37.jpg') }}" alt="" width="423" height="285" /><br />
  Рис 39. Мячик сплющивается  относительно зоны соприкосновения с плоскостью</p>
<p>Необходимо сместить локальную  систему координат (в любом кадре) вниз по&nbsp;<strong>Z</strong><strong>&nbsp;</strong>на&nbsp;<strong>20</strong><strong>&nbsp;</strong>единиц. Все последующие  координаты в других ключах будут автоматически изменены. Редактирование  локальной системы координат производится во вкладке&nbsp;<strong>Hierarchy -&gt; Pivot -&gt;  Affect Pivot Only</strong>. Не забудьте выйти из режима Affect Pivot Only после  перемещения локальной системы координат!</p>