﻿<h4 class="text-underline">УРОК №3. Объекты Shape.  Модификаторы Extrude и Lathe</h4>
<p>В  этой главе мы научимся работать с плоскими контурами (объектами <strong>Shape</strong>) и с модификаторами <strong>Extrude </strong>и<strong> </strong><strong>Lathe</strong>.</p>
<p><strong>Shape</strong><br />
  <br />
  В быту мы встречаем вещи, сечение которых одинаково на протяжении всей длины предмета.  При этом предмет не имеет никаких изгибов формы. Другими словами, такие  предметы представляют собой как бы &quot;выдавленный&quot; плоский контур.&nbsp;<br />
  Например, различные украшения оконных рам, гладильные доски, доски для резки  овощей и тому подобные вещи (Рис. 1). </p>
<p><img src="{{ url_for('static', filename='img/lesson3/1.jpg') }}" alt="" width="298" height="272" /> <br />
  Рис  1. (Фото с сайта <a href="http://edwardwohl.com/">http://edwardwohl.com/</a>)</p>
<p>Декоративные  украшения дома также являют собой выдавленные контуры (Рис. 2).<br />
  <img src="{{ url_for('static', filename='img/lesson3/2.jpg') }}" alt="" width="323" height="294" border="0" /> <br />
  Рис  2. Декоративные украшения дома</p>
<p>Мы  же попробуем смоделировать деревенское коромысло (Рис. 3).<br />
  <img src="{{ url_for('static', filename='img/lesson3/3.jpg') }}" alt="" width="302" height="163" border="0" /> <br />
  Рис  3. Коромысло</p>
<p>Сначала  нам необходимо нарисовать контур, который будет основой нашей модели.<br />
  Инструменты, отвечающие за создание плоских фигур, находятся в разделе <strong>Shapes</strong> вкладки <strong>Create</strong>. За создание линии отвечает инструмент <strong>Line</strong>.<br />
  Щёлкая  мышкой в местах контрольных точек, мы получаем линию. Достаточно нарисовать  лишь половину контура, так как вторая легко получается путём зеркального  отображения первой (об этом ниже). В результате получаем вот такой грубый  контур (Рис. 4).</p>
<p><img src="{{ url_for('static', filename='img/lesson3/4.gif') }}" alt="" width="414" height="292" border="0" /> <br />
  Рис  4. Полу-контур коромысла на этапе грубой прорисовки</p>
<p>Теперь  наша задача - &quot;округлить&quot; острые углы построенной линии.<br />
  У Shape-объектов есть несколько уровней редактирования. Можно проделывать  операции над всей кривой сразу, а можно отдельно редактировать точки или  сегменты (отрезки между двумя точками).<br />
  Для того чтобы выделить отдельную точку и работать с ней, нужно перейти в режим  редактирования точек. Выделив предварительно линию, заходим во вкладку&nbsp;<strong>Modify</strong>. В свойствах объекта, в  разделе&nbsp;<strong>Selection</strong>, мы  видим как раз те самые уровни редактирования: точка (<strong>Vertex</strong>), отрезок (<strong>Segment</strong>)  и кривая (<strong>Spline</strong>) (Рис. 5).</p>
<p><img src="{{ url_for('static', filename='img/lesson3/5.gif') }}" alt="" width="169" height="97" border="0" /> <br />
  Рис  5. Уровни редактирования Shape-объекта<br />
  </p>
<p>Нам нужен режим&nbsp;<strong>Vertex</strong>. </p>
<p>После включения этого режима точки  кривой станут видимыми (Рис. 6).</p>
<p><img src="{{ url_for('static', filename='img/lesson3/6.gif') }}" alt="" width="392" height="112" border="0" /> <br />
  Рис 6. Включен  режим редактирования точек. На рисунке точки обведены кружками</p>
<p>Выделив точку, мы можем перемещать  её с помощью инструмента&nbsp;<strong>Select  and move</strong>&nbsp;<img src="{{ url_for('static', filename='img/lesson3/7.gif') }}" alt="" width="20" height="20" border="0" />.  Но нам нужно не переместить точки, а изменить в этих точках облик кривой (Рис.  7).</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="140" valign="top"><p><img src="{{ url_for('static', filename='img/lesson3/8.gif') }}" alt="" width="100" height="83" border="0" /><br />
      Сейчас</p></td>
    <td width="132" valign="top"><p><img src="{{ url_for('static', filename='img/lesson3/9.gif') }}" alt="" width="100" height="83" border="0" /><br />
      Нужно получить</p></td>
  </tr>
  <tr>
    <td width="272" colspan="2" valign="top"><p>Рис.    7</p></td>
  </tr>

</table>
<p>Для этого щёлкнем на  точке правой кнопкой мыши. Откроется контекстное меню.&nbsp;В этом меню нас интересуют 4 пункта,  позволяющие изменить тип сглаживания кривой в данной точке (Рис. 8).</p>
<p><img src="{{ url_for('static', filename='img/lesson3/10.gif') }}" alt="" width="303" height="157" border="0" /><br />
  Рис  8. Типы сглаживания кривой в точке. На рисунке выделены красным</p>
<p>Сейчас галочка стоит напротив  значения&nbsp;<strong>Corner</strong>&nbsp;(Угол). Это означает, что в данной  точке кривая изгибается под острым углом, без всяких сглаживаний (что мы и  видим). </p>
<p>Рассмотрим другие типы сглаживания.<br />
  <strong>Smooth</strong>&nbsp;(Плавный) - кривая в точке сглаживается  (Рис. 9).</p>
<p><img src="{{ url_for('static', filename='img/lesson3/11.gif') }}" alt="" width="157" height="131" border="0" /> <br />
  Рис  9. Тип сглаживания Smooth. На рисунке точка обведена кружком<br /><br />
  Вы не можете  регулировать плавность изгиба. Программа сама строит скругление линии в  соответствии с исходной формой кривой в данной точке.</p>
<p><strong>Bezier</strong>&nbsp;(Кривая Безье) - кривая в точке  сглаживается по направляющим, зависящим друг от друга (Рис. 10).</p>
<p><img src="{{ url_for('static', filename='img/lesson3/12.gif') }}" alt="" width="157" height="131" border="0" /><br />
  Рис 10. Тип сглаживания&nbsp;<strong>Bezier</strong>. На рисунке точка  обведена кружком</p>
<p>Вы можете перемещать концы  направляющих (зелёные квадратики), тем самым изменяя искривление линии в точке.  При перемещении одной направляющей соответственно изменяется положение другой.  Попробуйте.</p>
<p><strong>Bezier corner</strong>&nbsp;(Угол Безье) - кривая в точке  сглаживается по направляющим, не зависящим друг от друга (Рис. 11).</p>
<p><img src="{{ url_for('static', filename='img/lesson3/13.gif') }}" alt="" width="349" height="125" border="0" /><br />
  Рис 11. Тип сглаживания Bezier  Corner. На рисунке точка обведена кружком</p>
<p>Направляющие не зависят друг от  друга, т.е. каждая направляющая отвечает только за свою &quot;половинку&quot;  линии. Таким образом можно задавать более сложные изгибы кривой, которые не  получить методом Bezier.</p>
<p>Теперь попробуйте, используя типы  сглаживания кривой в точках, сгладить нарисованный нами контур (Рис. 12). Не  забудьте выйти из режима редактирования точек по окончании работы (просто  нажмите ещё раз на значок с точками).</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="319" valign="top"><p><img src="{{ url_for('static', filename='img/lesson3/14.gif') }}" alt="" width="210" height="148" border="0" /><br />
      Было</p></td>
    <td width="319" valign="top"><p><img src="{{ url_for('static', filename='img/lesson3/15.gif') }}" alt="" width="210" height="148" border="0" /><br />
      Стало</p></td>
  </tr>
  <tr>
    <td width="638" colspan="2" valign="top"><p>Рис 12</p></td>
  </tr>
</table>
<p>Теперь у нас есть половина основы  коромысла. Как же получить вторую? Ясно, что вторая половина будет зеркальным  отображением первой. Для проведения такой операции в 3ds max существует  инструмент&nbsp;<strong>Mirror</strong>.  Он располагается на панели инструментов (Рис. 13).</p>
<p><img src="{{ url_for('static', filename='img/lesson3/16.gif') }}" alt="" width="399" height="66" border="0" /><br />
  Рис 13. Инструмент Mirror</p>
<p>Выделите кривую, нажмите Mirror.  Откроется диалоговое окно&nbsp;<strong>Mirror: Screen Coordinates </strong><strong>(</strong><strong>Рис</strong><strong>. 14)</strong><strong>.</strong></p>
<p><strong><img src="{{ url_for('static', filename='img/lesson3/17.gif') }}" alt="" width="263" height="308" border="0" /></strong><br />
  Рис 14. Диалоговое окно Mirror:  Screen Coordinates</p>
<p>Рассмотрим опции этого окна.<br />
  Раздел&nbsp;<strong>Mirror Axis</strong>: здесь мы  указываем ось (X, Y, Z), вдоль которой; либо плоскость (XY, YZ, ZX), в которой  будет происходит зеркальное отображение.<br />
  Параметр&nbsp;<strong>Offset</strong>&nbsp;задаёт расстояние, на которое  сместится копия относительно исходного положения кривой.<br />
  Раздел&nbsp;<strong>Clone Selection</strong>: в  этом разделе мы выбираем метод копирования объекта.<br />
  <strong>No Clone</strong>&nbsp;-  объект просто зеркально &quot;поворачивается&quot;.<br />
  <strong>Copy</strong>&nbsp;- создаётся  копия объекта, являющаяся его зеркальным отображением.<br />
  <strong>Instance</strong>&nbsp;- то  же, что и Copy, но при этом исходный объект и копия зависят друг от друга. Т.е.  если произвести изменения с одним из объектов, то второй изменится точно так  же.<br />
  <strong>Reference</strong>&nbsp;- то  же, что и Instance, но &quot; в одну сторону&quot;. Т.е. изменения исходного  объекта влекут за собой изменения копии, а изменения копии не влияют на оригинал.<br />
  Параметр&nbsp;<strong>Mirror IK Limits</strong>&nbsp;в данном уроке мы рассматривать не  будем. Он относится к другой обширной теме (инверсная кинематика). Оставим его  без изменений.<br />
  В нашем случае наиболее подходящий  метод копирования - это <strong>Instance</strong> (подумайте, почему).<br />
  При изменении параметров  диалогового окна <strong>Mirror</strong>: <strong>Screen Coordinates</strong> в текущем окне  проекции отображаются результаты изменений. Установив необходимую ось и метод  копирования, увеличим параметр <strong>Offset</strong> до значения, при котором копия разместится рядом с исходной кривой. После того,  как все настройки произведены, нажмём <strong>OK</strong> (Рис. 15).<br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson3/18.gif') }}" alt="" width="414" height="292" border="0" /><br />
  Рис 15. Контур коромысла, и его  копия, полученная с помощью инструмента Mirror</p>
<p>Итак, основа модели почти готова.  Теперь нужно присоединить копию к исходной кривой, чтобы получить один  замкнутый контур. Для этого необходимо конвертировать кривую в редактируемый  сплайн (<strong>Editable Spline</strong>). Только такой тип линии имеет  возможность присоединять к себе другие плоские формы. Для этого щёлкните правой  кнопкой мышки на кривой, и в появившемся контекстном меню переместитесь в пункт&nbsp;<strong>Convert To</strong>. Затем в  подменю выберите&nbsp;<strong>Convert  to Editable Spline</strong>. </p>
<p><strong>Примечание</strong><br />
  Создавая линию, мы просто щелчком  мыши указывали места узловых точек. Если щёлкнув, не отпускать кнопку мыши, то  можно придать линии в этой точке изгиб. В таком случае, линия, состоящая  изначально из &quot;плавных&quot; узлов, не нуждается в конвертировании в  редактируемый сплайн.</p>
<p>Теперь откройте вкладку&nbsp;<strong>Modify</strong>. Опуститесь в  раздел&nbsp;<strong>Geometry</strong>.&nbsp; <br />
  В этом разделе есть кнопка&nbsp;<strong>Attach </strong><strong>(Рис.  16)</strong><strong>.</strong></p>
<p><img src="{{ url_for('static', filename='img/lesson3/19.gif') }}" alt="" width="165" height="178" border="0" /><br />
  Рис 16. Инструмент Attach</p>
<p>Нажмите на неё, а затем щёлкните на  второй половинке контура коромысла. При наведении курсора на объект,  &quot;подходящий&quot; для присоединения, рядом с ним появятся кружочки (Рис.  17). Теперь они - один сплайн!</p>
<p><img src="{{ url_for('static', filename='img/lesson3/20.gif') }}" alt="" width="136" height="49" border="0" /><br />
  Рис 17. (Изменение курсора при  использовании инструмента Attach</p>
<p>Осталось совместить точки у  половинок кривой, так как контур обязательно должен быть замкнутым. Для этого  перейдите в режим редактирования точек (это Вы уже умеете), и выделите две  точки на примыкающих другу к другу частях кривой (Рис. 18).</p>
<p><img src="{{ url_for('static', filename='img/lesson3/21.gif') }}" alt="" width="414" height="292" border="0" /><br />
  Рис 18. Выделены 2 точки в месте  соединения половинок кривой</p>
<p>Затем в разделе&nbsp;<strong>Geometry</strong>&nbsp;ниже найдите кнопки&nbsp;<strong>Fuse</strong>&nbsp;и&nbsp;<strong>Weld </strong><strong>(Рис.  19)</strong>. </p>
<p><img src="{{ url_for('static', filename='img/lesson3/22.gif') }}" alt="" width="167" height="187" border="0" /><br />
  Рис  19. Кнопки&nbsp;<strong>Weld</strong>&nbsp;и&nbsp;<strong>Fuse</strong></p>
<p>Поочередно  нажмите на них.&nbsp;<strong>Fuse</strong>&nbsp;совмещает координаты выделенных точек,  т.о. они &quot;накладываются&quot; одна на другую. А&nbsp;<strong>Weld</strong>&nbsp;из двух совмещённых с помощью<strong>&nbsp;</strong><strong>Fuse</strong>&nbsp;точек делает одну. Проделайте эту же  операцию над второй парой точек (Рис. 20).</p>
<p><img src="{{ url_for('static', filename='img/lesson3/23.gif') }}" alt="" width="366" height="72" border="0" /> <br />
  Рис  20. Готовый контур коромысла</p>
<p><strong>Extrude</strong><strong><u> </u></strong></p>
<p>Итак,  контур готов. Выходим из уровня редактирования точек, и двигаемся к списку  модификаторов (<strong>Modifier List</strong>). Там выбираем модификатор&nbsp;<strong>Extrude</strong>&nbsp;- именно он выдавливает объёмную  фигуру из плоского контура (Рис. 21).</p>
<p><img src="{{ url_for('static', filename='img/lesson3/24.gif') }}" alt="" width="166" height="193" border="0" /> <br />
  Рис  21. Расположение модификатора Extrude</p>
<p>Рассмотрим  основные параметры модификатора Extrude (Рис. 22).</p>
<p><img src="{{ url_for('static', filename='img/lesson3/25.gif') }}" alt="" width="163" height="294" border="0" /> <br />
  Рис  22. Параметры модификатора Extrude</p>
<p><strong>Amount</strong>&nbsp;- главный параметр, показывает, на  сколько единиц будет &quot;выдавлена&quot; форма. Именно с помощью этого параметра мы и  придаём объём плоской форме. Единицы измерения параметра<strong>&nbsp;</strong><strong>Amount</strong>&nbsp;- это те единицы, которые вы  предварительно выставили в разделе&nbsp;<strong>Units  Setup</strong>&nbsp;меню&nbsp;<strong>Customize</strong>.<br />
  <strong>Segments</strong>&nbsp;-  количество сегментов будущей объёмной формы.<br />
  <strong>Cap Start</strong>&nbsp;и&nbsp;<strong>Cap End</strong>&nbsp;- создание плоскости в пространстве,  ограниченном контуром. Попробуйте снять эти галочки, и вы увидите, что фигура  станет &quot;дырявой&quot;, или, можно сказать, &quot;без крышки&quot;, с  одного, или другого бока.<br />
  Итак, выставив нужное  значение параметра Amount, мы получили коромысло. Осталось только наложить  текстуры, и готово!</p>
<p><strong>Lathe</strong></p>
<p>Для работы со сплайнами  очень удобен модификатор <strong>Lathe</strong> – он поворачивает  выбранный сплайн вокруг оси Axis.  Таким способом можно создавать различные поверхности с симметрией вращения,  например, бокалы, тарелки, вазы и т.д. </p>
<p>Для примера  создадим вазу. Сначала нарисуем контур, по которому будет строиться наша  модель. Для этого воспользуемся уже знакомым инструментом <strong>Line </strong>(Рис. 23). </p>
<p><img src="{{ url_for('static', filename='img/lesson3/26.jpg') }}" alt="" width="248" height="242" border="0" /> <br />
  Рис 23. Контур  для вазы</p>
<p>Далее  применим к нему модификатор <strong>Lathe</strong>. Сразу  после этого может получиться не тот результат, который мы ждали, так как ось,  вокруг которой вращается наш контур, была выбрана программой автоматически.  Чтобы это исправить, надо раскрыть список <strong>Lathe</strong> и нажать <strong>Axis</strong> (Ось), после чего можно двигать ось  так, как нам нужно, образуя вазу правильной формы (Рис. 24). </p>
<p><img src="{{ url_for('static', filename='img/lesson3/27.jpg') }}" alt="" width="481" height="540" border="0" /> <br />
  Рис 24.  Модификатор Lathe </p>
<p>В параметрах  можно увеличить количество сегментов, чтобы поверхность вазы была более ровной.  Для этого увеличиваем значение в графе <strong>Segments</strong><strong> </strong>(Рис. 25). </p>
<p><img src="{{ url_for('static', filename='img/lesson3/28.jpg') }}" alt="" width="465" height="543" border="0" /> <br />
  Рис 25.  Увеличение сегментов поверхности</p>
<p>Ваза готова,  можно придать ей толщину с помощью модификатора <strong>Shell</strong>. С одним  контуром можно получать разные вариации вазы, перемещая ось модификатора <strong>Lathe</strong> (Рис. 26).</p>
<p><img src="{{ url_for('static', filename='img/lesson3/29.jpg') }}" alt="" width="324" height="281" border="0" /> <br />
  Рис 26.  Варианты ваз в зависимости от расположения оси модификатора Lathe <br />
  </p>
<p><strong><u>Задание</u></strong></p>
<p>Теперь  самостоятельно смоделируйте фонтан и колонну с помощью инструмента <strong>Line</strong> и модификатора <strong>Lathe</strong>, и примените  материалы (Рис.27 и 28). </p>
<p><img src="{{ url_for('static', filename='img/lesson3/30.jpg') }}" alt="" width="477" height="318" border="0" /> <br />
  Рис  28. Фонтан</p>
<p><img src="{{ url_for('static', filename='img/lesson3/31.jpg') }}" alt="" width="475" height="307" border="0" /> <br />
  Рис  29. Колонны</p>