﻿<h4 class="text-underline">УРОК №13. V-Ray к атриуму и  просчет анимации, постановка камеры V-Ray Physical Camera</h4>
<p>В  данном уроке мы познакомимся мощным инструментом визуализации – V-Ray. В этой системе рендеринга можно выставлять глубину  резкости,&nbsp;создавать эффект размытия в движении. Кроме  этого,&nbsp;<strong>V-Ray </strong>имеет  собственные источники освещения, систему солнце-небосвод для реалистичного  освещения естественным светом, и физическую камеру с параметрами, аналогичными  реальным фото- и видео камерам.&nbsp;</p>
<p>Мы будем использовать <strong>V</strong><strong>-</strong><strong>Ray</strong> для рендеринга нашего атриума, который мы делали на прошлом  уроке (Рис. 1).</p>
<p><img src="{{ url_for('static', filename='img/lesson13/1.jpg') }}" alt="" width="472" height="354" /> <br />
  Рис 1. Атриум с V-Ray </p>
<p>Начнем  с настройки рендера. Заходим в <strong>Render</strong><strong> </strong><strong>Setup</strong> (горячая  клавиша F10), и в свитке <strong>Assign</strong><strong> </strong><strong>Render</strong><strong> </strong>(Назначить рендер) в графе <strong>Production</strong> щелкаем по троеточию  и выбираем<strong> </strong><strong>V</strong><strong>-</strong><strong>Ray</strong><strong> </strong><strong>Adv</strong><strong> 2.00.03 </strong>(Рис. 2). </p>
<p><img src="{{ url_for('static', filename='img/lesson13/2.png') }}" alt="" width="312" height="529" /> <br />
  Рис  2. Подключение системы визуализации V-Ray </p>
<p>Теперь перейдем в закладку <strong>Indirect</strong><strong> </strong><strong>illumination</strong>,  так как в ней находятся главные настройки визуализации (Рис. 3). </p>
<p>В свитке <strong>V</strong><strong>-</strong><strong>Ray</strong><strong>:: </strong><strong>Indirect</strong><strong> </strong><strong>illumination</strong><strong> (</strong><strong>GI</strong><strong>)</strong> ставим галочку <strong>On</strong> – включаем расчёт  отражённого света.</p>
<p>Здесь  же можно немного уменьшить насыщенность цветов, поставив <strong>Saturation</strong> меньше 1.</p>
<p>В разделе <strong>Primary</strong><strong> </strong><strong>Bounces</strong><strong> </strong>ставим <strong>Irradiance </strong><strong>m</strong><strong>ap</strong>&nbsp;- этот алгоритм основан на  кэшировании; идея состоит в том, чтобы рассчитать освещение только для  небольшого числа точек в сцене, а затем интерполировать результат для остальных  точек, что в свою очередь ускоряет рендер.</p>
<p>В разделе <strong>Secondary</strong><strong> </strong><strong>Bounces</strong> ставим<strong> </strong><strong>Light</strong><strong> </strong><strong>cache</strong> – этот параметр рассчитывает вторичное отражение света,  его влияние будет заметно рядом с темными местами сцены. Light Cache выигрывает  в скорости по сравнению с другими вариантами, и связка Irradiance Map+Light  Cache считается самой лучшей по соотношению скорость/качество.</p>
<p>В свитке <strong>V</strong><strong>-</strong><strong>Ray</strong><strong>:: </strong><strong>Irradiance</strong><strong> </strong><strong>map</strong>&nbsp;в разделе <strong>Options</strong> ставим галочку <strong>Show</strong><strong> </strong><strong>calc</strong><strong>. </strong><strong>phase</strong>, чтобы отслеживать процесс просчета.</p>
<p><img src="{{ url_for('static', filename='img/lesson13/3.png') }}" alt="" width="380" height="384" /> <br />
  Рис  3. Настройки рендера</p>
<p>Теперь  настраиваем <strong>V</strong><strong>-</strong><strong>Ray</strong><strong>:: </strong><strong>Light</strong><strong> </strong><strong>cache</strong> (Рис. 4). По  умолчанию параметр <strong>Subdivs</strong> стоит  1000, но так как он влияет на время рендера, попробуем понизить его до 200. В  нашем случае разница практически незаметна, потому что у нас мало мелких  деталей, зато время рендера значительно уменьшается.</p>
<p><img src="{{ url_for('static', filename='img/lesson13/4.png') }}" alt="" width="442" height="139" /> <br />
  Рис  4. Настройки рендера </p>
<p>Во  вкладке <strong>V</strong><strong>-</strong><strong>Ray</strong> находим <strong>V</strong><strong>-</strong><strong>Ray</strong><strong>:: </strong><strong>Image</strong><strong> </strong><strong>sampler</strong><strong> (</strong><strong>Antialiasing</strong><strong>)</strong> и включаем <strong>Antialiasing</strong><strong> </strong><strong>filter</strong> – фильтр прогрессивной развертки, другими словами – это то, как сглаживаются  пикселы на границах контрастных цветов. Полезная настройка, если мы замечаем,  что объекты на границах искажаются и рендерятся линиями. Чем больше значение в <strong>Size</strong>, тем сильнее  размываются границы и наоборот (Рис. 5).</p>
<p><img src="{{ url_for('static', filename='img/lesson13/5.png') }}" alt="" width="463" height="319" />  <br />
  Рис  5. Фильтр прогрессивной развертки </p>
<p>В  наш атриум свет будет падать через небольшое отверстие в крыше, поэтому чтобы  картинка не вышла слишком темной, немного увеличим значение гаммы в <strong>V</strong><strong>-</strong><strong>Ray</strong><strong>:: </strong><strong>Color</strong><strong> </strong><strong>mapping</strong><strong> </strong>(Рис. 6).</p>
<p><img src="{{ url_for('static', filename='img/lesson13/6.png') }}" alt="" width="441" height="130" /> <br />
  Рис  6. Увеличение значения цветовой гаммы </p>
<p>Перейдем  к освещению. Во вкладке <strong>Create</strong> заходим в <strong>Light</strong> (освещение) и  выберем источник света <strong>VRaySun</strong> (V-Ray солнце). Этот источник света примечателен тем, что создает  реалистичную окружающую среду с солнцем и небом. <strong>VRaySun</strong> изменяет свой внешний вид в зависимости  от направления (Рис. 7).</p>
<p><img src="{{ url_for('static', filename='img/lesson13/7.png') }}" alt="" width="183" height="240" /> <br />
  Рис  7. Установка освещения VRaySun </p>
<p>Установим  освещение прямо над атриумом и направим луч на статую. После первого рендера мы  получим засвеченную картинку. Это происходит из-за того, что мы поставили <strong>VRaySun</strong>, а просчет  картинки ведем из вида <strong>Perspective</strong> или из стандартной камеры (Рис. 8). </p>
<p><img src="{{ url_for('static', filename='img/lesson13/8.jpg') }}" alt="" width="472" height="354" /> <br />
  Рис  8. Засвеченная картинка</p>
<p>У  нас есть два выхода. Либо мы будем и дальше использовать вид <strong>Perspective</strong> или стандартную  камеру, и тогда нам надо будет настроить экспозицию – для этого во вкладке <strong>Rendering</strong> выбираем <strong>Environment</strong> и в открывшемся  окне в разделе <strong>Exposure</strong><strong> </strong><strong>Control</strong> ставим <strong>VRay</strong><strong> </strong><strong>Exposure</strong><strong> </strong><strong>Control</strong> (Рис. 9). </p>
<p><img src="{{ url_for('static', filename='img/lesson13/9.png') }}" alt="" width="353" height="228" /> <br />
  Рис  9. Настройка экспозиции для стандартной камеры</p>
<p>Либо  мы поставим специальную камеру <strong>V</strong><strong>-</strong><strong>Ray</strong><strong> </strong><strong>Physical</strong><strong> </strong><strong>Camera</strong>,  которую мы найдем в меню <strong>Create</strong>-&gt;<strong>Cameras</strong>-&gt;<strong>V</strong><strong>-</strong><strong>Ray</strong>-&gt;<strong>V</strong><strong>-</strong><strong>Ray</strong><strong> </strong><strong>Physical</strong><strong> </strong><strong>Camera</strong><strong> </strong>(Рис. 10). В  этом случае нам не надо настраивать экспозицию. </p>
<p><img src="{{ url_for('static', filename='img/lesson13/10.png') }}" alt="" width="501" height="323" /> <br />
  Рис  10. Постановка камеры V-Ray Physical Camera </p>
<p>Если  в нашей сцене присутствуют также стандартные источники света, такие как <strong>Omni</strong> или <strong>Direct</strong>, то для их  корректного отображения просто ставим в параметрах теней <strong>VRayShadow</strong><strong> </strong>(Рис. 11).</p>
<p><img src="{{ url_for('static', filename='img/lesson13/11.png') }}" alt="" width="177" height="490" /> <br />
  Рис  11. Настройка стандартных источников освещения при использовании V-Ray </p>
<p>Настроив нужный ракурс из окна <strong>Perspective</strong>,  бывает трудно поставить камеру точно так же. Есть небольшая хитрость, которая  решает эту проблему:<br />
  1) В окне <strong>Perspective</strong> настраиваем нужный нам ракурс.&nbsp;<br />
  2) Ставим <strong>V-Ray  Physical Camera</strong> в любом другом видовом окне.&nbsp;<br />
  3) Возвращаемся в окно <strong>Perspective</strong> (камера остается выделенной), и жмём сочетание клавиш <strong>Ctrl+C</strong>. Камера автоматически подстроится под данный ракурс.</p>
<p>В свитке параметров есть множество позиций, таких как глубина  резкости, масштабирование, управление экспозицией и другие. Мы пока будем  придерживаться стандартных настроек. Единственное, что целесообразно поменять –  это увеличить значение<strong> </strong><strong>film</strong><strong> </strong><strong>gate</strong><strong> </strong>(горизонтальный  размер фильмового канала), чтобы наша сцена помещалась в кадр (Рис. 12).</p>
<p><img src="{{ url_for('static', filename='img/lesson13/12.png') }}" alt="" width="624" height="223" /> <br />
  Рис  12. Увеличение значения film gate </p>
<p>После  того, как мы поставили физическую камеру, мы можем вернуться к настройкам  освещения. Мы не будем сейчас подробно останавливаться на возможностях <strong>VRaySun</strong>, для нас  главное – это включить отображение освещения, поставив галочку напротив <strong>Enabled</strong>, и настроить  модель неба. В нашей сцене виднеется кусочек неба, поэтому поставим <strong>CIE</strong><strong> </strong><strong>Clear</strong> в <strong>sky</strong><strong> </strong><strong>model</strong>, чтобы видеть  ясное голубое небо (Рис. 13).</p>
<p><img src="{{ url_for('static', filename='img/lesson13/13.png') }}" alt="" width="179" height="291" /> <br />
  Рис  13. Настройки освещения VRaySun </p>
<p>Чтобы  отобразить небо, зайдем в настройки окружения <strong>Rendering</strong>-&gt;<strong>Environment</strong><strong> </strong>и  в разделе <strong>Common</strong><strong> </strong><strong>Parameters</strong> выберем карту  неба <strong>VRaySky</strong><strong> </strong>(Рис. 14). </p>
<p><img src="{{ url_for('static', filename='img/lesson13/14.png') }}" alt="" width="623" height="191" /> <br />
  Рис  14. Настройка отображения неба</p>
<p>Наклоним  освещение немного в сторону, чтобы лучи падали более естественно и сделаем  рендер (Рис. 15).</p>
<p><img src="{{ url_for('static', filename='img/lesson13/1.jpg') }}" alt="" width="472" height="354" /> <br />
  Рис  15. Рендер</p>
<p>При  рендере видео есть один очень важный момент – оптимизация визуализации. Можно  ощутимо сократить время рендера, если пользоваться техникой подгрузки карты  освещенности. <strong>Irradiance</strong><strong> </strong><strong>Map</strong> карта  привязывается к камере и считает только то освещение, которое видно. Для того чтобы ее включить, зайдем в <strong>Render Setup  -&gt; Indirect illumination -&gt; Irradiance map -&gt; On render end -&gt; Auto  save</strong>. Ставим галочку, и указываем свою папку,  где даем название карте (Рис. 16). По умолчанию галочка напротив <strong>Switch</strong><strong> </strong><strong>to</strong><strong> </strong><strong>saved</strong><strong> </strong><strong>map</strong> уже стоит, это важно, так как благодаря  этому мы переключаемся на карту.</p>
<p><img src="{{ url_for('static', filename='img/lesson13/15.png') }}" alt="" width="445" height="107" /> <br />
  Рис  16. Подключение карты<strong> </strong>Irradiance map </p>
<p>Теперь  перейдем к вкладке <strong>Mode</strong>. У нас на выбор есть несколько режимов,  которые позволят нам выбрать способ  использования или повторного использования карты освещенности (Рис. 17). Итак,  по порядку.</p>
<ul>
  <li><strong>Single frame</strong>&nbsp;(Одиночный  кадр) - режим по умолчанию; для всего изображения рассчитывается одна карта  освещенности, и новая карта освещенности считается для каждого кадра. Этот  режим для просчета анимированных сцен с движущимися объектами. При этом нужно  убедиться, что карта освещенности достаточно высокого качества для  предотвращения мерцания при анимации. </li>
  <li><strong>Multiframe incremental</strong>&nbsp;(Многокадровый  с накоплением) - этот режим полезен, когда просчитывается последовательность  кадров, где движется только камера. V-Ray будет считать новую карту  освещенности для всего изображения для первого визуализируемого кадра; для всех  остальных кадров V-Ray будет пытаться повторно использовать и уточнять карту  освещенности, посчитанную ранее.</li>
  <li><strong>From file</strong>&nbsp;(Из файла)  - в этом режиме V-Ray просто загружает карту освещенности из указанного файла  перед началом просчета последовательности и будет использовать эту карту для  всех кадров анимации. Новая карта освещенности не просчитывается. Этот режим  может быть использован для анимированной камеры (fly-through animations) и  будет хорошо работать в режиме сетевого просчета.</li>
  <li><strong>Add to current map</strong>&nbsp;(Добавление  к текущей карте) - в этом режиме V-Ray будет считать полностью новую карту  освещенности и добавлять ее к карте, которая уже в памяти. Этот режим полезен,  когда составляется карта освещенности для просчета нескольких видов статической  сцены. </li>
  <li><strong>Incremental add to current map</strong>&nbsp;(Накопительное  добавление к текущей карте) - в этом режиме V-Ray будет использовать карту  освещенности, которая уже находится в памяти и будет только улучшать ее в тех  местах, где не хватает деталей. Этот режим полезен, когда считается карта  освещенности для просчета нескольких видов статической сцены или для  анимированной камеры. </li>
  <li><strong>Bucket mode</strong>&nbsp;(Режим  сегментов) - в этом режиме используются отдельные карты освещенности для  каждого просчитываемого региона. </li>
  <li><strong>Animation (prepass)</strong>&nbsp;(Анимация (предварительный проход)) - в этом режиме V-Ray  вычисляет карту освещенности, которая будет использована позже для  окончательной визуализации в режиме&nbsp;<strong>Animation (rendering)</strong>.  Для каждого кадра создается своя карта освещенности и записывается в отдельный  файл. Заметим, что в этом режиме вы должны просчитать одну карту для каждого  кадра (т.е. вы не можете визуализировать каждый N-ный кадр). В этом режиме  V-Ray автоматически запрещает визуализацию окончательного изображения -  вычисляется только карта освещенности.</li>
  <li><strong>Animation (rendering)</strong>&nbsp;(Анимация (визуализация)) - в этом режиме  V-Ray визуализирует окончательную анимацию, используя карты освещенности,  созданные в режиме <strong>Animation  (prepass)</strong>. Карты освещенности из нескольких соседних кадров  загружаются вместе и смешиваются для уменьшения мерцания.</li>
</ul>
<p>Нам  выгоднее всего использовать режим <strong>Incremental add to current map</strong>. <br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson13/16.png') }}" alt="" width="439" height="253" /> <br />
  Рис  17. Выбор режима карты освещенности</p>
<p>Теперь  переходим в раздел <strong>Light</strong><strong> </strong><strong>Cache</strong> и выполняем  похожие действия <strong>On</strong><strong> </strong><strong>render</strong><strong> </strong><strong>end</strong><strong> -&gt; </strong><strong>Auto</strong><strong> </strong><strong>save</strong>. Ставим галочку, и указываем свою  папку, нажав на <strong>Browse</strong>,  где даем название карте (Рис. 18).</p>
<p><img src="{{ url_for('static', filename='img/lesson13/17.png') }}" alt="" width="439" height="103" /> <br />
  Рис  18. Подключение карты Light Cache </p>
<p>Здесь  нам тоже нужно выбрать режим, который будет определять  режим просчета светового кэша (Рис. 19):</p>
<ul>
  <li><strong>Single frame</strong>&nbsp;(Одиночный кадр) - в этом режиме новый световой кэш считается  для каждого кадра анимации.</li>
  <li><strong>Fly-through</strong>&nbsp;(Сквозной пролет) - в этом режиме световой кэш считается  для анимации, в которой перемещается только камера. Для анализа берется только  движение камеры на активном участке времени. Световой кэш рассчитывается только  для первого визуализируемого кадра, и затем используется без изменений для всей  последовательности кадров.</li>
  <li><strong>From file</strong>&nbsp;(Из файла) - в этом режиме световой кэш грузится из файла. </li>
  <li><strong>Progressive path tracing</strong>&nbsp;(Прогрессивная трассировка лучей) - в этом режиме алгоритм  светового кэша используется для постепенного построения окончательного  изображения.&nbsp;</li>
</ul>
<p><img src="{{ url_for('static', filename='img/lesson13/18.png') }}" alt="" width="436" height="179" /> <br />
  Рис 19. Выбор режима просчета светового кэша<br />
  </p>
<p>Нам подходим режим <strong>Fly-</strong><strong>through</strong>. </p>
<p>С  помощью такого метода мы сильно сокращаем время рендера. Теперь при рендере  анимации, картинки, следующие после первой, будут визуализироваться в два раза  быстрее (Рис. 20).</p>
<p><img src="{{ url_for('static', filename='img/lesson13/19.jpg') }}" alt="" width="303" height="228" />  
  <img src="{{ url_for('static', filename='img/lesson13/20.jpg') }}" alt="" width="304" height="228" /><br />
  Рис  20. Кадры анимации: время рендера 78 секунд и 24 секунды соответственно</p>
<p><strong><u>Задание</u></strong></p>
<p>В  качестве самостоятельного задания необходимо создать анимацию камеры,  движущейся по атриуму. </p>
<p><strong><u>Рекомендации</u></strong></p>
<p>Создается  анимация с помощью перемещения физической камеры с включенным режимом <strong>Auto</strong><strong> </strong><strong>Key</strong>.</p>