﻿<h4 class="text-underline">УРОК №15. II контрольная работа: Анимация неживого  предмета</h4>
<p>Необходимо  выбрать предмет из списка в соответствии со своим вариантом, смоделировать его,  вставить скелет и создать для него анимацию. Требования:<br />
  - наличие  окружения и освещения;<br />
  - анимация на 100 кадров, зацикленная.</p>
<p>Варианты:</p>
<ol>
  <li>Стул;</li>
  <li>Стол;</li>
  <li>Ножницы;</li>
  <li>Напольная  лампа;</li>
  <li>Кровать;</li>
  <li>Ветвистое  дерево;</li>
  <li>Очки;</li>
  <li>Мангал  с углями;</li>
  <li>Гладильная  доска;</li>
  <li>Сушилка  для белья;</li>
  <li>Телескоп;</li>
  <li>Фотокамера  на штативе;</li>
  <li>Мольберт;</li>
  <li>Тумбочка  на ножках. </li>
</ol>