﻿<h4 class="text-underline">УРОК №12. Составные объекты Bevel Profile.  Моделирование атриума и его текстурирование</h4>
<p>В этом уроке мы познакомимся с модификатором <strong>Bevel </strong><strong>Profile</strong><strong> </strong>(Выдавливание со скосом по заданному профилю), который создает  из двумерных форм трехмерный объект. Он удобен тем, что применяет указанный  профиль (в виде кривой) для определения вида конечного объекта.&nbsp;Сегодня с  помощью данного модификатора мы создадим вот такой атриум (Рис. 1).</p>
<p><img src="{{ url_for('static', filename='img/lesson12/1.png') }}" alt="" width="623" height="268" /> <br />
  Рис 1. Атриум</p>
<p>В  разрезе атриум имеет форму кривой, которую мы должны начертить с помощью линии  из раздела <strong>Shapes</strong> во вкладке <strong>Create</strong>.  Обратите внимание, что линия должна быть однородной, т.е. не должна состоять из  нескольких частей (Рис. 2).</p>
<p><img src="{{ url_for('static', filename='img/lesson12/2.jpg') }}" alt="" width="469" height="389" /> <br />
  Рис  2. Профиль будущего атриума</p>
<p>Далее  начертим круг – такой формой будет наш атриум. Далее применяем к кругу (1 на  рис. 3) модификатор <strong>Bevel</strong><strong> </strong><strong>Profile</strong>, в появившихся  параметрах нажмем кнопку <strong>Pick</strong><strong> </strong><strong>Profile</strong> (Выбрать  профиль) и щелкаем по нашей траектории (2 на рис. 3).<br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson12/3.png') }}" alt="" width="469" height="327" /> <br />
  Рис  3. Применение модификатора Bevel Profile </p>
<p>После  применения модификатора может получиться вывернутая форма. Это легко исправить,  раскрыв список у <strong>Bevel</strong><strong> </strong><strong>Profile</strong>, найдя там <strong>Gizmo</strong> и повернув его  на 180 градусов (Рис. 4).</p>
<p><img src="{{ url_for('static', filename='img/lesson12/4.png') }}" alt="" width="579" height="268" /> <br />
  Рис  4. Разворачивание профиля</p>
<p>Теперь  все встало на свои места. Правда, мы видим, что круг получился угловатым. Чтобы  сделать его более ровным, просто увеличим число сегментов <strong>Interpolation</strong> у <strong>Circle</strong><strong> </strong>(Рис. 5).<br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson12/5.png') }}" alt="" width="181" height="370" /> <br />
  Рис  5. Увеличение значения Interpolation </p>
<p>Обратите  внимание, что изменяя профиль, вы автоматически меняете и сам объект. Поэтому  если вас что-то не устраивает в вашей модели атриума, займитесь профилем. <br />
Когда  основа готова, можно добавлять детали. Импортируем в нашу сцену колонну из 4го  урока. Нажмем <strong>File</strong> -&gt; <strong>Import</strong> -&gt; <strong>Merge</strong> (Объединить с  существующей сценой) (Рис. 6). </p>
<p><img src="{{ url_for('static', filename='img/lesson12/6.png') }}" alt="" width="414" height="321" /> <br />
  Рис  6. Импорт файла в сцену</p>
<p>В  диалоговом окне нужно выбрать все элементы колонны, нажав кнопку <strong>All</strong>, и нажать <strong>OK</strong> (Рис. 7).</p>
<p><img src="{{ url_for('static', filename='img/lesson12/7.png') }}" alt="" width="403" height="432" /> <br />
  Рис  7. Выделение объектов для импорта</p>
<p>Теперь  с помощью инструментов перемещения и масштабирования, добиваемся нужного  положения и размера колонны (Рис. 8).</p>
<p><img src="{{ url_for('static', filename='img/lesson12/8.png') }}" alt="" width="311" height="240" /> <br />
  Рис  8. Установка и масштабирование колонны</p>
<p>Далее  нам нужно размножить эту колонну. Если мы будем копировать ее, как мы делали  это раньше, то нам придется вручную устанавливать и поворачивать каждую из них.  Чтобы избежать этой рутины, просто сместим ось колонны в середину атриума. Для  этого выделим колонну, зайдем во вкладку <strong>Hierarchy</strong> и нажмем <strong>Affect</strong><strong> </strong><strong>Pivot</strong><strong> </strong><strong>Only</strong> (Рис. 9).</p>
<p><img src="{{ url_for('static', filename='img/lesson12/9.png') }}" alt="" width="180" height="212" /> <br />
  Рис  9. Смещение оси колонны</p>
<p>Мы  выделили ось колонны. Теперь, чтобы сместить ее ровно, сделаем выравнивание  относительно самого атриума. Щелкаем по быстрому выравниванию (<strong>Quick</strong><strong> </strong><strong>Align</strong>) на верхней панели и выбираем наш  атриум (Рис. 10). Готово! Ось колонны автоматически перескочит в свое новое  положение – в центр атриума.</p>
<p><img src="{{ url_for('static', filename='img/lesson12/10.png') }}" alt="" width="211" height="359" /> <br />
  Рис  10. Выравнивание оси колонны относительно атриума</p>
<p>Чтобы  равномерно распределить колонны, будем исходить из расчета 1 колонна на каждые  10 градусов, итого 36 колонн. Чтобы при повороте колонна автоматически  смещалась на 10 градусов, настроим угловую привязку, щелкнув по ней правой  кнопкой мыши. В появившемся окне в графе <strong>Angle</strong> (Угол) поставим значение 10 градусов  (Рис. 11).</p>
<p><img src="{{ url_for('static', filename='img/lesson12/11.png') }}" alt="" width="249" height="268" /> <br />
  Рис  11. Настройка угловой привязки</p>
<p>Теперь  выбираем инструмент вращения и с зажатой клавишей <strong>Shift</strong> поворачиваем нашу колонну на 10  градусов. В появившемся окне выставляем количество копий (<strong>Number</strong><strong> </strong><strong>of</strong><strong> </strong><strong>Copies</strong>) – 35 и жмем <strong>OK</strong><strong> </strong>(Рис. 12). </p>
<p><img src="{{ url_for('static', filename='img/lesson12/12.png') }}" alt="" width="381" height="270" /> <br />
  Рис  12. Копирование колонны</p>
<p>У  нас должно появиться 36 колонн (Рис. 13).</p>
<p><img src="{{ url_for('static', filename='img/lesson12/13.png') }}" alt="" width="549" height="201" /> <br />
  Рис  13. Скопированные колонны</p>
<p>Теперь  таким же образом вставьте колонны из 3 урока на первый этаж, так, чтобы они  стояли через каждые 20 градусов (Рис. 14).</p>
<p><img src="{{ url_for('static', filename='img/lesson12/14.jpg') }}" alt="" width="471" height="258" /> <br />
  Рис  14. Вставка колонн на первый этаж</p>
<p>Применим  к атриуму материал <strong>Sandstone</strong>, который находится в материалах <strong>Vray</strong>. Помещение сделаем  песчаным цветом, а колонны более светлым (Рис. 15). </p>
<p><img src="{{ url_for('static', filename='img/lesson12/15.png') }}" alt="" width="360" height="302" /> <br />
  Рис  15. Применение материалов к атриуму</p>
<p>Завершающим  штрихом в моделировании атриума будет импорт статуи. Найдем в интернете подходящую  скульптуру и вставим ее в нашу сцену. Наш атриум готов! (Рис. 16) Полноценный  рендер сделаем на следующем уроке, когда научимся работать с системой <strong>Vray</strong>.</p>
<p><img src="{{ url_for('static', filename='img/lesson12/1.png') }}" alt="" width="623" height="268" /> <br />
  Рис  16. Атриум</p>