﻿<h4 class="text-underline">УРОК №11. Bulge editor.  Стандартные движения MotionCapture</h4>
<p>В  данном уроке мы рассмотрим способ редактирования модели <strong>Bulge</strong><strong> </strong><strong>editor</strong> (Редактор выпуклостей) и применим  моделям движения <strong>Motion</strong><strong> </strong><strong>Capture</strong>. Но обо всем по  порядку.</p>
<p><strong>Bulge</strong><strong> </strong><strong>Editor</strong><strong> </strong></p>
<p>Для  чего нужен редактор <strong>Bulge</strong><strong> </strong><strong>Editor</strong>? Если после  того, как мы вставили в модель скелет, мы понимаем, что хотим немного преобразовать  нашу модель – изменить размеры мышц, проработать их рельефность, – то на помощь  как раз приходит <strong>Bulge</strong><strong> </strong><strong>Editor</strong><strong> </strong>(Рис. 1). Но нужно помнить, что при  удалении модификатора <strong>Physique</strong> удалятся и все наши настройки <strong>Bulge</strong><strong> </strong><strong>Editor</strong>.</p>
<p><img src="{{ url_for('static', filename='img/lesson11/1.png') }}" alt="" width="442" height="214" /> <br />
  Рис  1. До и после применения редактора Bulge Editor </p>
<p>Давайте  сделаем нашего персонажа более мускулистым. Открываем модель и в модификаторе <strong>Physique</strong> раскрываем  список и выбираем <strong>Bulge</strong>. Мы можем редактировать модель,  выбирая  <strong>Link</strong> (Звено), <strong>Cross</strong><strong> </strong><strong>Section</strong> (Сечение)  или  <strong>Control</strong><strong> </strong><strong>Point</strong><strong> </strong>(Контрольная точка) (Соответственно 1, 2  и 3 на рис. 2). Оставим по умолчанию звено, выделим правую руку модели и  перейдем в редактор <strong>Bulge</strong><strong> </strong><strong>Editor</strong> (4 на рис. 2).</p>
<p><img src="{{ url_for('static', filename='img/lesson11/2.jpg') }}" alt="" width="178" height="513" /> <br />
  Рис  2. Настройки редактора выпуклостей</p>
<p>Перед  нами появится окно с настройками. Слева отображается сечение выбранного звена,  а справа вид сбоку. На панели редактора множество кнопок, с помощью которых  можно преобразовывать выбранные области (Рис. 3). </p>
<p><img src="{{ url_for('static', filename='img/lesson11/3.png') }}" alt="" width="474" height="321" /> <br />
  Рис  3. Панель редактора выпуклостей Bulge Editor <br />
  </p>
<p>Мы  можем выделять точки и сечения <img src="{{ url_for('static', filename='img/lesson11/4.jpg') }}" alt="" width="22" height="23" />, вращать их 
  <img src="{{ url_for('static', filename='img/lesson11/5.jpg') }}" alt="" width="23" height="21" /> и  масштабировать 
  <img src="{{ url_for('static', filename='img/lesson11/6.jpg') }}" alt="" width="24" height="22" />. Мы можем сами рисовать сечения 
  <img src="{{ url_for('static', filename='img/lesson11/7.jpg') }}" alt="" width="25" height="24" />, а также просто вставлять отдельные  точки 
  <img src="{{ url_for('static', filename='img/lesson11/8.jpg') }}" alt="" width="24" height="24" /> или удалять их 
  <img src="{{ url_for('static', filename='img/lesson11/9.jpg') }}" alt="" width="30" height="24" />. Для последовательного перемещения по  звеньям можно использовать инструменты перемещения вперед 
  <img src="{{ url_for('static', filename='img/lesson11/10.jpg') }}" alt="" width="25" height="24" /> и  назад 
  <img src="{{ url_for('static', filename='img/lesson11/11.jpg') }}" alt="" width="27" height="24" />. Мы можем делать зеркальное отражение  сечений 
  <img src="{{ url_for('static', filename='img/lesson11/12.jpg') }}" alt="" width="28" height="24" />, перемещать их 
  <img src="{{ url_for('static', filename='img/lesson11/13.jpg') }}" alt="" width="26" height="24" />, создавать новые 
  <img src="{{ url_for('static', filename='img/lesson11/14.jpg') }}" alt="" width="26" height="24" /> или удалять ненужные 
  <img src="{{ url_for('static', filename='img/lesson11/15.jpg') }}" alt="" width="29" height="24" />, а также копировать 
  <img src="{{ url_for('static', filename='img/lesson11/16.jpg') }}" alt="" width="27" height="24" /> и  вставлять сечения 
  <img src="{{ url_for('static', filename='img/lesson11/17.jpg') }}" alt="" width="28" height="24" />. Кроме этого мы можем устанавливать  углы выпуклостей 
  <img src="{{ url_for('static', filename='img/lesson11/18.jpg') }}" alt="" width="28" height="24" />, вставлять новые 
  <img src="{{ url_for('static', filename='img/lesson11/19.jpg') }}" alt="" width="26" height="24" /> или удалять старые 
  <img src="{{ url_for('static', filename='img/lesson11/20.jpg') }}" alt="" width="29" height="24" />. </p>
<p>Попробуем  создать бицепс. Для этого выбираем сечение, проходящее в этом месте, и  инструментом перемещения точек расставляем точки на сечении слева так, чтобы  оболочка приняла нужный нам вид (Рис. 4).</p>
<p><img src="{{ url_for('static', filename='img/lesson11/21.png') }}" alt="" width="471" height="310" /> <br />
  Рис  4. Создание бицепса</p>
<p>Чтобы  бицепс не выглядел таким угловатым, создадим рядом с основным сечением еще два  и настроим их точки, чтобы создать плавный переход (Рис. 5).</p>
<p><img src="{{ url_for('static', filename='img/lesson11/22.png') }}" alt="" width="471" height="309" /> <br />
  Рис  5. Создание дополнительных сечений</p>
<p>Теперь  применим эти настройки для второй руки. Сначала скопируем настроенные нами  сечения правой руки (Рис. 6).</p>
<p><img src="{{ url_for('static', filename='img/lesson11/23.png') }}" alt="" width="472" height="337" /> <br />
  Рис  6. Копирование настроек сечений</p>
<p>И  теперь переходим ко второй руке и создадим рядом с основным сечением два  дополнительных. После чего с тремя выделенными сечениями просто нажимаем на  кнопку вставить сечения (Рис. 7).</p>
<p><img src="{{ url_for('static', filename='img/lesson11/24.png') }}" alt="" width="472" height="341" /> <br />
  Рис  7. Вставка скопированных сечений</p>
<p>Мы  видим, что выпуклости располагаются в нижней части. Чтобы это исправить, выделим  все точки этих трех сечений и воспользуемся инструментом отзеркаливания (Рис.  8). </p>
<p><img src="{{ url_for('static', filename='img/lesson11/25.png') }}" alt="" width="471" height="338" /> <br />
  Рис  8. Зеркальное отражение сечений</p>
<p>Готово!  Таким же образом мы можем модифицировать любую часть тела нашей модели.  Самостоятельно сделайте пресс, бицепс бедра и икры нашей модели, чтобы получить  атлетичное  телосложение (Рис. 9).</p>
<p><img src="{{ url_for('static', filename='img/lesson11/26.jpg') }}" alt="" width="309" height="333" /> <br />
  Рис  9. Атлетичное телосложение</p>
<strong>Motion</strong><strong> </strong><strong>Capture</strong><strong> </strong><strong> </strong>
<p>В  предыдущем уроке мы научились вручную создавать позы для нашей модели. А что,  если мы хотим создать сложное движение, состоящее из множества промежуточных  поз, например, прыжок с места? Мы, конечно, можем вручную выставлять положение  тела, создавая ключи анимации через каждую пару кадров, но это долго и  утомительно. Гораздо проще воспользоваться библиотекой готовых движений <strong>Motion</strong><strong> </strong><strong>Capture</strong>. Данный метод основан на захвате  движения, производимого человеком, помеченным специальными маркерами. Но мы не  будем углубляться в теорию, а рассмотрим все на практике.</p>
<p>Так  как теперь наша модель имеет спортивное телосложение, присвоим ей какую-нибудь  спортивную деятельность. Скачаем из интернета файл с расширением <strong>.</strong><strong>bip</strong><strong> </strong>и сохраним в  свою папку. Теперь выделяем любую кость и переходим в раздел <strong>Biped</strong> вкладки <strong>Motion</strong>,<strong> </strong>где нажимаем кнопку <strong>Load</strong><strong> </strong><strong>File</strong> (Загрузить файл) (Рис. 10).  </p>
<p><img src="{{ url_for('static', filename='img/lesson11/27.png') }}" alt="" width="185" height="393" /> <br />
  Рис  10. Панель Motion Capture </p>
<p>В  открывшемся окне указываем путь к файлу и нажмем <strong>OK</strong>. Видим, что наша модель изменила положение, а в  строке ключей анимации стоят метки. Это значит, что движение присвоено скелету.  Теперь можно проиграть анимацию, чтобы посмотреть, что получилось (Рис. 11).</p>
<p><img src="{{ url_for('static', filename='img/lesson11/28.jpg') }}" alt="" width="359" height="369" /> <br />
  Рис  11. Разминающийся спортсмен </p>
<p>Таким  образом можно создавать целые сцены, где люди взаимодействуют друг с другом.  Для того чтобы создать взаимодействие, нужно скопировать модель, выделив  оболочку и скелет и перетащив их в сторону с зажатой клавишей <strong>Shift</strong><strong> </strong>(Рис. 12).</p>
<p><img src="{{ url_for('static', filename='img/lesson11/29.png') }}" alt="" width="542" height="252" /> <br />
  Рис  12. Копирование модели</p>
<p>Теперь  просто замените одно движение <strong>Motion</strong><strong> </strong><strong>Capture</strong> на другое,  загрузив его в соответствующее окно. В случае если фигуры пересекаются,  необходимо отодвинуть их друг от друга. Для этого во вкладке <strong>Biped</strong> нажимаем кнопку <strong>Move</strong><strong> </strong><strong>All</strong><strong> </strong><strong>Mode</strong>, и в появившемся окне выставляем  значения по оси <strong>X</strong> и <strong>Y</strong> и градус  вращения так, чтобы фигуры не мешали друг другу. По завершении настройки  положения нажмите <strong>Collapse</strong><strong> </strong>(Рис.  13). </p>
<p><img src="{{ url_for('static', filename='img/lesson11/30.png') }}" alt="" width="474" height="192" /> <br />
  Рис  13. Смещение пересекающихся моделей</p>
<p>Осталось  только настроить количество кадров и сделать рендер. Готово! (Рис. 14)</p>
<p><img src="{{ url_for('static', filename='img/lesson11/31.jpg') }}" alt="" width="472" height="354" /> <br />
  Рис  14. Две взаимодействующие фигуры</p>