﻿<h4 class="text-underline">УРОК №4. Составные  объекты Loft</h4>
<p>Для того чтобы понять назначение  представленного в названии метода моделирования, представим себе охотничий  рожок (Рис. 1).<br />
  <img src="{{ url_for('static', filename='img/lesson4/1.jpg') }}" alt="" width="320" height="240" /><br />
  Рис 1. Рожок</p>
<p>Больше всего этот предмет похож на  согнутую трубку. Если разложить наш рожок на составляющие, то получиться круг,  &quot;протянутый&quot; вдоль оси. Причём вокруг оси трёхмерной. Если бы  направляющая кривая лежала в одной плоскости, форма содержала бы  самопересечение. Именно в этом и состоит метод построения объектов на оснвое  сечений: мы рисуем плоские контуры: сечения (одно, или несколько, в зависимости  от сложности объекта) и кривую, которая будет путём для этих сечений.  Получается объёмный предмет.</p>
<p>Инструмент, осуществляющий этот  метод -&nbsp;<strong>Loft</strong>. С  его помощью можно делать достаточно разнообразные объекты, используя  возможность редактирования сечения, установку нескольких сечений,  редактирования полученной формы с помощью специальных графиков деформации. Все  эти возможности использовались при создании охотничьего рожка.</p>
<p>Теперь, чтобы овладеть методом&nbsp;<strong>Loft</strong>-моделирования,  создадим тренировочный объект – колонну (Рис. 2).<br />
  <img src="{{ url_for('static', filename='img/lesson4/2.jpg') }}" alt="" width="320" height="240" /><br />
  Рис 2. Колонна, созданная при  помощи Loft</p>
<p>Пусть Вас не пугает сложность формы  - всё достаточно просто.<br />
  Сначала нарисуем путь, по которому будут «идти» сечения. Для этого выберем  инструмент&nbsp;<strong>Line</strong><strong>&nbsp;</strong>в&nbsp;<strong>Shape</strong><strong>&nbsp;</strong>-объектах и, поставив первую  точку, нажмем&nbsp;<strong>Shift</strong><strong>&nbsp;</strong>на клавиатуре. Это необходимо  для того, чтобы линия рисовалась абсолютно ровной (Рис. 3)<br />
  <img src="{{ url_for('static', filename='img/lesson4/3.gif') }}" alt="" width="300" height="255" /><br />
  Рис 3. Слева -  линия, созданная &quot;на глаз&quot;, справа - с использованием клавиши Shift</p>
<p>Теперь необходимо создать сечения.  Они могут располагаться в каком угодно месте сцены, главное создать их так,  чтобы у них был одинаковый масштаб, и чтобы их радиус не превышал длину пути, а  был намного меньше него: иначе объект может получиться слишком коротким (Рис.  4).<br />
  <img src="{{ url_for('static', filename='img/lesson4/4.jpg') }}" alt="" width="320" height="240" /><br />
  Рис 4. Диаметр  сечения больше длины пути</p>
<p>Нам понадобятся сечения&nbsp;<strong>Circle</strong><strong>&nbsp;</strong>(круг) и&nbsp;<strong>Star</strong><strong>&nbsp;</strong>(звезда) (Рис. 5).</p>
<p><img src="{{ url_for('static', filename='img/lesson4/5.gif') }}" alt="" width="265" height="173" /><br />
  Рис 5. Сечения</p>
<p>Для того чтобы скруглить кончики у  звезды, нам необходимо отредактировать данный объект на уровне&nbsp;<strong>Vertex</strong><strong>&nbsp;</strong>(точки). Но если мы перейдем в  параметры звезды (вкладка&nbsp;<strong>Modify</strong>),  то не увидим там таких же свойств, какие мы видели у объекта&nbsp;<strong>Line</strong>. Для этого нам  необходимо конвертировать объект&nbsp;<strong>Star</strong><strong>&nbsp;</strong>в&nbsp;<strong>Editable Spline</strong><strong>&nbsp;</strong>(редактируемый сплайн). Щёлкнув  правой кнопкой мыши на ребре этого объекта, выбираем в появившемся меню&nbsp;<strong>Convert to</strong><strong>&nbsp;</strong>(преобразовать в) <strong>=&gt;</strong>&nbsp;<strong>Editable Spline</strong>. После  этого во вкладке&nbsp;<strong>Modify</strong><strong>&nbsp;</strong>мы увидим уже знакомые нам  уровни редактирования объекта.</p>
<p><img src="{{ url_for('static', filename='img/lesson4/6.gif') }}" alt="" width="170" height="96" /><br />
  Рис 6. Уровни редактирования  сплайна</p>
<p>Теперь перейдём на уровень  редактирования&nbsp;<strong>Vertex </strong><strong>(Рис. 7).</strong></p>
<p><img src="{{ url_for('static', filename='img/lesson4/7.gif') }}" alt="" width="167" height="137" /><br />
  Рис 7. Уровень  редактирования Vertex</p>
<p>Выделим все точки у&nbsp;<strong>Star</strong><strong>&nbsp;</strong>и изменим их тип на&nbsp;<strong>Smooth</strong><strong>&nbsp;</strong>(сглаживание). Это можно  сделать, нажав на одной из выделенных точек правой кнопкой, и выбрав  соответствующий пункт в контекстном меню (Рис. 8).</p>
<p><img src="{{ url_for('static', filename='img/lesson4/8.jpg') }}" alt="" width="500" height="334" /><br />
  Рис 8. Преобразование  типа точек в Smooth</p>
<p>Теперь все приготовления сделаны.  Выделим путь, активируем инструмент&nbsp;<strong>Loft</strong>.  Он находится во вкладке&nbsp;<strong>Create  =&gt; Geometry =&gt; Compound Objects</strong><strong>&nbsp;</strong>(составные объекты). Посмотрим  теперь на появившиеся параметры инструмента&nbsp;<strong>Loft</strong><strong> (</strong><strong>Рис. 9</strong><strong>)</strong>.<strong> </strong><br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson4/9.jpg') }}" alt="" width="184" height="537" /><br />
  Рис 9. Параметры  Loft</p>
<p>Здесь мы видим две основные кнопки:&nbsp;<strong>Get Path</strong><strong>&nbsp;</strong>(указать путь) и&nbsp;<strong>Get Shape</strong><strong>&nbsp;</strong>(указать сечение). Так как у  нас путь уже выделен, и именно к нему мы применили инструмент&nbsp;<strong>Loft</strong>, то нам нужна  кнопка&nbsp;<strong>Get Shape</strong><strong>&nbsp;</strong>(указать сечение). Нажав на  нее, укажем на нарисованный ранее <strong>Circle</strong>. Должен получиться  простой цилиндр (Рис. 10).</p>
<p><img src="{{ url_for('static', filename='img/lesson4/10.gif') }}" alt="" width="296" height="175" /><br />
  Рис 10. Форма,  полученная в результате «протягивания» сечения Circle по линии</p>
<p><strong>Примечание:</strong><strong><br />
  </strong>Очень важно при работе с&nbsp;<strong>Loft</strong>&nbsp;соблюдать пропорции объекта, иначе  можно получить не вполне корректную форму и усложнить себе понимание действия  данного инструмента (вспомните пример про диаметр сечения и длину пути).<br />
  Теперь нам следует в нужных местах  разместить другие сечения. Это можно сделать, используя параметры инструмента&nbsp;<strong>Loft</strong>, которые  располагаются во вкладке&nbsp;<strong>Path  Parameters</strong><strong>&nbsp;</strong>(параметры  пути). См. рис. 9. Напомним, что все изменения с уже созданным объектом  производятся во вкладке&nbsp;<strong>Modify</strong>.</p>
<p>Значение&nbsp;<strong>Path</strong><strong>&nbsp;</strong>не может превышать значения&nbsp;<strong>100</strong><strong>&nbsp;</strong>и опускаться ниже&nbsp;<strong>0</strong>. Параметр&nbsp;<strong>Snap</strong>, который  становится активным, только если поставить галочку на&nbsp;<strong>On</strong><strong>&nbsp;</strong>справа от него, помогает задать  количество частей, на которое будет разделен наш путь. Это помогает, если Вы  хотите создать Loft -объект из нескольких сечений, отстоящих друг от друга на  равном расстоянии.</p>
<p><strong>Например:</strong><strong><br />
  <strong>Snap = 5</strong></strong>: теперь, увеличивая значение&nbsp;<strong>Path</strong>,&nbsp;вы увидите не только изменение этого  значения на равные доли (по 5), но и заметите перемещение по пути небольшого  желтого крестика (Рис. 11).</p>
<p><img src="{{ url_for('static', filename='img/lesson4/11.gif') }}" alt="" width="274" height="132" /><br />
  Рис 11. Крестик,  показывающий положение будущего сечения</p>
<p>Положение крестика указывает, где  можно поставить новое сечение. Увеличиваем значение&nbsp;<strong>Path</strong><strong>&nbsp;</strong>до&nbsp;<strong>10</strong>, и, опять нажав  кнопку&nbsp;<strong>Get Shape</strong>(получить  сечение), снова указываем на&nbsp;<strong>Circle</strong>.  Ничего существенного не произойдет, т. к. у нас появилось два одинаковых  сечения. Вот теперь изменим значение&nbsp;<strong>Snap</strong><strong>&nbsp;</strong>на&nbsp;<strong>1</strong><strong>&nbsp;</strong>и, увеличив значение&nbsp;<strong>Path</strong>&nbsp;до&nbsp;<strong>12</strong><strong>&nbsp;</strong>единиц, вставим сечение&nbsp;<strong>Star</strong>&nbsp;(снова нажимаем&nbsp;<strong>Get Shape</strong>, и  указываем на&nbsp;<strong>Star</strong>).  Обратите внимание на переход от сечения&nbsp;<strong>Circle</strong><strong>&nbsp;</strong>к&nbsp;<strong>Star</strong><strong> (Рис. 12)</strong>.<br />
  <strong><img src="{{ url_for('static', filename='img/lesson4/12.jpg') }}" alt="" width="320" height="240" /></strong><br />
  Рис 12.  Добавлено сечение Star</p>
<p><strong>Примечание:</strong><strong><br />
  </strong>Обратите внимание, что дальше главенствующим сечением стала&nbsp;<strong>Star</strong>.<br />
  Теперь переместим крестик на&nbsp;<em><strong>88</strong></em><strong>&nbsp;</strong>единиц и вставим опять сечение&nbsp;<strong>Star</strong>. После этого -  на&nbsp;<strong>90</strong><strong>&nbsp;</strong>единиц, и сечение&nbsp;<strong>Circle </strong>(Рис. 13).<br />
  <strong><img src="{{ url_for('static', filename='img/lesson4/13.jpg') }}" alt="" width="320" height="240" /></strong><br />
  Рис 13. Результаты  добавления ещё двух сечений</p>
<p>Теперь нам осталось создать  закругления на концах колонны. Сначала поставим ещё по одному сечению (<strong>Circle</strong>)  в значениях&nbsp;<strong>5</strong><strong>&nbsp;</strong>и&nbsp;<strong>95</strong>. Затем перейдём на  уровень редактирования сечения (Shape) во вкладке Modify (Рис. 14).</p>
<p><strong><img src="{{ url_for('static', filename='img/lesson4/14.jpg') }}" alt="" width="185" height="249" /></strong><br />
  Рис 14. Уровень редактирования  сечения Shape</p>
<p>Теперь мы можем редактировать  сечения объекта. Чтобы оставить &quot;открытыми&quot; начало и конец нашей  колонны, удалим первое сечение (которое стоит в нуле). Таким образом, первым  сечением становится Circle, значение Path которого равно 5. А последним -  Circle со значением Path = 95. Выделим первое и последнее установленные сечения  (Рис. 15).<br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson4/15.gif') }}" alt="" width="393" height="289" /><br />
  Рис 15. В режиме  редактирования сечений Loft-объекта выделены 2 сечения</p>
<p>И немного их увеличим с помощью  инструмента Select and Scale (Рис. 16)</p>
<p><img src="{{ url_for('static', filename='img/lesson4/16.gif') }}" alt="" width="490" height="102" />.<br />
  Рис 16.  Результат масштабирования крайних сечений</p>
<p>Необходимо помимо этих сечений  добавить еще парочку с обеих сторон. Это трудоемко, да и не нужно. Есть другой  способ.</p>
<p>В параметрах объекта&nbsp;<strong>Loft</strong><strong>&nbsp;</strong>есть раздел под названием&nbsp;<strong>Deformation</strong><strong>&nbsp;</strong>(деформации). Разверните её,  нажав на плюсик (Рис. 17).</p>
<p><img src="{{ url_for('static', filename='img/lesson4/17.gif') }}" alt="" width="164" height="154" /><br />
  Рис 17. Раздел  Deformations параметров Loft</p>
<p>Мы рассмотрим деформацию&nbsp;<strong>Scale</strong><strong>&nbsp;</strong>(масштаб). Нажав на  соответствующую кнопку, мы увидим график (Рис. 18).<br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson4/18.gif') }}" alt="" width="500" height="249" /><br />
  Рис 18. График  Scale Deformations</p>
<p>Серая линия в нуле - это ось  объекта, а красная линия - это приблизительный контур объекта. Изменяя график,  мы меняем форму объекта.<br />
Чтобы добавить точку на график, нам  необходимо воспользоваться инструментом&nbsp;<img src="{{ url_for('static', filename='img/lesson4/20.gif') }}" alt="" width="23" height="23" />. Чтобы сделать график в некоторой  точке скругленным, нужно щелкнуть на нужной точке правой кнопкой мышки, и  выбрать&nbsp;<strong>Bezier Smooth</strong><strong> (Рис. 19)</strong>.</p>
<p><img src="{{ url_for('static', filename='img/lesson4/21.gif') }}" alt="" width="120" height="62" /><br />
  Рис 19. Изменение  типа точки графика деформации</p>
<p>Появятся уже знакомые нам  направляющие, с помощью которых мы сможем изменять изгиб графика в точке.<br />
  <br />
  Итоговый график должен выглядеть так (Рис. 20).</p>
<p><img src="{{ url_for('static', filename='img/lesson4/22.gif') }}" alt="" width="500" height="250" /><br />
  Рис 20. Итоговый  график</p>
<p><strong>Примечание:</strong><strong><br />
  </strong>Если вы создали путь (объект Path) не прямым, то изменения, производимые  графиком, могут не равномерно распределяться по объекту (Рис. 21).<br />
  <img src="{{ url_for('static', filename='img/lesson4/23.jpg') }}" alt="" width="320" height="240" /><br />
  Рис 21.  Результат деформации графика при кривом пути</p>
<p>Если же Вы выполнили всё верно, то  в итоге у вас должна получиться вот такая колонна (Рис. 22). <br />
  <img src="{{ url_for('static', filename='img/lesson4/2.jpg') }}" alt="" width="320" height="240" /><br />
  Рис 22. Колонна</p>
<p><strong><u>Задание</u></strong></p>
<p>Теперь самостоятельно сделайте колонну  с помощью модификатора <strong>Loft</strong>. Затем постройте сооружение на  подобии афинского Парфенона (Рис. 23). Неровности и сколы сделайте с помощью  булевых операций. Камни на колоннах сделайте с помощью <strong>Box</strong> с  модификатором <strong>Noise</strong>. Вставьте в сцену фонтан,  который вы делали в прошлом уроке, настройте свет. На <strong>Environment</strong> поставьте картинку с греческим пейзажем.<br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson4/24.jpg') }}" alt="" width="624" height="424" /><br />
  Рис 23. Сооружение из колонн,  сделанных с помощью <strong>Loft</strong></p>