﻿<h4 class="text-underline">УРОК №9. Работа с текстурами, развертка</h4>
<p>Когда  нам нужно установить какую-либо текстуру в качестве материала, мы просто  загружаем ее в стандартный редактор материалов и присваиваем объекту. В этом  случае текстура будет натягиваться на объект, располагаясь с учетом текстурных  координат. Но иногда возникает потребность расположить какие-то части текстуры  в определенных местах. Например, чтобы нарисованные глаза совпадали с глазами  на 3d модели. Для таких случаев применяют метод  текстурной развертки – когда определенным текстурным координатам назначается  определенная часть изображения.</p>
<p>Сейчас  мы разберем метод создания текстурной развертки, а именно модификатор <strong>Unwrap</strong><strong> </strong><strong>UVW</strong>. В качестве модели будем использовать  имеющуюся у нас модель пса Плуто (Рис. 1).</p>
<p><img src="{{ url_for('static', filename='img/lesson9/1.jpg') }}" alt="" width="438" height="329" /> <br />
  Рис  1. Текстурная развертка модели пса Плуто </p>
<p>Вначале  сделаем развертку головы, поэтому скроем ненужные объекты типа ошейника.  Нажимаем по нему правой кнопкой мыши и выбираем из списка <strong>Hide</strong><strong> </strong><strong>Selection</strong> (Рис. 2). Зрачки можно удалить,  ведь мы сможем их нарисовать. Убедитесь, что уши, нос и язык не являются  элементами самой головы, иначе для них тоже придется делать развертку, хотя в  их случае достаточно стандартной библиотеки материалов. <br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson9/2.jpg') }}" alt="" width="482" height="443" /> <br />
  Рис  2. Скрытие ненужных элементов</p>
<p>Теперь  отключаем сглаживание <strong>Turbo</strong><strong> </strong><strong>Smooth</strong>, нажав на  лампочку напротив этого модификатора. Это необходимо для того, чтобы позволить  модификатору работать с меньшим количеством полигонов и тем самым увеличить  скорость работы. </p>
<p>Чтобы  создать развертку, выделяем нашу модель и находим в списке модификаторов <strong>Unwrap</strong><strong> </strong><strong>UVW</strong>. После этого на нашей модели сразу  появятся зеленые швы, грани, по которым будут сделаны разрезы для развертки –  их автоматически определила программа. Это работает с простыми объектами, но в  нашем случае нам предстоит самим определить грани разрезов. Поэтому избавляемся  от выбранных швов, сняв галочку с <strong>Map</strong><strong> </strong><strong>Seams</strong> (Рис. 3).<br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson9/3.jpg') }}" alt="" width="558" height="511" /> <br />
  Рис  3. Удаление автоматически выбранных швов</p>
<p>Чтобы  отобразить ребра модели выберем <strong>Edged</strong><strong> </strong><strong>Faces</strong>, щелкнув по  режиму отображения в окне <strong>Perspective</strong> (Рис.   4).</p>
<p><img src="{{ url_for('static', filename='img/lesson9/4.jpg') }}" alt="" width="358" height="191" /> <br />
  Рис  4. Режим отображения ребер</p>
<p>Нам  предстоит разрезать модель. Чтобы упростить развертку, разделим модель на  несколько частей: голова, глаза, верхняя челюсть, нижняя челюсть и рот. Начнем  с головы. Переходим в режим редактирования <strong>Edge</strong> и начинаем выбирать ребра, по которым  будем резать модель (Рис. 5). Удобно пользоваться сочетанием клавиш <strong>alt</strong><strong>+</strong><strong>x</strong>, который переводит модель в режим прозрачности, это  нужно для того, чтобы проверить шов.</p>
<p><img src="{{ url_for('static', filename='img/lesson9/5.jpg') }}" alt="" width="503" height="212" /> <br />
  Рис  5. Выбор ребер в режиме редактирования Edge </p>
<p>Теперь  переконвертируем их в швы. Для этого нажмем на кнопку <strong>Convert Edge  Selection To Seams</strong>. Выделенные ребра  станут голубыми – теперь это швы, по которым пойдет разрез<strong> </strong>(Рис. 6).</p>
<p><img src="{{ url_for('static', filename='img/lesson9/6.jpg') }}" alt="" width="551" height="280" /> <br />
  Рис  6. Конвертирование ребер в швы</p>
<p>Помимо  выделения ребер в режиме <strong>Edge</strong>, есть другой удобный способ – <strong>Point</strong><strong>-</strong><strong>to</strong><strong>-</strong><strong>Point</strong><strong> </strong><strong>Seams</strong> (Швы от точки до точки). Этот режим  помогает резать объект по ребрам от одной выбранной нами точки к другой, сразу  создавая швы, в отличие от режима <strong>Edge</strong>, где мы должны щелкать по каждому ребру  отдельно и потом заниматься конвертированием. Для этого переходим в режим  редактирования <strong>Vertex</strong>,  активируем режим <strong>Point</strong><strong>-</strong><strong>to</strong><strong>-</strong><strong>Point</strong><strong> </strong><strong>Seams</strong><strong> </strong>и указываем начало шва и его конец (Рис.  7). Шов сделан. Чтобы выйти из режима, щелкните правой кнопкой мыши.<br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson9/7.jpg') }}" alt="" width="624" height="223" /> <br />
  Рис 7. Режим создания швов Point-to-Point Seams</p>
<p>Таким  образом создаем швы по всей поверхности, вырезаем челюсть и глаза модели.  Теперь сделаем саму развертку. Переходим в режим редактирования полигонов – <strong>Polygon</strong>, щелкаем по  любому полигону в области нашей развертки и выбираем <strong>Expand</strong><strong> </strong><strong>Face</strong><strong> </strong><strong>Selection</strong><strong> </strong><strong>To</strong><strong> </strong><strong>Seams</strong> (Расширить  выделение по области швов) (Рис. 8).</p>
<p><img src="{{ url_for('static', filename='img/lesson9/8.jpg') }}" alt="" width="515" height="268" /> <br />
  Рис 8. Выполнение операции Expand Face Selection To Seams</p>
<p>После  этого вся поверхность, для которой мы наметили швы, выделится красным. Теперь  создадим карту оболочки (шкуры), для этого нажмем кнопку <strong>Pelt</strong><strong> </strong><strong>Map</strong> (Рис. 9).<br />
</p>
<p><img src="{{ url_for('static', filename='img/lesson9/9.png') }}" alt="" width="583" height="440" /> <br />
  Рис  9. Создание карты оболочки</p>
<p>Перед  нами появится окно настроек. Из списка<strong> </strong><strong>Pelt</strong><strong> </strong><strong>Options</strong><strong> </strong>выберем <strong>Select</strong><strong> </strong><strong>Stretcher</strong>, чтобы выделить область растягивания  оболочки (1 на рис. 10). Далее в окне редактирования развертки увеличим эту  область с помощью инструмента масштабирования, с зажатой клавишей <strong>Ctrl</strong>, чтобы сделать  это равномерно (2 на рис. 10). Это нужно для того, чтобы оболочке хватило  места, чтобы полностью развернуться.</p>
<p><img src="{{ url_for('static', filename='img/lesson9/10.jpg') }}" alt="" width="623" height="359" /> <br />
  Рис  10. Растягивание области под оболочку<br /><br />
  Теперь  нажимаем <strong>Start</strong><strong> </strong><strong>Pelt</strong> и видим, как  оболочка развернулась по тем швам, которые мы намечали. Останавливаем  разворачивание оболочки, нажав на ту же кнопку (теперь на ней написано <strong>Stop</strong><strong> </strong><strong>Pelt</strong>) (1 на рис. 11). И принимаем изменения,  нажав на кнопку <strong>Commit</strong> (2 на рис. 11).</p>
<p><img src="{{ url_for('static', filename='img/lesson9/11.jpg') }}" alt="" width="624" height="359" /> <br />
  Рис  11. Развертка оболочки</p>
<p>Сейчас  все полигоны оболочки растянуты, но их пропорции относительно модели не  сохранены. Чтобы это исправить, нужно расправить оболочку – заходим во вкладку <strong>Tools</strong> и выбираем <strong>Relax</strong> (Рис. 12).</p>
<p><img src="{{ url_for('static', filename='img/lesson9/12.jpg') }}" alt="" width="281" height="378" /> <br />
  Рис  12. Выбор инструмента Relax <br />
  </p>
<p>В  появившемся окне нам надо выбрать расправление по полигонам – <strong>Relax</strong><strong> </strong><strong>By</strong><strong> </strong><strong>Face</strong><strong> </strong><strong>Angles</strong> и задать небольшое значение в строке <strong>Amount</strong> (Величина),  например, 0,1. Жмем кнопку <strong>Start</strong><strong> </strong><strong>Relax</strong>, ждем, пока вся  оболочка расправится, и останавливаем ее – <strong>Stop</strong><strong> </strong><strong>Relax</strong>, не забыв после  этого применить изменения – <strong>Apply</strong><strong> </strong>(Рис. 13). </p>
<p><img src="{{ url_for('static', filename='img/lesson9/13.png') }}" alt="" width="513" height="218" /> <br />
Рис  13. Результат операции Relax </p>
<p>Чтобы  проверить, нет ли у вас перевернутых или пересекающихся полигонов, с выделенной  оболочкой зайдите в меню <strong>Select</strong> и поочередно проверьте наличие  перевернутых полигонов – <strong>Selects</strong><strong> </strong><strong>Inverted</strong><strong> </strong><strong>Faces</strong> и пересекающихся – <strong>Selects</strong><strong> </strong><strong>Overlapped</strong><strong> </strong><strong>Faces</strong><strong> </strong>(Рис. 14). Если какие  то места выделяются красным цветом, значит, там есть ошибка, нужно вернуться к  модели и исправить ее, либо отредактировать вручную, выбрав режим <strong>Vertex</strong> в нижней части  окна <strong>Edit</strong><strong> </strong><strong>UVWs</strong>.</p>
<p><img src="{{ url_for('static', filename='img/lesson9/14.jpg') }}" alt="" width="356" height="209" /> <br />
  Рис  14. Проверка на наличие перевернутых или пересекающихся полигонов</p>
<p>Если  все в порядке, то закрываем редактор и продолжаем работать с нашей моделью. В  результате, у нас должно получиться 5 оболочек. Теперь уменьшим наши оболочки  инструментом масштабирования и разместим их в квадратике, возвращая изначальные  пропорции (Рис. 15).<br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson9/15.png') }}" alt="" width="459" height="460" /> <br />
  Рис  15. Оболочки</p>
<p>Когда  все готово, отрендерим наши оболочки, чтобы приступить к дальнейшей работе с  ними. Заходим в меню <strong>Tools</strong> и выбираем <strong>Render</strong><strong> </strong><strong>UVW</strong><strong> </strong><strong>Template</strong><strong> </strong>(Рис.  16).</p>
<p><img src="{{ url_for('static', filename='img/lesson9/16.jpg') }}" alt="" width="313" height="390" /> <br />
  Рис  16. Меню рендера<br />
  </p>
<p>В  появившемся меню увеличиваем размер карты до 2048х2048, чтобы можно было  сделать более качественное изображение, и оставляем только <strong>Visible</strong><strong> </strong><strong>Edges</strong> (Видимые грани). Нажимаем <strong>Render</strong><strong> </strong><strong>UV</strong><strong> </strong><strong>Template</strong> и получаем нашу  текстуру (Рис. 17). Сохраняем изображение в окне рендера – <strong>Save</strong><strong> </strong><strong>Image</strong>, указываем имя, папку и разрешение (.jpg).  Также  можно сохранить сам файл развертки – в редакторе <strong>Edit</strong><strong> </strong><strong>UVWs</strong> выбрать <strong>File</strong>-&gt;<strong>Save</strong><strong> </strong><strong>UVs</strong>.</p>
<p><img src="{{ url_for('static', filename='img/lesson9/17.png') }}" alt="" width="624" height="522" /> <br />
Рис  17. Результат рендера оболочки</p>
<p>Теперь  приступим к созданию материала. Заходим в <strong>Adobe</strong> <strong>Photoshop</strong> и загружаем нашу текстуру. Задаем  основной цвет, добавляем текстуру шерсти, рисуем глаза, рот, бровки (Рис. 18).  Сохраняем с разрешением .jpg. <br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson9/18.jpg') }}" alt="" width="624" height="309" /> <br />
  Рис  18. Создание текстуры средствами Adobe Photoshop </p>
<p>Возвращаемся  в 3ds max.  Открываем редактор материалов, выбираем свободный слот со стандартным  материалом и напротив графы <strong>Diffuse</strong> нажимаем кнопку и загружаем в <strong>Bitmap</strong> нашу текстуру,  сделанную в фотошопе (Рис. 19).<br />
</p>
<p><img src="{{ url_for('static', filename='img/lesson9/19.jpg') }}" alt="" width="624" height="579" /> <br />
Рис  19. Загрузка текстуры</p>
<p>Осталось  только применить материал к модели. Тем элементы, для которых мы не делали  развертку, присвоим стандартные цвета из библиотеки материалов. Также перетащим  модификатор сглаживания поверх развертки и снова активируем его, нажав на  лампочку. Все спрятанные элементы сделаем видимыми, выбрав Unhide All  из списка, появившегося при щелчке правой кнопкой мыши. В качестве завершающего  штриха настроим освещение и отрендерим. Готово! (Рис. 20)</p>
<p>
  <img src="{{ url_for('static', filename='img/lesson9/1.jpg') }}" alt="" width="305" height="229" /> 
  <img src="{{ url_for('static', filename='img/lesson9/20.jpg') }}" alt="" width="305" height="229" /> <br />
  Рис  20. Результат работы</p>
<p><strong><u>Задание</u></strong></p>
<p>В  качестве самостоятельного задания девочки создают текстуру накрашенного Плуто  (ресницы, тени, румяна, помада), а мальчики – побитого (царапины, синяки,  грязь). </p>