﻿<h4 class="text-underline">УРОК №8. I контрольная работа: Моделирование  окружения</h4>
<p>Необходимо  смоделировать окружение в соответствии с темой, выбранной из списка (согласно  варианту). Требования:<br />
  -  комната с обязательным набором элементов (7 объектов – 2 из которых  анимированы);<br />
  -  анимация на 100 кадров, зацикленная. </p>
<p>Варианты:</p>
<ol>
  <li>Лесная  хижина;</li>
  <li>Космическая  станция;</li>
  <li>Шатер  в пустыне;</li>
  <li>Инопланетное  жилище;</li>
  <li>Школьный  кабинет;</li>
  <li>Заброшенный  дом;</li>
  <li>Подводная  станция;</li>
  <li>Каюта  на корабле;</li>
  <li>Зал  кинотеатра;</li>
  <li>Библиотека;</li>
  <li>Степной  вигвам;</li>
  <li>Эскимосское  иглу;</li>
  <li>Сауна;</li>
  <li>Японская  спальня;</li>
  <li>Музей;</li>
  <li>Египетская  пирамида;</li>
  <li>Бар;</li>
  <li>Руины  древнего храма;</li>
  <li>Спортивный  зал;</li>
  <li>Ванная  комната;</li>
  <li>Землянка;</li>
  <li>Вагон  поезда;</li>
  <li>Тюремная  камера;</li>
  <li>Станция  метро;</li>
  <li>Вилла  у моря;</li>
  <li>Офис  на последнем этаже небоскреба;</li>
  <li>Подземный  тоннель;</li>
  <li>Ночной  клуб;</li>
  <li>Чердак;</li>
  <li>Пещера.</li>
</ol>