﻿<h4 class="text-underline">УРОК №6. Работа с источниками света Spot, Direct, Omni </h4>
<p>До настоящего момента мы использовали для освещения сцены, стандартный  источник света&nbsp;<strong>Omni&nbsp;</strong>(лампочка). Теперь рассмотрим оставшиеся стандартные источники света, такие  как&nbsp;<strong>Spot</strong>&nbsp;и <strong>Direct</strong>. Различия этих двух источников заключается только в их принципе освещения,  если&nbsp;<strong>Spot</strong>&nbsp;– это точечный источник света, все&nbsp;лучи исходят из  одной точки, то у&nbsp;<strong>Direct</strong>&nbsp;все&nbsp;лучи идут  параллельно. Мы будем рассматривать источник света <strong>Spot</strong>&nbsp;т. к. все основные параметры у источников света  практически одинаковые.</p>
<p><strong>Источник света&nbsp;</strong><strong>Spot</strong><strong> </strong></p>
<p>Данный источник предназначен для имитации освещения, например, фонариком,  фонарем и т.д. Одним словом он применяется там, где нужно осветить какой-то  фрагмент сцены (Рис. 1). </p>
<p><img src="{{ url_for('static', filename='img/lesson6/1.jpg') }}" alt="" width="509" height="382" /> <br />
  Рис 1. Пример использования источника света Spot </p>
<p>Источник&nbsp;<strong>Spot</strong>&nbsp;бывает  двух типов:&nbsp;<strong>Free&nbsp;</strong>(свободный)<strong> </strong>и <strong>Target&nbsp;</strong>(направленный) (Рис. 2).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/2.jpg') }}" alt="" width="397" height="248" /> <br />
  Рис 2. Слева – Target Spot, справа – Free Spot</p>
<p>Мы будем работать с&nbsp;<strong>Target&nbsp;Spot</strong>, так как он наиболее  сложен. Изучим основные параметры освещения на примере комнаты с решеткой. За основу  возьмем ту сцену, которую мы делали в 1 уроке, только вместо стекла в оконный  проем вставим решетку, сделанную с помощью размноженного цилиндра (Рис. 3).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/3.jpg') }}" alt="" width="509" height="382" /> <br />
  Рис  3. Комната-заготовка </p>
<p>В  сцене у нас было 2 источника света, удаляем тот, что находится снаружи комнаты,  а у того, что внутри, уменьшаем интенсивность до значения <strong>Multiplier</strong>=0,05. Это  делается для того, чтобы мы видели объекты в сцене, но чтобы это освещение не  было главным. Вставим в сцену <strong>Target</strong><strong> </strong><strong>Spot</strong> (Рис. 4).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/4.jpg') }}" alt="" width="182" height="226" /> <br />
  Рис 4. Выбор освещения Target Spot </p>
<p>Выделим сам источник и зайдем во вкладку&nbsp;<strong>Modify</strong>, что бы увидеть параметры источника.</p>
<p><strong>Параметры источника света&nbsp;</strong><strong>Spot</strong><br />
</p>
<p>Первый параметр – это&nbsp;<strong>Shadows&nbsp;</strong><strong>-&gt;</strong><strong>&nbsp;on</strong>&nbsp;(включить отбрасывание теней) (Рис. 5).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/5.jpg') }}" alt="" width="176" height="186" /> <br />
Рис  5. Параметры, включающие тень</p>
<p>В этом же свитке&nbsp;<strong>General&nbsp;Parameters&nbsp;</strong>(основные параметры) располагается функция  исключения из освещения источником указанных объектов <strong>Exclude</strong><strong>…</strong> (см. Рис. 5). Для примера исключим из освещения стол.  Нажмем на <strong>Exclude</strong>, появится диалоговое окно (Рис. 6).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/6.jpg') }}" alt="" width="472" height="337" /> <br />
  Рис  6. Диалоговое окно операции исключения Exclude </p>
<p>Элементы стола были объединены в группу 006, найдем ее в списке  слева и с помощью кнопки &gt;&gt; добавим ее в правое окно. Теперь  провизуализируем изображение (Рис. 7).</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="319" valign="top"><p><img src="{{ url_for('static', filename='img/lesson6/1.jpg') }}" alt="" width="304" height="228" /></p></td>
    <td width="319" valign="top"><p><img src="{{ url_for('static', filename='img/lesson6/7.jpg') }}" alt="" width="304" height="228" /></p></td>
  </tr>
  <tr>
    <td width="319" valign="top"><p>До исключения</p></td>
    <td width="319" valign="top"><p>После исключения</p></td>
  </tr>
</table>
<p>Рис  7. Результат исключения стола из освещения</p>
<p>Так как данную сцену подсвечивает еще один источник света&nbsp;<strong>Omni</strong>, чтобы  полностью убрать стол из освещения, в&nbsp;<strong>Omni</strong>&nbsp;нужно  воспользоваться той же функцией&nbsp;<strong>Exclude</strong>.</p>
<p>Рассмотрим теперь возможность менять интенсивность освещения и  цвет источника света. Перейдем в свиток&nbsp;<strong>Intensity/Color/Attenuation&nbsp;</strong>(Рис.  8).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/8.jpg') }}" alt="" width="177" height="116" /> <br />
  Рис 8. Параметры&nbsp;Multiplier&nbsp;– интенсивность и цвет  света</p>
<p>По умолчанию у всех источников света стоит интенсивность 1,0. Этот параметр  следует менять, если не устраивает уровень освещенности предмета (Рис. 9).</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="319" valign="top"><p><img src="{{ url_for('static', filename='img/lesson6/1.jpg') }}" alt="" width="298" height="224" /></p></td>
    <td width="319" valign="top"><p><img src="{{ url_for('static', filename='img/lesson6/9.jpg') }}" alt="" width="298" height="224" /></p></td>
  </tr>
  <tr>
    <td width="319" valign="top"><p>Multiplier=1</p></td>
    <td width="319" valign="top"><p>Multiplier=3 </p></td>
  </tr>
</table>
<p>Рис 9. Интенсивность освещения</p>
<p>Если мы захотим поменять цвет, то необходимо щелкнуть на белом  прямоугольнике (см. Рис. 8). Это бывает необходимо, если нам, например, нужно  создать ультрафиолетовое освещение (Рис. 10). Но так как сам синий цвет гораздо  темнее белого, то интенсивность следует поднять до 2.0. </p>
<p><img src="{{ url_for('static', filename='img/lesson6/10.jpg') }}" alt="" width="516" height="387" /> <br />
  Рис  10. Изменение цвета освещения на синий</p>
<p>Теперь рассмотрим свиток&nbsp;<strong>Spotlight&nbsp;Parameters</strong>&nbsp;(Рис. 11).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/11.jpg') }}" alt="" width="624" height="204" /> <br />
  Рис 11. Параметры&nbsp;свитка&nbsp;Spotlight Parameters </p>
<p>В луче объекта&nbsp;<strong>Spot</strong>&nbsp;присутствуют два конуса.  Параметр&nbsp;<strong>Hotspot</strong><strong>/</strong><strong>Beam&nbsp;</strong>задает радиус основания ярко-желтого  конуса, а&nbsp;<strong>Falloff</strong><strong>/</strong><strong>Field</strong> тускло-желтого. Разница  между этими двумя параметрами задает зону перехода от абсолютно освещенной  данным источником света поверхности к абсолютно не освещенной. Разница между  этими радиусами не может быть менее 2 (Рис. 12). Также можно выбрать тип  луча:&nbsp;<strong>Circle</strong>&nbsp;и&nbsp;<strong>Rectangle</strong>. Соответственно  при визуализации луч примет заданную форму.</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="319" valign="top"><p><img src="{{ url_for('static', filename='img/lesson6/12.jpg') }}" alt="" width="312" height="234" /></p></td>
    <td width="319" valign="top"><p><img src="{{ url_for('static', filename='img/lesson6/13.jpg') }}" alt="" width="312" height="234" /></p></td>
  </tr>
  <tr>
    <td width="319" valign="top"><p>Размытая граница света и тени (разница между Hotspot/Beam и Falloff/Field равна 19) </p></td>
    <td width="319" valign="top"><p>Четкая граница света и тени (разница между Hotspot/Beam и Falloff/Field равна 2) </p></td>
  </tr>
</table>
<p>Рис 12. Разница между радиусами Hotspot/Beam&nbsp;и Falloff/Field </p>
<p>Следующий свиток&nbsp;<strong>Shadow&nbsp;Parameters&nbsp;</strong>(параметры тени). В  данной вкладке можно изменить плотность тени&nbsp;<strong>Dens</strong>, цвет.  Рекомендуемое значение&nbsp;<strong>Dens</strong><strong>. = 0,8</strong>, но если мы  хотим создать более плотную тень, то ставим значение больше, например, 1 (Рис.  13).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/14.jpg') }}" alt="" width="176" height="183" /> <br />
  Рис 13. Параметры тени</p>
<p>В источниках света присутствует возможность загрузки изображения. Т.е. источник  будет светить какой-то текстурой. Ее можно загрузить в свитке <strong>Advanced</strong><strong> </strong><strong>Effects</strong> (дополнительные эффекты) (Рис. 14).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/15.jpg') }}" alt="" width="177" height="166" /> <br />
  Рис 14. Параметры&nbsp;Advanced&nbsp;Effect </p>
<p>В группе&nbsp;<strong>Projector&nbsp;Map&nbsp;</strong>есть кнопка&nbsp;<strong>None</strong><strong>,&nbsp;</strong>если на нее нажать, то  мы попадем в знакомое нам окно загрузки процедурных текстур (Рис. 15).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/16.jpg') }}" alt="" width="490" height="358" /> <br />
  Рис 15. Диалоговое окно&nbsp;Material/Map&nbsp;Browser </p>
<p>Теперь выберем текстуру, которой будет светить наш&nbsp;<strong>Spot</strong>. В жизни пример данному  эффекту представлен в виде проектора в кино.</p>
<p>Текстуру лучше выбирать контрастную. Яркость источника света после загрузки  текстуры будет зависеть от цветов картинки, которая была использована. Если  картинка блеклая, то и свет будет тусклым, поэтому нужно поиграться с  интенсивностью света для достижения наилучшего эффекта. Выбрав текстуры,  например фотографию, мы нажимаем кнопку <strong>OK</strong>. Теперь вместо&nbsp;<strong>None</strong>&nbsp;на кнопке появилось название файла картинки (Рис.16).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/17.jpg') }}" alt="" width="163" height="49" /> <br />
  Рис 16. Название картинки появилось в окне Map </p>
<p>Теперь провизуализируем сцену (Рис. 17).<br /><br />
  <img src="{{ url_for('static', filename='img/lesson6/18.jpg') }}" alt="" width="507" height="380" /> <br />
  Рис 17. Результат визуализации с использованием текстуры воды</p>
<p>Теперь отключим картинку, убрав галочку слева от кнопки (см. Рис. 16).</p>
<p><strong>Атмосферные эффекты в источниках света</strong></p>
<p>В источниках света всего 2 эффекта:&nbsp;<strong>Volume&nbsp;Light</strong>&nbsp;(объемный свет) и <strong>Lens</strong><strong> </strong><strong>Effects</strong> (эффект линз). Начнем с&nbsp;<strong>Volume&nbsp;Light</strong><strong>.&nbsp;</strong>Для этого зайдем в свиток <strong>Atmosphere</strong><strong> &amp; </strong><strong>Effects&nbsp;</strong>и нажмем там кнопку <strong>Add&nbsp;</strong>добавить. Появится окно  выбора, в котором нужно указать эффект (Рис. 18).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/19.jpg') }}" alt="" width="561" height="269" /> <br />
  Рис 18. Место расположения эффекта&nbsp;Volume&nbsp;Light </p>
<p>Перед визуализацией установите значение&nbsp;<strong>Multiplier</strong><strong>&nbsp;= 0,5</strong>,<strong>&nbsp;</strong>иначе плотность объемного света будет  слишком большой. Теперь провизуализируем сцену (Рис. 19). </p>
<p><img src="{{ url_for('static', filename='img/lesson6/20.jpg') }}" alt="" width="509" height="382" /> <br />
  Рис 19. Результат визуализации с объемным светом</p>
<p>Объемный свет можно настраивать, зайдя в его параметры. Это можно сделать,  выделив эффект и нажав кнопку&nbsp;<strong>Setup&nbsp;</strong>(Рис. 20).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/21.jpg') }}" alt="" width="178" height="183" /> <br />
  Рис 20. Расположение кнопки Setup </p>
<p>После этого откроется диалоговое окно, в котором можно настроить цвет  тумана и его плотность –&nbsp;<strong>Density</strong> (Рис. 21).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/22.jpg') }}" alt="" width="329" height="192" /> <br />
  Рис 21. Параметры&nbsp;Volume&nbsp;Light</p>
<p>Теперь попробуем включить текстуру, которую мы выключили, поставив галочку (см.  рис. 16). Провизуализируем изображение (Рис. 22).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/23.jpg') }}" alt="" width="511" height="383" /> <br />
  Рис 22. Результат визуализации с использованием текстуры и объемного света</p>
<p>Лучи появились за счет того, что картинка-текстура имеет разные цвета,  через белый цвет свет идет хорошо, а через черный совсем не идет, поэтому если  загрузить текстуру,&nbsp;&nbsp;в которой есть черный фон и белые точки на нем,  мы получим много маленьких лучей. Если эти точки размыть, то лучи станут более  расплывчатыми.</p>
<p>Теперь рассмотрим&nbsp;<strong>Lens&nbsp;Effect</strong><strong>.&nbsp;</strong>Для этого нам нужно  сделать так, что бы источник света был виден в видовом окне (Рис. 23).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/24.jpg') }}" alt="" width="624" height="281" /> <br />
  Рис 23. Результаты настройки видового окна перспектива</p>
<p>Что бы видовое окно смотрелось как на рис. 23, нужно:<br />
  1)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Изменить  ракурс;<br />
  2)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Изменить  угол обзора (см. Рис. 23).</p>
<p>Теперь нужно удалить&nbsp;<strong>Volume&nbsp;Light&nbsp;</strong>т. к. мы рассмотрели его, и он нам больше  не понадобится. Для этого выделим его в свитке&nbsp;<strong>Atmosphere</strong><strong>&nbsp;&amp;&nbsp;</strong><strong>Effects</strong>&nbsp;и, выбрав его, нажмем на кнопку&nbsp;<strong>Delete</strong><strong>.</strong></p>
<p>Теперь нажмем на опять на&nbsp;<strong>Add</strong>&nbsp;и добавим&nbsp;<strong>Lens&nbsp;Effect</strong>. Если сейчас провизуализировать  сцену, ничего видно не будет. Это потому что мы не настроили&nbsp;<strong>Lens&nbsp;Effect</strong><strong>.</strong></p>
<p><strong>Параметры&nbsp;</strong><strong>Lens&nbsp;Effect</strong><strong> </strong></p>
<p>Выберем&nbsp;<strong>Lens&nbsp;Effect</strong>&nbsp;и нажмем кнопку&nbsp;<strong>Setup</strong>. Как и в случае с Volume Light, появятся параметры  данного эффекта (Рис. 24).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/25.jpg') }}" alt="" width="357" height="511" /> <br />
  Рис 24. Параметры&nbsp;Lens&nbsp;Effects </p>
<p>В свитке&nbsp;<strong>Lens&nbsp;Effect&nbsp;Parameters</strong>&nbsp;мы увидим два окна: слева список эффектов, справа пусто (туда их нужно  добавить, тогда они появятся в сцене).<br />
  Добавляем первый эффект&nbsp;<strong>Glow</strong>&nbsp;с помощью стрелочки в  правое окно. И для того, что бы видеть результаты изменения или постановки  нового эффекта ставим галочку на <strong>Interactive</strong><strong> </strong>(Рис. 25). </p>
<p><img src="{{ url_for('static', filename='img/lesson6/26.jpg') }}" alt="" width="624" height="387" /> <br />
  Рис 25. Результат действия опции&nbsp;Interactive&nbsp;и эффекта&nbsp;Glow </p>
<p>Как видно из рис. 25, действие эффекта&nbsp;<strong>Glow</strong>&nbsp;очень маленькое. Необходимо его настроить. Для этого мы сделаем его  активным в правом окошке, в которое он только что был нами добавлен, и  прокрутим меню вниз, пока не увидим свиток&nbsp;<strong>Glow</strong><strong> </strong><strong>Element</strong><strong> </strong>(Рис. 26).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/27.jpg') }}" alt="" width="333" height="245" /> <br />
  Рис 26. Параметры элемента&nbsp;Glow <br />
  &nbsp;                                             <br />
  Теперь, когда мы будем добавлять новый эффект, его параметры будут доступны  таким же образом во время его выделения.</p>
<p>Для наибольшей реалистичности зададим&nbsp;<strong>Glow</strong>&nbsp;следующие параметры:<br />
  1)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Size</strong>&nbsp;(размер свечения) =&nbsp;<strong>50</strong>;<br />
  2)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Intensity&nbsp;</strong>(интенсивность свечения)  =&nbsp;<strong>150</strong>.</p>
<p>Результатом данных настроек будет служить следующая картинка (Рис. 27).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/28.jpg') }}" alt="" width="513" height="384" /> <br />
  Рис 27. Результат настройки&nbsp;Glow </p>
<p>Теперь добавим эффект&nbsp;<strong>Ray</strong><strong> </strong>(лучи)<strong>&nbsp;</strong>и зададим ему следующие  параметры:<br />
  1)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Size</strong>&nbsp;(размер, область действия) =&nbsp;<strong>5</strong>;<br />
  2)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Intensity&nbsp;</strong>(интенсивность свечения)  =&nbsp;<strong>150</strong>;<br />
  3)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Num&nbsp;</strong>(кол-во лучей) =&nbsp;<strong>13</strong>;<br />
  4)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Sharp&nbsp;</strong>(резкость лучей) =&nbsp;<strong>3</strong>.</p>
<p>Результатом данных настроек будет служить следующая картинка (Рис. 28).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/29.jpg') }}" alt="" width="511" height="383" /> <br />
  Рис 28. Результат настройки элемента&nbsp;Ray</p>
<p>Теперь добавим эффект&nbsp;<strong>Streak&nbsp;</strong>и зададим ему следующие настройки:<br />
  1)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Size</strong>&nbsp;(размер, область действия) =&nbsp;<strong>20</strong>;<br />
  2)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Intensity&nbsp;</strong>(интенсивность свечения)  =&nbsp;<strong>80</strong>;<br />
  3)      <strong>Width</strong> (ширина луча) = <strong>1</strong>; <br />
  4)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Angle&nbsp;&nbsp;</strong>(угол поворота луча) =&nbsp;<strong>30</strong>;<br />
  5)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Sharp&nbsp;</strong>(резкость лучей) =&nbsp;<strong>8</strong>.</p>
<p>Результатом данных настроек будет служить следующая картинка (Рис. 29).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/30.jpg') }}" alt="" width="509" height="382" /> <br />
  Рис 29. Результат настройки эффекта&nbsp;Streak </p>
<p>Теперь добавим эффект&nbsp;<strong>Auto</strong><strong> </strong><strong>Secondary</strong><strong> – </strong>эффект преломления в линзах камеры. И зададим эффекту следующие параметры:<br />
  1)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Min</strong>&nbsp;(минимальный  размер колец преломления)=&nbsp;<strong>0,5</strong>;<br />
  2)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Max</strong>&nbsp;(максимальный  размер колец преломления) =&nbsp;<strong>10</strong>;<br />
  3)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Axis</strong>&nbsp;(ось смещения колец)&nbsp;=&nbsp;<strong>3</strong>; <br />
  4)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Intensity</strong>&nbsp;(интенсивность)&nbsp;=&nbsp;<strong>40</strong>;<br />
  5)      <strong>Qty</strong> (количество колец) = <strong>10</strong>.</p>
<p>Результатом данных настроек будет служить следующая картинка (Рис. 30).</p>
<p><img src="{{ url_for('static', filename='img/lesson6/31.jpg') }}" alt="" width="508" height="381" /> <br />
  Рис 30. Результат настройки эффекта&nbsp;Auto Secondary </p>
<p>Остальные эффекты повторяют функции уже разобранных эффектов: <strong>Star</strong> (звезда – появление  «толстых» лучей),&nbsp;<strong>Manual&nbsp;Secondary&nbsp;</strong>(действует по принципу <strong>Auto</strong><strong> </strong><strong>Secondary</strong>, только больше самостоятельных настроек) и <strong>Ring</strong> (круг – появление светящегося круга вокруг источника).</p>
