﻿<h4 class="text-underline">УРОК №14. Моделирование окружения,  настройка камер, особенности создания видео</h4>
<p>В  данном уроке мы будем моделировать окружение для финального ролика, научимся  настраивать камеры и поговорим об особенностях создания видео. А так как тема  довольно большая, разобьем ее на три части: создание сцены, вставка персонажа и  анимация камер.</p>
<p><strong>Часть 1: создание сцены</strong></p>
<p>При  создании сцены, обратите внимание, что ваш персонаж обязательно должен  взаимодействовать с окружающей средой, должен реагировать на происходящее вокруг.  Поэтому заранее продумайте сюжет вашего ролика.</p>
<p>Взяв  за основу атриум, сделанный на прошлом уроке, усложним сцену, добавив такие  элементы как трава (Рис. 1).</p>
<p><img src="{{ url_for('static', filename='img/lesson14/1.jpg') }}" alt="" width="509" height="381" /> <br />
  Рис  1. Трава</p>
<p>и  деревья (Рис. 2).<br />
  </p>
<p><img src="{{ url_for('static', filename='img/lesson14/2.jpg') }}" alt="" width="510" height="383" /></p>
<p>Рис  2. Деревья</p>
<p>Так  как обязательным условием ролика является взаимодействие персонажа со средой,  создадим поток светящихся частиц, падающих с неба. Для этого заходим во вкладку <strong>Create</strong><strong>-&gt;</strong><strong>Particle</strong><strong> </strong><strong>System</strong><strong>-&gt;</strong><strong>Snow</strong>, создаем плоскость, из которой будем исходить данный  поток и настраиваем под свою сцену, изменяя размер, объем и скорость снежинок  (Рис. 3). </p>
<p><img src="{{ url_for('static', filename='img/lesson14/3.jpg') }}" alt="" width="510" height="383" /> <br />
  Рис 3.  Снежинки</p>
<p><strong>Часть 2: вставка персонажа</strong></p>
<p>Импортируем  в сцену нашего персонажа и создадим для него движение (Рис. 4).</p>
<p><img src="{{ url_for('static', filename='img/lesson14/4.jpg') }}" alt="" width="508" height="381" /> <br />
  Рис  4. Персонаж в позе №1</p>
<p><strong>Часть 3: анимация камер</strong></p>
<p>Правильная  постановка камер – едва ли не главный фактор удачности будущего видеоролика. Прежде  всего, запомним, что камера должна всегда двигаться, у нас не должно быть  статичных кадров. Каждая камера должна отснимать не менее 5 секунд видео со  своего ракурса. Минимум должно быть 3 камеры, таким образом, минимальный объем  ролика – 15 секунд. Камеры необходимо создать следующие:</p>
<ol>
  <li>Ознакомительная  – знакомит со сценой. Камера медленно плывет по сцене и приближается к месту,  где стоит персонаж. Можно выбрать один из следующих вариантов:</li>
		<ul class="ul-margin">
		  <li>Постепенно  опускается вниз на сцену;</li>
		  <li>Камера  стоит в сцене, смотрит в другую сторону, а потом разворачивается к персонажу;</li>
		  <li>камера  медленно выходит из-за объекта.</li>
		</ul>
  <li>Камера  рядом с персонажем. Она «смотрит», что он делает. Выбираем любой из вариантов:</li>
		<ul class="ul-margin">
		  <li>Стоит  на уровне с персонажем и смотрит на него;</li>
		  <li>Стоит  на земле и смотрит на персонажа;</li>
		  <li>Камера  постепенно вращается максимум на 180 градусов вокруг персонажа.</li>
		</ul>
  <li>Камера,  которая демонстрирует взаимодействие персонажа со средой. Снова выбираем из  вариантов:</li>
		<ul class="ul-margin">
		  <li>Медленно  вращаясь на 180 градусов максимум сверху опускается, приближается к персонажу;</li>
		  <li>Медленно  двигаясь, показывает взаимодействие вблизи</li>
		</ul>
</ol>

<video width="640" height="320" controls>
  <source src="{{ url_for('static', filename='video/lessons/lesson14.mp4') }}" type="video/mp4">
  Your browser does not support the video tag
</video>

<p>Пример итогового ролика
</p>

<p>После  того, как мы отрендерили видео с трех камер, нам нужно объединить все в один  ролик с помощью любой подходящей программы. Обратите внимание, чтобы в начале  видео был титульный лист с названием университета, ФИО вас и вашего учителя и  номером вашей группы.</p>