﻿<h4 class="text-underline">УРОК №1. Знакомство с общими принципами  построения сцены и моделированием объектов</h4>
<p>После запуска 3D Max на экране появляется интерфейс программы с 4 видовыми окнами – <strong>Тор</strong>&nbsp;(Вид  сверху),<strong>&nbsp;</strong><strong>Front</strong>&nbsp;(Вид спереди),<strong>&nbsp;</strong><strong>Left</strong>&nbsp;(Вид  слева) и окно центральной проекции<strong>&nbsp;</strong><strong>Perspecntive&nbsp;</strong>(Перспектива) (Рис. 1). В этих  видовых окнах и отображается сцена. </p>
<p><img src="{{ url_for('static', filename='img/lesson1/1.jpg') }}" alt="" width="624" height="333" /> <br />
  Рис 1. Рабочее поле программы</p>
<p>В нижней части окна располагаются  инструменты для работы с видовыми окнами (Рис. 2)</p>
<p><img src="{{ url_for('static', filename='img/lesson1/2.jpg') }}" alt="" width="98" height="53" /> <br />
  Рис 2. Инструменты для работы с видовыми окнами</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="42" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/3.jpg') }}" alt="" width="26" height="26" /></p></td>
    <td width="596" valign="top"><p>Zoom (Масштабировать) – Имитирует приближение к объекту в активном окне    проекции или удаление от него.</p></td>
  </tr>
  <tr>
    <td width="42" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/4.jpg') }}" alt="" width="26" height="26" /></p></td>
    <td width="596" valign="top"><p><strong><em>Zoom</em></strong><strong></strong><strong><em>All</em></strong>&nbsp;(Масштабировать все) – Одновременно    увеличивает или уменьшает масштаб всех окон проекции</p></td>
  </tr>
  <tr>
    <td width="42" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/5.jpg') }}" alt="" width="23" height="43" /></p></td>
    <td width="596" valign="top"><p><strong><em>Zoom&nbsp;Extents</em></strong>&nbsp;(Масштабировать до заполнения) и <strong><em>Zoom&nbsp;Extents&nbsp;Selected</em></strong><strong></strong>(Масштабировать выделение до    заполнения) – Масштабирует объекты или выделенный объект настолько, чтобы    заполнить текущее окно проекции</p></td>
  </tr>
  <tr>
    <td width="42" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/6.jpg') }}" alt="" width="23" height="43" /></p></td>
    <td width="596" valign="top"><p><strong><em>Zoom&nbsp;Extents&nbsp;All&nbsp;</em></strong>(Масштабировать все до    заполнения) и <strong><em>Zoom&nbsp;Extents&nbsp;All&nbsp;Selected</em></strong><strong></strong>(Масштабировать выделение до пределов во всех окнах) – Масштабирует    объекты или выделенный объект настолько, чтобы заполнить все окна проекции</p></td>
  </tr>
  <tr>
    <td width="42" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/7.jpg') }}" alt="" width="26" height="27" /></p></td>
    <td width="596" valign="top"><p><strong><em>Region</em></strong><strong></strong><strong><em>Zoom</em></strong>&nbsp;(Масштабировать область) –    Масштабирует область, выделенную указателем мыши</p></td>
  </tr>
  <tr>
    <td width="42" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/8.jpg') }}" alt="" width="25" height="27" /></p></td>
    <td width="596" valign="top"><p><strong><em>Pan</em></strong>&nbsp;(Панорамировать) – Перемещает вид    влево, вправо, вниз или вверх</p></td>
  </tr>
  <tr>
    <td width="42" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/9.jpg') }}" alt="" width="22" height="65" /></p></td>
    <td width="596" valign="top"><p><strong><em>Arc&nbsp;Rotate</em></strong>&nbsp;(Повернуть), <strong><em>Arc&nbsp;Rotate&nbsp;Selected</em></strong>&nbsp;(Повернуть    выделение), <strong><em>Arc</em></strong><strong></strong><strong><em>Rotate&nbsp;SubObject&nbsp;</em></strong>(Повернуть субобъект)    – Вращает вид вокруг глобальной оси или выделенного объекта</p></td>
  </tr>
  <tr>
    <td width="42" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/10.jpg') }}" alt="" width="24" height="24" /></p></td>
    <td width="596" valign="top"><p><strong><em>Min</em></strong><strong><em>/</em></strong><strong><em>Max&nbsp;Toggle</em></strong>&nbsp;(Переключатель минимизации/максимизации)    – Увеличивает текущее окно проекции до размеров экрана. Повторный щелчок на    этой кнопке приводит к возврату к четырем окнам проекции </p></td>
  </tr>
</table>
<p>Справа  находится&nbsp;<strong>панель управления</strong>, состоящая из шести вкладок, которые  содержат почти все инструменты&nbsp;&nbsp;для моделирования и анимации. Она  содержит следующие вкладки (Рис 3). </p>
<p><img src="{{ url_for('static', filename='img/lesson1/11.jpg') }}" alt="" width="178" height="28" /><br />
  Рис 3. Панель управления</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="45" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/12.jpg') }}" alt="" width="26" height="24" /></p></td>
    <td width="593" valign="top"><p><strong>&nbsp;</strong><strong>Create</strong>&nbsp;(Создание объектов)</p></td>
  </tr>
  <tr>
    <td width="45" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/13.jpg') }}" alt="" width="26" height="24" /></p></td>
    <td width="593" valign="top"><p><strong>Modify</strong>&nbsp;(Модификация    объектов)</p></td>
  </tr>
  <tr>
    <td width="45" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/14.jpg') }}" alt="" width="26" height="24" /></p></td>
    <td width="593" valign="top"><p><strong>Hierarchy</strong>&nbsp;(Иерархия)</p></td>
  </tr>
  <tr>
    <td width="45" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/15.jpg') }}" alt="" width="27" height="24" /></p></td>
    <td width="593" valign="top"><p><strong>Motion</strong>&nbsp;(Управление    движением)</p></td>
  </tr>
  <tr>
    <td width="45" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/16.jpg') }}" alt="" width="27" height="24" /></p></td>
    <td width="593" valign="top"><p><strong>Display</strong>&nbsp;(Отображение    объектов) </p></td>
  </tr>
  <tr>
    <td width="45" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/17.jpg') }}" alt="" width="27" height="24" /></p></td>
    <td width="593" valign="top"><p><strong>Utilities</strong>&nbsp;(Утилиты)</p></td>
  </tr>
</table>
<p>Для работы с самими объектами мы будем использовать три основных рабочих  элемента <strong>Main</strong><strong> </strong><strong>Tool</strong><strong> </strong><strong>Bar</strong> – это перемещение, вращение и  масштабирование.</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="45" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/18.jpg') }}" alt="" width="25" height="30" /></p></td>
    <td width="593" valign="top"><p><strong>Select&nbsp;and&nbsp;Move</strong>&nbsp;(Выделить и переместить) – Выделяет    объект для последующего перемещения</p></td>
  </tr>
</table>
<p>При активации этого элемента у объекта появляются оси координат, потянув за  которые можно перемещать объект по оси X, Y, Z или в плоскостях XY, XZ, YZ (Рис. 4).</p>
<p><img src="{{ url_for('static', filename='img/lesson1/19.jpg') }}" alt="" width="219" height="226" /> <br />
  Рис 4. Перемещение объекта</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="45" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/20.jpg') }}" alt="" width="25" height="27" /></p></td>
    <td width="593" valign="top"><p><strong>Select&nbsp;and&nbsp;Rotate</strong>&nbsp;(Выделить и повернуть) – Выделяет    объект для последующего вращения</p></td>
  </tr>
</table>
<p>При активации элемента вращения у объекта появляются оси вращения по X, Y и Z. В процессе поворота в окне проекции появляются  цифры, определяющие угол поворота вдоль каждой из осей (Рис. 5).</p>
<p><img src="{{ url_for('static', filename='img/lesson1/21.jpg') }}" alt="" width="237" height="247" /> <br />
  Рис 5. Вращение объекта</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="45" valign="top"><p><img src="{{ url_for('static', filename='img/lesson1/22.jpg') }}" alt="" width="26" height="79" /></p></td>
    <td width="593" valign="top"><p><strong>Select&nbsp;and&nbsp;Uniform&nbsp;Scale</strong> (Выделить и однородно масштабировать), <strong>Select&nbsp;and&nbsp;Non-Uniform&nbsp;Scale</strong> (Выделить и неоднородно масштабировать), <strong>Select and Squash </strong>(Выделить и сплющить) – Выделяет объект для последующего масштабирования </p></td>
  </tr>
</table>
<p>При выборе элемента масштабирования также появляются оси координат X, Y и Z и плоскости, которые они образуют. Таким образом,  объекты можно масштабировать вдоль осей X, Y, Z, в плоскостях XY, XZ, YZ, а также одновременно во всех направлениях. На  рисунке 6 масштабирование произведено по оси Y.</p>
<p><img src="{{ url_for('static', filename='img/lesson1/23.jpg') }}" alt="" width="306" height="213" /> <br />
  Рис 6. Масштабирование объекта</p>
<p>Рассмотрим на практике общие принципы работы в 3D Max. Создадим сцену со  столом и стульями. Для этого поработаем со стандартными объектами. А чтобы  объекты получились реалистичными, применим к ним материалы и настроим свет.<br />
  Для создания стола и стула будем использовать стандартные примитивы <strong>Box</strong> (Параллелепипед) и <strong>Cylinder</strong> (Цилиндр).&nbsp; </p>
<p><strong>Создание объектов</strong><br />
  <br />
  На панели управления во вкладке <strong>Create</strong> нажмем соответствующую кнопку (Рис. 7)</p>
<p><img src="{{ url_for('static', filename='img/lesson1/24.jpg') }}" alt="" width="186" height="303" /> <br />
  Рис 7. Создание объектов</p>
<p>Далее щелкните левой кнопкой мыши в любом месте видового окна&nbsp;<strong>Top</strong>&nbsp;и, не отпуская кнопку,  передвигайте курсор в сторону, задавая площадь основания. Затем отпустите  кнопку мыши. Переместите курсор по вертикали, задавая высоту поверхности  будущего стола. Щелкните левой кнопкой мыши еще раз, завершая построение  объекта.<br />
  &nbsp;&nbsp;<br />
  <strong>Изменение параметров</strong></p>
<p>Перейдем во вкладку <strong>Modify</strong> (Изменить). Там зададим новые параметры объекта – <strong>Length</strong> (Длина) 100 см, <strong>Width</strong> (Ширина) 50 см, <strong>Height</strong> (Высота) 5 см (Рис. 8). </p>
<p><img src="{{ url_for('static', filename='img/lesson1/25.jpg') }}" alt="" width="184" height="475" /> <br />
  Рис 8. Изменение параметров</p>
<p>Поверхность стола готова, теперь сделаем ножки. Для этого вернемся в панель  управления во вкладке <strong>Create</strong> и снова  выберем <strong>Box</strong>.Чтобы ножка не висела в воздухе, а соединялась с поверхностью стола,  удобнее создавать ее на виде <strong>Front</strong><strong> </strong>(Рис. 9).</p>
<p><img src="{{ url_for('static', filename='img/lesson1/26.jpg') }}" alt="" width="592" height="256" /> <br />
  Рис 9. Вид Front </p>
<p>Далее снова перейдем во вкладку <strong>Modify</strong> (Изменить). Зададим новые параметры ножки – <strong>Length</strong> (Длина) 40 см, <strong>Width</strong> (Ширина) 5 см, <strong>Height</strong> (Высота) 5 см (Рис. 10).</p>
<p><img src="{{ url_for('static', filename='img/lesson1/27.jpg') }}" alt="" width="184" height="471" /> <br />
  Рис 10. Новые параметры объекта</p>
<p>Чтобы не создавать остальные ножки с нуля, можно скопировать готовую ножку,  выделив ее элементом выделения <strong>Select&nbsp;and&nbsp;Move</strong>&nbsp;(Выделить и переместить) и потянув ее левой  кнопкой мыши на нужное место с зажатой клавишей <strong>Shift</strong>. В выскочившем диалоговом окне нам  предлагают выбрать характеристику <strong>Copy</strong> (Копия) и <strong>Number</strong><strong> </strong><strong>of</strong><strong> </strong><strong>Copies</strong> (Количество копий), мы  оставляем все по умолчанию и жмем <strong>OK</strong> (Рис. 11). </p>
<p><img src="{{ url_for('static', filename='img/lesson1/28.jpg') }}" alt="" width="592" height="256" /> <br />
  Рис 11. Копирование объекта</p>
<p>Далее выделяем две созданные ножки и повторяем операцию копирования. Стол  готов (Рис. 12). </p>
<p><img src="{{ url_for('static', filename='img/lesson1/29.jpg') }}" alt="" width="593" height="257" /> <br />
  Рис 12. Готовый стол</p>
<p>Сгруппируем все элементы стола, чтобы удобнее было дальше работать. Для  этого выделяем объекты с зажатой клавишей <strong>Ctrl</strong> и в верхнем меню находим вкладку <strong>Group</strong> и выбираем <strong>Group</strong> (Рис. 13). В  появившемся диалоговом окне можно задать имя группе, после чего нажимаем <strong>OK</strong>. </p>
<p><img src="{{ url_for('static', filename='img/lesson1/30.jpg') }}" alt="" width="140" height="229" /> <br />
  Рис 13. Группировка объектов</p>
<p>По тому же принципу самостоятельно создайте стул с цилиндрическим сиденьем и  ножками и скопируйте его:<br />
  Сиденье – <strong>Cylinder</strong> (Цилиндр). Параметры: Radius=20,<strong> </strong>Height=5, Height Segments=1, Cap  Segments=1, Sides=20.<br />
  Ножки – <strong>Cylinder</strong> (Цилиндр). Параметры: Radius=2,<strong> </strong>Height=25,  Height Segments=1, Cap Segments=1, Sides=20.<br />
  Должна получиться похожая сцена (Рис. 14).</p>
<p><img src="{{ url_for('static', filename='img/lesson1/31.jpg') }}" alt="" width="592" height="255" /> <br />
  Рис 14. Готовая сцена</p>
<p><strong>Создание окружения</strong></p>
<p>Создадим пол с помощью стандартного примитива <strong>Plane</strong> (Плоскость). Зайдем в панель управления  во вкладке <strong>Create</strong> и нажмем соответствующую кнопку (Рис. 15).</p>
<p><img src="{{ url_for('static', filename='img/lesson1/32.jpg') }}" alt="" width="187" height="303" /> <br />
  Рис 15. Создание плоскости</p>
<p>Щелкаем левой кнопкой мыши в любом месте видового окна&nbsp;<strong>Top</strong>&nbsp;и, не отпуская кнопку,  передвигаем курсор в сторону, задавая площадь пола. Затем отпускаем кнопку  мыши. В параметрах зададим полу большие значения, например Length=1500 и Width=1500, чтобы пол выходил  за рамки будущего изображения (Рис. 16).</p>
<p><img src="{{ url_for('static', filename='img/lesson1/33.jpg') }}" alt="" width="184" height="531" /> <br />
  Рис 16. Задание размеров</p>
<p>Получим похожую сцену (Рис. 17).</p>
<p><img src="{{ url_for('static', filename='img/lesson1/34.jpg') }}" alt="" width="589" height="252" /> <br />
  Рис 17. Сцена с полом</p>
<p><strong>Создание материалов.</strong></p>
<p>Чтобы объекты получились реалистичными, необходимо применить к ним  материалы, например материал дерева. Воспользуемся горячей клавишей <strong>M</strong> для вызова стандартной  библиотеки материалов. В открывшемся редакторе нажмем на кнопку <strong>Standard</strong> (Стандартный) и выберем  из появившегося списка <strong>Architectural</strong> (Архитектурный) (Рис. 18). </p>
<p><img src="{{ url_for('static', filename='img/lesson1/35.jpg') }}" alt="" width="623" height="474" /> <br />
  Рис 18. Библиотека материалов</p>
<p>Теперь напротив графы <strong>Diffuse</strong><strong> </strong><strong>Map</strong> нажмем кнопку <strong>None</strong>, чтобы выбрать имеющийся в библиотеке  материал <strong>Wood</strong> (Дерево) (Рис. 19). </p>
<p><img src="{{ url_for('static', filename='img/lesson1/36.jpg') }}" alt="" width="624" height="476" /> <br />
  Рис 19. Загрузка текстуры</p>
<p>Мы получили материал дерева, цвета которого можно поменять, кликнув по  цветным слотам напротив граф <strong>Color</strong><strong> #1</strong> и <strong>Color</strong><strong> #2</strong>. Чтобы материал отображался правильно, в  настройке <strong>Tiling</strong> выставим по осям <strong>X</strong>, <strong>Y</strong> и <strong>Z</strong> значения 5. А чтобы материал дерева шел продольным  сечением вдоль стола, в строке <strong>Angle</strong> напротив оси <strong>Z</strong><strong> </strong>поставим значение 90 (1 на Рис. 20). Далее выделяем правой кнопкой мыши с  зажатой клавишей <strong>Ctrl</strong> все части стола и применяем к нему данный  материал нажатием на кнопку <strong>Assign</strong><strong> </strong><strong>Material</strong><strong> </strong><strong>to</strong><strong> </strong><strong>Selection</strong> (Применить материал к выделенному) (2 на  Рис. 20). Чтобы материал отобразился в видовом окне, нажмите кнопку <strong>Show</strong><strong> </strong><strong>Shaded</strong><strong> </strong><strong>Material</strong><strong> </strong><strong>in</strong><strong> </strong><strong>Viewport</strong><strong> </strong>(Показать материал в окне) (3 на Рис. 20).</p>
<p><img src="{{ url_for('static', filename='img/lesson1/37.jpg') }}" alt="" width="375" height="654" /> <br />
  Рис 20. Настройка материалов</p>
<p>Теперь проделайте то же самое со стульями, но задайте им более темный цвет.  Чтобы не настраивать весь материал заново, просто перетащите созданный ранее материал  в соседний слой и поменяйте имя. Значения параметра <strong>Tiling</strong> по осям <strong>X</strong>, <strong>Y</strong> и <strong>Z</strong> выставите 8. А в строке <strong>Angle</strong> напротив оси <strong>Y</strong><strong> </strong>поставьте 90. Примените материал к стульям.</p>
<p>Материал для пола выберем стандартный, просто поменяем у него цвет. Выбираем  пустой слот. Щелкаем по цветовому окну напротив графы <strong>Ambient</strong>, затем в появившемся  меню выбираем цвет и нажимаем <strong>OK</strong>. Применяем материал к полу (Рис. 21).</p>
<p><img src="{{ url_for('static', filename='img/lesson1/38.jpg') }}" alt="" width="623" height="440" /> <br />
  Рис 21. Настройка цвета и применение материала</p>
<p><strong>Создание освещения</strong></p>
<p>Финальный штрих в нашей сцене – создание освещения. Более подробно мы  рассмотрим эту тему в 6 уроке, а сейчас создадим стандартное освещение. На  панели управления во вкладке <strong>Create</strong> выберем пункт <strong>Lights</strong> и выберем источник света <strong>Omni</strong>. Щелкнем в виде <strong>Top</strong> в двух произвольных  местах левой кнопкой мыши. Создадутся 2 источника света. У одного ставим  галочку <strong>On</strong> в разделе <strong>Shadows</strong> (Тени) (Рис. 22 а), а у другого уменьшаем интенсивность света <strong>Multiplier</strong> в графе <strong>Intensity</strong><strong>/</strong><strong>Color</strong><strong>/</strong><strong>Attenuation</strong><strong> </strong>до 0,5 (Рис. 22 б), при этом при первом  источнике объекты будут откидывать тень, а при втором дополнительно мягко  освещаться.</p>
<p><img src="{{ url_for('static', filename='img/lesson1/39.jpg') }}" alt="" width="184" height="415" />
<img src="{{ url_for('static', filename='img/lesson1/40.jpg') }}" alt="" width="184" height="532" /><br />
  Рис. 22 а                                 Рис.  22 б</p>
<p>Нужно поиграться с расположением этих источников света, чтобы получить  оптимальный конечный вариант. После этого нажмем <strong>F</strong><strong>9</strong> и получим рендер  готовой сцены (Рис. 23).</p>
<p><img src="{{ url_for('static', filename='img/lesson1/41.jpg') }}" alt="" width="437" height="329" /> <br />
  Рис. 23<br />
  </p>
<p><strong><u>Задание</u></strong></p>
<p>А теперь самостоятельно сделайте стул со спинкой, шкаф, плинтус, ковер,  стены и окно и примените материалы, как на картинке (Рис. 24).</p>
<p><img src="{{ url_for('static', filename='img/lesson1/42.jpg') }}" alt="" width="499" height="374" /> <br />
  Рис. 24</p>
<p><strong><u>Рекомендации</u></strong></p>
<p>Стекло сделано с помощью <strong>Plane</strong> и материала <strong>Glass</strong>. Ковер сделан из <strong>Box</strong>. Спинка стула сделана  из параллелепипедов и цилиндров. <br />
  Подсказка. Шкаф сделан с помощью <strong>Box</strong>, преобразованного в <strong>Editable</strong><strong> </strong><strong>Poly</strong> – для этого надо нажать правой кнопкой  мыши по объекту и во вкладке <strong>Convert</strong><strong> </strong><strong>To</strong> выбрать соответствующий пункт (Рис. 25). </p>
<p><img src="{{ url_for('static', filename='img/lesson1/43.jpg') }}" alt="" width="360" height="487" /> <br />
  Рис. 25</p>
<p>Выделив верхние вершины объекта в режиме <strong>Vertex</strong> (1 на рис. 26) с помощью операции  масштабирования измените форму. Далее нужно выбрать режим работы с полигонами <strong>Polygon</strong> (2 на рис. 26) и,  выделив переднюю стенку, нажать <strong>Delete</strong>. </p>
<p><img src="{{ url_for('static', filename='img/lesson1/44.jpg') }}" alt="" width="177" height="549" /> <br />
  Рис. 26</p>
<p>Чтобы придать толщину стенкам, применяется модификатор <strong>Shell</strong>, который находится во  вкладке <strong>Modifier</strong> <strong>List</strong>. Толщина задается в графе <strong>Outer Amount</strong> (Рис. 27).</p>
<p><img src="{{ url_for('static', filename='img/lesson1/45.jpg') }}" alt="" width="184" height="343" /> <br />
  Рис. 27</p>
<p>С помощью этого же модификатора сделано окно в стене. А чтобы из окна  открывался вид на природу, нужно поставить на фон картинку. Для этого найдите в  интернете подходящую картинку, и во вкладке <strong>Rendering</strong> нажмите <strong>Environment</strong><strong> </strong>(Рис. 28). </p>
<p><img src="{{ url_for('static', filename='img/lesson1/46.jpg') }}" alt="" width="309" height="268" /> <br />
  Рис. 28</p>
<p>В появившемся окне щелкните по кнопке <strong>None</strong> в графе <strong>Environment</strong><strong> </strong><strong>Map</strong><strong> </strong>и выберете <strong>Bitmap</strong>, чтобы загрузить свою  картинку (Рис. 29). После чего щелкните <strong>OK</strong>.</p>
<p><img src="{{ url_for('static', filename='img/lesson1/47.jpg') }}" alt="" width="624" height="426" /> <br />
  Рис. 29</p>