﻿<h4 class="text-underline">УРОК №2. Модификаторы.  Стек модификаторов. Модификаторы Taper, Twist, Bend, Shell, Noise.</h4>

<p>В этой главе  мы научимся работать с модификаторами. Что это такое и для чего они нужны?<br />
  Модификатор - это команда, алгоритм, с помощью которого программа искажает  трёхмерный объект.<br />
  Например, нам нужно сделать подлокотник для дивана. Вот такой:<br />
  <img src="{{ url_for('static', filename='img/lesson2/1.jpg') }}" alt="" width="200" height="150" /> <br />
  Рис  1. Подлокотник для дивана</p>
<p>Форма  этого подлокотника - &quot;согнутый&quot; примитив Box.<br />
  <img src="{{ url_for('static', filename='img/lesson2/2.jpg') }}" alt="" width="200" height="150" /> <br />
  Рис 2.  Подлокотник до того, как его согнули</p>
<p>Именно эту  задачу - искажение формы объекта, деформацию - выполняют модификаторы.</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="214"><br />
      <img src="{{ url_for('static', filename='img/lesson2/1.jpg') }}" alt="" width="200" height="150" /></td>
    <td width="124"><p><img src="{{ url_for('static', filename='img/lesson2/3.gif') }}" alt="" width="100" height="29" /></p></td>
    <td width="300"><p><img src="{{ url_for('static', filename='img/lesson2/2.jpg') }}" alt="" width="200" height="150" /></p></td>
  </tr>
</table>
<p>Рис  3. Деформация Box'a</p>
<p>Модификаторов большое  количество, все они работают по-разному и с разными типами объектов. Мы будем  рассматривать параметрические модификаторы (Bend, Twist, Taper, Shell, Noise). Действие данных модификаторов  предусматривает изменение формы объекта.</p>
<p><strong>Bend</strong></p>
<p>Начнём с модификатора&nbsp;<strong>Bend</strong><strong>&nbsp;</strong>(Изгиб). Этот модификатор  сгибает объект (так же, как на картинках выше).<br />
  Создадим Cylinder. Цилиндр, который вы увидите на картинках, сделан в системе  единиц Generic Units. Радиус цилиндра - 2, высота - 70.<br /><br />
  <img src="{{ url_for('static', filename='img/lesson2/4.gif') }}" alt="" width="200" height="152" /> <br />
  Рис 4.  Цилиндр</p>
<p>Чтобы  применить модификатор, необходимо выделить объект, а затем обратиться к  выпадающему&nbsp;<strong>списку модификаторов</strong>&nbsp;(<strong>Modifier List)</strong>&nbsp;во  вкладке&nbsp;<strong>Modify</strong>.<br /><br />
  <img src="{{ url_for('static', filename='img/lesson2/5.gif') }}" alt="" width="183" height="256" /> <br />
  Рис 5.  Modifier List</p>
<p>В  раскрывшемся списке выбираем&nbsp;<strong>Bend</strong>.<br /><br />
  <img src="{{ url_for('static', filename='img/lesson2/6.gif') }}" alt="" width="166" height="471" /> <br />
  Рис 6. Выбор  модификатора Bend в списке</p>
<p>После  присвоения модификатора ничего не произошло.<br /><br />
  <img src="{{ url_for('static', filename='img/lesson2/7.gif') }}" alt="" width="394" height="292" /> <br />
  Рис 7. После  применения к цилиндру модификатора&nbsp;<strong>Bend</strong></p>
<p>Изменений не  произошло потому, что мы ещё не настроили&nbsp;<strong>параметры модификатора</strong>.  Они находятся там же, во вкладке Modify (объект, конечно же, должен быть  выделен).<br /><br />
  <img src="{{ url_for('static', filename='img/lesson2/8.gif') }}" alt="" width="509" height="239" /> <br />
  Рис 8.  Параметры модификатора Bend</p>
<p>Основной  параметр модификатора Bend - это угол наклона (<strong>Angle</strong>). Изменяя этот  параметр, мы задаём объекту изгиб. <br />
  Любые  изменения формы (искривления, сгибания, скручивания и т.п.) зависят от  количества сегментов. Если сегментов мало, то изгиб будет грубым, если много -  плавным.</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="319" valign="top"><p><img src="{{ url_for('static', filename='img/lesson2/9.gif') }}" alt="" width="200" height="148" /> <br />
      Количество    сегментов цилиндра = 2 </p></td>
    <td width="319" valign="top"><p><img src="{{ url_for('static', filename='img/lesson2/10.gif') }}" alt="" width="200" height="148" /> <br />
      Количество    сегментов цилиндра = 10 </p></td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="103%">
  <tr>
    <td>
      <p>Рис 9.    Зависимость плавности искривления от количества сегментов</p></td>
  </tr>
</table>
<p>Количество  сегментов мы можем изменить в настройках объекта, находящихся во вкладке  Modify. Но сейчас мы видим там настройки модификатора. Для того чтобы вернуться  к параметрам объекта, необходимо обратиться к&nbsp;<strong>стеку модификаторов</strong>.  Он находится прямо под&nbsp;<strong>списком модификаторов&nbsp;</strong>(<strong>Modifier List</strong>),  к которому мы обращались, когда присваивали цилиндру модификатор Bend.</p>
<p><img src="{{ url_for('static', filename='img/lesson2/11.gif') }}" alt="" width="183" height="248" /> <br />
  Рис 10. Стек  модификаторов</p>
<p>Во вкладке  Modify отображаются свойства того элемента стека модификаторов, который выделен  серым. Следовательно, чтобы вместо настроек модификатора Bend увидеть свойства  цилиндра, нужно щёлкнуть мышкой на соответствующей строке.</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="319" valign="top"><p><img src="{{ url_for('static', filename='img/lesson2/12.gif') }}" alt="" width="105" height="301" /> <br />
      В    стеке модификаторов выделен модификатор Bend. В параметрах - свойства    модификатора. </p></td>
    <td width="319" valign="top"><p><img src="{{ url_for('static', filename='img/lesson2/13.gif') }}" alt="" width="107" height="301" /> <br />
      В    стеке модификаторов выделен объект Cylinder. В параметрах - свойства объекта. </p></td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="83%">
  <tr>
    <td>
      <p>Рис 11.    Элементы стека модификаторов</p></td>
  </tr>
</table>
<p>А в  свойствах цилиндра мы уже можем задать необходимое количество сегментов. Чем их  больше, тем, как уже было сказано выше, более гладким будет изгиб. Но не  переусердствуйте с количеством - если при данном количестве сегментов степень  плавности вас устраивает, остановитесь - не нужно добавлять элементов &quot;про  запас&quot;. Слишком большое их число перегружает компьютер, и, следовательно,  замедляет работу.<br />
  Рядом с  названием модификатора стоит значок в виде лампочки. Если на него нажать, то  лампочка &quot;выключится&quot;, и действие модификатора перестанет  отображаться в окне проекции. Чтобы &quot;включить&quot; модификатор, нужно  снова щёлкнуть на лампочке.</p>
<p><img src="{{ url_for('static', filename='img/lesson2/14.gif') }}" alt="" width="482" height="296" /> <br />
  Рис 12. Отключение  действия модификатора</p>
<p>Обратите  внимание, что при отключении модификатора остался как бы контур изменённого  объекта. Это&nbsp;<strong>Gizmo</strong>&nbsp;- не отображающийся при рендеринге объект,  который показывает действие модификатора, или какие-либо другие изменения  объекта, и помогает управлять этими изменениями. Например, стрелки,  появляющиеся при использовании инструмента <strong>Select</strong> and <strong>Move</strong> или <strong>Select</strong> and <strong>Rotate</strong> - это  тоже <strong>Gizmo</strong>.<br />
  Изменения <strong>Gizmo</strong> распространяются на сам объект.  Чтобы переместить&nbsp;<strong>Gizmo</strong>, нужно в стеке модификаторов щелкнуть  на&nbsp;<strong>плюсик&nbsp;</strong>рядом с активным модификатором. Раскроется  список&nbsp;<strong>подобъектов</strong>. Затем выбираем подобъект&nbsp;<strong>Gizmo&nbsp;</strong>(строчка  подсветится желтым) и двигаем его инструментом&nbsp;<strong>Select and Move</strong>.  Также&nbsp;<strong>Gizmo</strong>&nbsp;можно вращать и масштабировать. Следует помнить,  что, перед тем как продолжить работать со всем объектом, или каким-либо другим,  необходимо выйти из режима редактирования подобъекта. Подобъекты присутствуют и  в других модификаторах.</p>
<p><img src="{{ url_for('static', filename='img/lesson2/15.jpg') }}" alt="" width="300" height="306" /> <br />
  Рис 13.  Перемещение подобъекта Gizmo</p>
<p>Если Вы  хотите не выключить, а окончательно и бесповоротно удалить модификатор, то  нужно нажать на кнопку&nbsp;<img src="{{ url_for('static', filename='img/lesson2/16.gif') }}" alt="" width="22" height="21" />&nbsp;(<strong>Remove modifier from the  stack</strong>) на&nbsp;<strong>панели инструментов</strong>&nbsp;стека модификаторов.</p>
<p><img src="{{ url_for('static', filename='img/lesson2/17.gif') }}" alt="" width="172" height="42" /> <br />
  Рис 14.  Панель инструментов стека модификаторов. Выделена кнопка удаления модификатора</p>
<p>Вернёмся к  параметрам модификатора Bend. Обратите внимание на раздел Band Axis. Здесь выбирается  ось (X, Y, или Z) по которой происходит изгиб.</p>
<p><img src="{{ url_for('static', filename='img/lesson2/18.jpg') }}" alt="" width="382" height="298" /> <br />
  Рис 15. Действие  модификатора Bend в разных осях (слева направо: Z, Y, X). Параметр Angle = 90</p>
<p>Теперь рассмотрим параметр&nbsp;<strong>Limit</strong><strong>&nbsp;</strong>(предел). Он накладывает  ограничения на действие модификатора в установленных параметрами пределах&nbsp;<strong>Lower Limit, Upper Limit</strong><strong>&nbsp;</strong>(нижний предел, верхний  предел). Это нужно тогда, когда мы хотим согнуть не весь объект, а какую-то его  часть. Активируем действие пределов, поставив галочку рядом с&nbsp;<strong>Limit Effect</strong>.<br /><br />
  <img src="{{ url_for('static', filename='img/lesson2/19.gif') }}" alt="" width="516" height="328" /> <br />
  Рис 16.  Объект после включения параметра Limit Effect</p>
<p>То, что вы видите,  произошло потому, что значение <strong>Upper  Limit</strong> и <strong>Lower Limit</strong> равны 0. Это  значит, что модификатор ограничен в своём действии сверху и снизу в нулевой  точке, считая от центра локальной системы координат объекта. Т.е. он просто не  работает, никакого изгиба нет.<br />
  Попробуем изменить значение, например, <strong>Upper  Limit</strong>, на 30.</p>
<p><img src="{{ url_for('static', filename='img/lesson2/20.gif') }}" alt="" width="514" height="328" /> <br />
  Рис 17. Действие  модификатора Bend после изменения значения Upper Limit на 30</p>
<p>Значение, которое мы  устанавливаем в <strong>Upper Limit</strong> - это  высота объекта, на которой действие модификатора прекращается. Предел отмечен  квадратиком на <strong>Gizmo</strong>.<br /><br />
  <img src="{{ url_for('static', filename='img/lesson2/21.gif') }}" alt="" width="333" height="270" /> <br />
  Рис 18.  Верхний предел</p>
<p>Но что, если  мы хотим сместить действие предела? То есть, чтобы, грубо говоря, согнутый  кусок оставался того же размера, но располагался выше (или ниже) по длине  объекта (как на рисунке ниже)?</p>
<p><img src="{{ url_for('static', filename='img/lesson2/22.gif') }}" alt="" width="284" height="292" /> <br />
  Рис 19.  Изогнутая часть (выделена красным) перемещена выше по длине цилиндра</p>
<p>Значения  всех параметров прежние.<br />
  Чтобы сместить  действие пределов (в нашем случае по оси Z), необходимо зайти в режим  редактирования подобъектов и выделить <strong>Center</strong>.<br /><br />
  <img src="{{ url_for('static', filename='img/lesson2/23.gif') }}" alt="" width="181" height="250" /> <br />
  Рис 20. Уровень  редактирования Center</p>
<p>Подобъект&nbsp;<strong>Center</strong><strong>&nbsp;</strong>находится там же, где центр  локальной системы координат объекта. Перемещайте его вдоль длины цилиндра (в  нашем случае по оси Z) до тех пор, пока наклон не будет помещен в необходимую  точку. <br />
  Теперь, когда&nbsp;<strong>Center</strong>&nbsp;перемещён, можно увидеть действие&nbsp;<strong>Lower Limit</strong>.  Попробуйте самостоятельно.<br />
  Параметр&nbsp;<strong>Direction</strong>&nbsp;(Направление) отвечает за поворот  формы вокруг своей оси в процессе изгиба. Попробуйте изменить его значение, и  посмотрите на результат. </p>
<p><strong>Taper</strong></p>
<p>Параметры модификаторов&nbsp;<strong>Taper</strong>&nbsp;(Конусообразный) и&nbsp;<strong>Twist</strong>&nbsp;(Скручивание) схожи по смыслу с  параметрами модификатора <strong>Bend</strong>, вы  без труда догадаетесь, что к чему. Поэтому мы не будем подробно останавливаться  на настройках, лишь расскажем принцип действия.<br />
  Модификатор&nbsp;<strong>Taper</strong>&nbsp;сужает объект к одной из его вершин,  таким образом делая форму объекта, &quot;стремящейся&quot; к конусу. Taper  основывает свой эффект на центре Gizmo с противоположным масштабированием,  которое выполняется всегда выше и ниже центра. Центр работает как устойчивое  место, в котором масштабирование не выполняется.</p>
<p><img src="{{ url_for('static', filename='img/lesson2/24.gif') }}" alt="" width="274" height="236" /> <br />
  Рис 21. К  объекту Box применён модификатор Taper</p>
<p>Опция&nbsp;<strong>Curve</strong>&nbsp;в  Тарег позволяет задавать выпуклости и вогнутости для того, что иначе было бы  прямым конусом. Опция&nbsp;<strong>Symmetry </strong>отражает искривление относительно  подобъекта&nbsp;<strong>Center</strong>.<br /><br />
  <img src="{{ url_for('static', filename='img/lesson2/25.jpg') }}" alt="" width="350" height="211" /> <br />
  Рис 22.  Подобъект Center смещён в центр объекта, значение Curve отрицательное, включена  опция Symmetry</p>
<p>Не забывайте  и про&nbsp;<strong>Limit Effect</strong>.</p>
<p><img src="{{ url_for('static', filename='img/lesson2/26.jpg') }}" alt="" width="350" height="195" /> <br />
  Рис 23.&nbsp;Подобъект Center  смещён в центр объекта, Включен Limit Effect</p>
<p><strong>Twist</strong></p>
<p>Модификатор<strong>&nbsp;</strong><strong>Twist</strong>&nbsp;создает спиральный винт или штопор, опираясь  на одну из осей объекта. Подобный эффект получается, когда в вашей руке висит  веревка, а вы начинаете быстро вращать кисть.<br />
  Влияние&nbsp;<strong>Twist</strong>&nbsp;достаточно сильно зависит от  расположения центра&nbsp;<strong>Gizmo</strong>.<br />
  Если этот центр находится на объекте, Twist создает геометрические спирали, во  многом похожие на столб с белой и красной спиралями или на леденец в виде  палочки. Если центр перемещается, геометрия скручивается для образования  спирали. Пирамиды на рисунке показывают эффект расположения центра Gizmo в  центре объекта и со смещением.</p>
<p><img src="{{ url_for('static', filename='img/lesson2/27.jpg') }}" alt="" width="300" height="179" /> <br />
  Рис 24.  Действие модификатора Twist. Справа - смещённый Gizmo<br /><br />
  <img src="{{ url_for('static', filename='img/lesson2/28.jpg') }}" alt="" width="300" height="267" /> <br />
  Рис 25.  Пример использования модификатора Twist</p>
<p><strong>Shell</strong><strong><u> </u></strong></p>
<p>Рассмотрим  еще 2 модификатора, с помощью которых можно добиваться интересных результатов.  Модификатор <strong>Shell</strong>,  с которым мы уже познакомились в прошлом уроке, выдавливает, придает толщину,  его можно применять к сплайнам и другим объектам.</p>
<p><img src="{{ url_for('static', filename='img/lesson2/29.jpg') }}" alt="" width="295" height="178" /> <br />
  Рис  26. Действие модификатора Shell </p>
<p><strong>Noise</strong><strong><u> </u></strong></p>
<p>Модификатор <strong>Noise</strong> создает шумы и неровности. В настройках задается <strong>Scale</strong> (размер) и деформация по осям. С его  помощью можно добиваться большей реалистичности объектов. </p>
<p><img src="{{ url_for('static', filename='img/lesson2/30.jpg') }}" alt="" width="303" height="164" /> <br />
  Рис  27. Действие модификатора Noise </p>
<p><strong><u>Задание </u></strong></p>
<p>А теперь  самостоятельно сделайте сцену развалин замка в пещере. </p>
<p><strong><u>Рекомендации</u></strong></p>
<p>Пещера  сделана с помощью полусферы, конвертированной в <strong>Editable</strong><strong> </strong><strong>Poly</strong> с удалением  нескольких сегментов и нижней части полусферы. К ней применяется модификатор <strong>Noise</strong> и <strong>Shell</strong>. </p>
<p>Чтобы  создать реалистичный обломок колонны, нужно воспользоваться булевыми  операциями, т.е. операциями вычитания. Создайте колонну с помощью сплайна <strong>Star</strong> и модификатора <strong>Shell</strong>. Рядом создайте <strong>Box</strong> и примените модификатор <strong>Noise</strong>. Эти два объекта должны  пересекаться. Теперь выделяем колонну и в окне <strong>Geometry</strong> выбираем из  списка <strong>Compound</strong><strong> </strong><strong>Objects</strong>, нажимаем  на кнопку <strong>Boolean</strong>. Убедитесь, что в настройках стоит  операция <strong>Subtraction</strong><strong> (</strong><strong>A</strong><strong>-</strong><strong>B</strong><strong>)</strong>, нажмите <strong>Pick</strong><strong> </strong><strong>Operant</strong><strong> </strong><strong>B</strong> и щелкните  по объекту <strong>Box</strong>.<strong> </strong> (Рис. 28).</p>
<p><img src="{{ url_for('static', filename='img/lesson2/31.jpg') }}" alt="" width="562" height="404" /> <br />
  Рис  28. Булева операция</p>
<p>Из  колонны вырежется неровный <strong>Box</strong>, создавая при этом реалистичный разлом  (Рис. 29).</p>
<p><img src="{{ url_for('static', filename='img/lesson2/32.jpg') }}" alt="" width="387" height="252" /> <br />
  Рис.  29</p>