﻿<h4 class="text-underline">УРОК №10. Настройка скелета под оболочку  (Biped, Envelope)</h4>
<p>В этом уроке мы научимся создавать  скелет (систему&nbsp;<strong>Biped</strong>)<strong> </strong>и привязывать его к модели. В  качестве такой модели будем использовать персонажа, которого мы делали в 5  уроке (Рис. 1).</p>
<p><img src="{{ url_for('static', filename='img/lesson10/1.jpg') }}" alt="" width="378" height="284" /><br />
  Рис 1. Модель со скелетом </p>
<p>Итак, загружаем нашего персонажа.  Чтобы нам было проще настраивать скелет, отключим сглаживание <strong>Turbo </strong><strong>Smooth</strong> и  переключим режим отображения на <strong>Wireframe</strong> (Рис. 2).</p>
<p><img src="{{ url_for('static', filename='img/lesson10/2.jpg') }}" alt="" width="314" height="297" /><br />
  Рис 2. Персонаж из 5го урока</p>
<p>Переходим во вкладку <strong>Create</strong> (Создание) командной панели, во вкладке <strong>Object</strong> <strong>Type</strong> (Тип  объекта) категории <strong>Systems</strong> (Дополнительные инструменты)  нажимаем кнопку <strong>Biped</strong> (Двуногий). Создаем объект  высотой с модель (Рис. 3).</p>
<p><img src="{{ url_for('static', filename='img/lesson10/3.png') }}" alt="" width="485" height="336" /><br />
  Рис 3. Создание скелета </p>
<p>Если скелет по пропорциям не  совпадает с моделью, можно изменить количество костей. Например, в нашем случае  у скелета слишком короткая шея. Чтобы это исправить, в свитке параметров <strong>Create</strong> <strong>Biped</strong> находим список всех костей, и в графе <strong>Neck</strong> <strong>Links</strong> (Шейные звенья) увеличиваем значение до 3. Таким  образом можно менять количество звеньев во всем скелете (Рис. 4).</p>
<p><img src="{{ url_for('static', filename='img/lesson10/4.jpg') }}" alt="" width="445" height="389" /><br />
  Рис 4. Увеличение звеньев шеи</p>
<p>Теперь перейдем во вкладку <strong>Motion</strong>. Там нажмем на кнопку <strong>Figure</strong> <strong>Mode</strong>, чтобы перейти в режим  редактирования позы персонажа (Рис. 5). </p>
<p><img src="{{ url_for('static', filename='img/lesson10/5.jpg') }}" alt="" width="180" height="313" /><br />
  Рис 5. Режим редактирования позы Figure Mode</p>
<p>Теперь выберем верхнюю часть ноги и  инструментом вращения изменим ее положение, чтобы она визуально совпадала с  осью ноги модели (Рис. 6).</p>
<p><img src="{{ url_for('static', filename='img/lesson10/6.png') }}" alt="" width="224" height="387" /> <br />
  Рис 6. Вращение ноги</p>
<p>Мы видим, что голеностопный сустав  у скелета находится выше, чем у модели, и ступня скелета по размеру меньше  модели, поэтому мы выберем инструмент масштабирования и увеличим нижнюю кость и  ступню скелета (Рис. 7). Такими манипуляциями добиваемся совпадения костей ноги  с оболочкой.</p>
<p><img src="{{ url_for('static', filename='img/lesson10/7.jpg') }}" alt="" width="542" height="171" /><br />
  Рис 7. До масштабирования и после</p>
<p>Когда мы настроили кости одной  ноги, скопируем ее положение и применим его ко второй ноге, чтобы не повторять  те же действия дважды. Выбираем все части ноги и во вкладке <strong>Copy/</strong><strong>Paste</strong> нажимаем на кнопку <strong>Create </strong><strong>Collection</strong>.  Создав это положение, скопируем его, нажав на <strong>Copy </strong><strong>Posture</strong> (Скопировать положение) и  применим его ко второй ноге, нажав на <strong>Paste </strong><strong>Posture </strong><strong>Opposite </strong>(Вставить обратное положение) (Рис.8).</p>
<p><img src="{{ url_for('static', filename='img/lesson10/8.jpg') }}" alt="" width="366" height="350" /><br />
  Рис 8. Перенос положения ноги слева  на ногу справа</p>
<p>Проделаем то же самое с обеими  руками (Рис. 9). </p>
<p><img src="{{ url_for('static', filename='img/lesson10/9.png') }}" alt="" width="623" height="245" /><br />
  Рис 9. Изменение положения руки:  справа – до, слева – после</p>
<p>Таким же образом подгоняем  положение шейных звеньев и черепа. Если после масштабирования черепа оказалось,  что 3 шейных звенья – это слишком много, то их количество всегда можно  уменьшить, зайдя во вкладку <strong>Structure</strong>. Итак, мы  настроили скелет под оболочку (Рис. 10).</p>
<p><img src="{{ url_for('static', filename='img/lesson10/10.png') }}" alt="" width="624" height="268" /><br />
  Рис 10. Скелет, настроенный под  оболочку </p>
<p>Теперь мы привяжем оболочку к  системе костей, чтобы при движении костей двигалась и сама модель. Выбираем  оболочку и применяем к ней модификатор <strong>Physique</strong>. В появившихся  свойствах нажимаем кнопку <strong>Attach </strong><strong>to </strong><strong>Node</strong>. <strong>Physique</strong> переходит в режим выбора системы костей для  оболочки. Нам необходимо выбрать пояс системы – <strong>Pelvis</strong>. Для  облегчения процесса можно нажать H на клавиатуре и в открывшемся диалоговом окне два раза кликнуть  по <strong>Bip001 </strong><strong>Pelvis </strong>(Рис.  11). </p>
<p><img src="{{ url_for('static', filename='img/lesson10/11.png') }}" alt="" width="487" height="435" /><br />
  Рис 11. Выбор пояса системы костей  для привязки к оболочке</p>
<p>В появившемся диалоговом окне <strong>Physique </strong><strong>Initialization</strong> оставим все настройки по умолчанию и нажмем <strong>Initialize</strong>.  После этого выберем любую часть системы <strong>Biped</strong> и перейдем на  панель <strong>Motion</strong>, чтобы отключить режим <strong>Figure </strong><strong>Mode</strong>.</p>
<p>Попробуйте повращать различные  части скелета, чтобы посмотреть, как будет изменяться положение оболочки. Вы  заметите, что в некоторых местах какие-то части оболочки остаются на месте,  создавая деформацию (Рис. 12). </p>
<p><img src="{{ url_for('static', filename='img/lesson10/12.png') }}" alt="" width="470" height="283" /> <br />
  Рис 12. Деформация оболочки</p>
<p>Чтобы исправить этот недостаток,  нужно перейти во вкладку <strong>Modify</strong>, щелкнуть на  значке плюса возле модификатора <strong>Phisique</strong> и переключиться  в режим редактирования подобъектов <strong>Vertex</strong> (Вершина). Если  выделить все точки руки, то мы заметим, что какие-то точки подсвечены красным  цветом, а какие-то синим (Рис. 13). </p>
<p><img src="{{ url_for('static', filename='img/lesson10/13.jpg') }}" alt="" width="457" height="379" /><br />
  Рис  13. Красные и синие точки у оболочки модели</p>
<p>Также  могут появляться и зеленые точки. Что же означают эти цвета? </p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="36" valign="top"><p><img src="{{ url_for('static', filename='img/lesson10/14.jpg') }}" alt="" width="21" height="20" /></p></td>
    <td width="602" valign="top"><p>Красный цвет    соответствует деформируемым вершинам, то есть тем, которые отображают движения    таких элементов оболочки, как торс, ноги, руки, и так далее.</p></td>
  </tr>
  <tr>
    <td width="36" valign="top"><p><img src="{{ url_for('static', filename='img/lesson10/15.jpg') }}" alt="" width="22" height="20" /></p></td>
    <td width="602" valign="top"><p>Зеленый    цвет соответствует неподвижным вершинам. Назначение    зеленого цвета определенным вершинам помогает также в тех случаях, когда требуется    ограничить деформацию оболочки.</p></td>
  </tr>
  <tr>
    <td width="36" valign="top"><p><img src="{{ url_for('static', filename='img/lesson10/16.jpg') }}" alt="" width="22" height="20" /></p></td>
    <td width="602" valign="top"><p>Синий    цвет модификатор Physique присваивает тем вершинам, тип которых он оказался    не в состоянии определить. Никогда не оставляйте в модели синих вершин.</p></td>
  </tr>
</table>
<p>Чтобы присоединить потерянные  вершины оболочки к кости, во вкладке <strong>Link-</strong><strong>Assignment</strong> (Назначение связи) нужно нажать кнопку <strong>Select</strong> и выделить  неопределенные (синие) точки в сцене. Затем необходимо нажать кнопку <strong>Assign </strong><strong>to </strong><strong>Link</strong> (Назначить связь) и указать, на  какой кости будут закреплены выбранные вершины (Рис. 14). </p>
<p><img src="{{ url_for('static', filename='img/lesson10/17.jpg') }}" alt="" width="431" height="272" /><br />
  Рис 14. Назначение связи  неопределенным точкам</p>
<p>Готово! Мы видим, что потерянные  вершины стали красными, то есть деформируемыми, и присоединились к выбранной  кости (Рис. 15).</p>
<p><img src="{{ url_for('static', filename='img/lesson10/18.jpg') }}" alt="" width="386" height="250" /><br />
  Рис 15. Присоединение неопределенных  точек к кости</p>
<p>Есть и другой способ исправления  подобных ошибок. Он заключается в том, чтобы увеличить влияние костей на  оболочку. Для этого выберем оболочку, раскроем список <strong>Physique</strong> во вкладке <strong>Modify</strong> и  выберем <strong>Envelope </strong>(Рис.  16).</p>
<p><img src="{{ url_for('static', filename='img/lesson10/19.jpg') }}" alt="" width="182" height="237" /><br />
  Рис 16. Выбор режима Envelope</p>
<p>Сейчас нас интересует радиус  влияния <strong>Radial Scale</strong>. Выбрав нужную  кость, увеличим <strong>Radial </strong><strong>Scale</strong> до значения 1,5. Так мы захватим потерянные точки в  область влияния выбранной кости (Рис. 17). Влияние родительской кости (кости,  находящейся выше по иерархии) на дочернюю кость зависит от параметра <strong>Child </strong><strong>Overlap</strong>.  Влияние дочерней кости на родительскую зависит от параметра <strong>Parent Overlap</strong>. </p>
<p><img src="{{ url_for('static', filename='img/lesson10/20.jpg') }}" alt="" width="397" height="244" /><br />
  Рис 17. Увеличение радиуса влияния  кости</p>
<p>Пройдитесь по остальным костям,  модифицируя их настройки так, чтобы не было потерянных точек. Этот этап  позволит вам лучше понять, как зоны влияния костей деформируют оболочку (Рис. 18). </p>
<p><img src="{{ url_for('static', filename='img/lesson10/21.png') }}" alt="" width="584" height="239" /><br />
  Рис 18. Положение потерянных точек  до и после использования режима Envelope</p>
<p>Далее настроим голову. Если ее  повращать, то можно заметить, что она деформируется. Это происходит потому, что  кость головы находится в режиме деформирования, а ее нужно переключить в режим  жесткости. Для этого в режиме редактирования <strong>Envelope</strong> уберем галочку напротив параметра <strong>Deformable</strong> и поставим ее  напротив <strong>Rigit</strong>. Видим, что вершины  подсветились зеленым цветом, а это означает, что они стали недеформируемыми  (Рис. 19).</p>
<p><img src="{{ url_for('static', filename='img/lesson10/22.png') }}" alt="" width="468" height="253" /><br />
  Рис 19. Переключение черепа в режим  жесткости Rigit</p>
<p>После этого голова будет  поворачиваться корректно (Рис. 20).</p>
<p><img src="{{ url_for('static', filename='img/lesson10/23.jpg') }}" alt="" width="462" height="208" /><br />
  Рис 20. Голова модели при повороте до  и после применения режима жесткости Rigit<br />
  </p>
<p>Привязка скелета к оболочке  закончена! Теперь мы можем придавать модели любые позы (Рис. 21).</p>
<p><img src="{{ url_for('static', filename='img/lesson10/1.jpg') }}" alt="" width="398" height="298" /><br />
Рис 21. Готовый результат</p>