﻿<h4 class="text-underline">УРОК №5. Полимоделинг (Editable Poly)</h4>
<p>Poly-моделирование (Редактируемая сетка) – один из  методов создания трехмерных моделей. Editable Poly (Редактируемый многоугольник) – это объект,  поверхность которого представляет из себя сетку соединенных между собой  плоскостей. Весь процесс poly-моделирования  сводится к изменению формы этой сетки, поэтому оно и называется сеточным (Рис.  1).</p>
<p><img src="{{ url_for('static', filename='img/lesson5/1.jpg') }}" alt="" width="327" height="260" /> <br />
  Рис  1. Модель дивана, созданная с помощью Editable Poly </p>
<p>Чтобы  перевести объект в режим редактирования Editable Poly, нужно кликнуть  по нему правой кнопкой мыши и выбрать <strong>Convert</strong><strong> </strong><strong>To</strong> -&gt; <strong>Convert</strong><strong> </strong><strong>to</strong><strong> </strong><strong>Editable</strong><strong> </strong><strong>Poly</strong><strong> </strong>(Рис. 2). </p>
<p><img src="{{ url_for('static', filename='img/lesson5/2.jpg') }}" alt="" width="361" height="488" /> <br />
  Рис  2. Переход в режим редактирования Editable Poly </p>
<p>Трехмерная  сетка Editable Poly  редактируется на уровне подобъектов – частей, составляющих сетки, которые можно  изменять, добавлять или удалять. Всего есть 5 уровней:</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="38" valign="top"><p><strong><img src="{{ url_for('static', filename='img/lesson5/3.jpg') }}" alt="" width="24" height="24" /></strong><strong> </strong></p></td>
    <td width="600" valign="top"><p><strong>Vertex</strong><strong> (Вершины)</strong> – это точки,    в которых сходятся два или несколько ребер.<br />
      <strong><img src="{{ url_for('static', filename='img/lesson5/4.jpg') }}" alt="" width="166" height="171" /></strong><strong> </strong></p></td>
  </tr>
  <tr>
    <td width="38" valign="top"><p><strong><img src="{{ url_for('static', filename='img/lesson5/5.jpg') }}" alt="" width="24" height="24" /></strong><strong> </strong></p></td>
    <td width="600" valign="top"><p><strong>Edge</strong><strong> (Ребро)</strong> – это линия    границы полигона.<br />
      <img src="{{ url_for('static', filename='img/lesson5/6.jpg') }}" alt="" width="168" height="179" /></p></td>
  </tr>
  <tr>
    <td width="38" valign="top"><p><strong><img src="{{ url_for('static', filename='img/lesson5/7.jpg') }}" alt="" width="24" height="24" /></strong><strong> </strong></p></td>
    <td width="600" valign="top"><p><strong>Border</strong><strong> (Граница)</strong> – это    граничные ребра сетки. Они имеются, если сетка не замкнута, т.е. какие-то    полигоны удалены из нее.<br />
      <img src="{{ url_for('static', filename='img/lesson5/8.jpg') }}" alt="" width="168" height="180" /></p></td>
  </tr>
  <tr>
    <td width="38" valign="top"><p><strong><img src="{{ url_for('static', filename='img/lesson5/9.jpg') }}" alt="" width="22" height="22" /></strong><strong> </strong></p></td>
    <td width="600" valign="top"><p><strong>Polygon</strong><strong> (Полигон)</strong> – это    плоскость, представляющая собой элементарную ячейку сетки. <br />
      <img src="{{ url_for('static', filename='img/lesson5/10.jpg') }}" alt="" width="165" height="169" /></p></td>
  </tr>
  <tr>
    <td width="38" valign="top"><p><strong><img src="{{ url_for('static', filename='img/lesson5/11.jpg') }}" alt="" width="24" height="24" /></strong><strong> </strong></p></td>
    <td width="600" valign="top"><p><strong>Element</strong><strong> (Элемент)</strong> – это сетка    целиком. <br />
      <img src="{{ url_for('static', filename='img/lesson5/12.jpg') }}" alt="" width="169" height="186" /></p></td>
  </tr>
</table>
<p>Для того, что бы&nbsp;понять этапы моделирования объекта, используя&nbsp;<strong>Editable</strong><strong>&nbsp;</strong><strong>Poly</strong><strong><em>,&nbsp;</em></strong>создадим модель человеческого  тела (Рис. 3).</p>
<p><img src="{{ url_for('static', filename='img/lesson5/13.jpg') }}" alt="" width="624" height="291" /> <br />
  Рис  3. Модель тела человека</p>
<p>Сначала необходимо продумать какой будет объект для  начального редактирования, и какое количество сегментов необходимо  использовать. Модель  тела человека достаточно сложна с точки зрения трехмерной графики, поэтому мы  разобьем ее на более простые части – туловище, руки, ноги, голова. Начнем с  туловища. Так как модель туловища может примерно вписаться в&nbsp;<strong>Box</strong><strong>,<em>&nbsp;</em></strong>его и возьмем за  начальный объект редактирования. Теперь выберем количество сегментов. Так как из  этого бокса нам предстоит выдавливать руки, ноги и голову, делать талию, плечи,  а так же создавать прогиб в пояснице, то нужно взять больше сегментов (Рис. 4). </p>
<p><img src="{{ url_for('static', filename='img/lesson5/14.jpg') }}" alt="" width="589" height="252" /> <br />
  Рис 4. Заготовка для туловища: length segs=4, width segs=5, height segs=8</p>
<p>Переконвертируем&nbsp;объект  в&nbsp;<strong>Editable&nbsp;Poly</strong>&nbsp;и  перейдем на уровень редактирования <strong>Vertex</strong>. Чтобы выделить  несколько точек, щелкайте на них с зажатой клавишей <strong>Ctrl</strong>, а чтобы снять выделение с ненужных –  нажимайте <strong>Alt</strong>.  Удобнее работать в окнах <strong>Top</strong>, <strong>Left</strong> и <strong>Front</strong>, окно <strong>Perspective</strong> используйте для отслеживания  результата. <br />
  Выделим верхний ряд точек и  сузим их с помощью инструмента масштабирования (Рис. 5).</p>
<p><img src="{{ url_for('static', filename='img/lesson5/15.jpg') }}" alt="" width="614" height="247" /> <br />
  Рис  5. Масштабирование точек объекта в режиме Vertex </p>
<p>Оставим  плоскими только те полигоны, из которых будем выдавливать руки, ноги и шею. Далее  в результате преобразований с помощью стандартных инструментов выделения,  перемещения и масштабирования будем двигать точки так, чтобы данный Box принял очертания туловища (Рис. 6). </p>
<p><img src="{{ url_for('static', filename='img/lesson5/16.jpg') }}" alt="" width="624" height="503" /> <br />
  Рис  6. Модель туловища</p>
<p>Теперь приступим к моделированию руки. Переходим в режим <strong>Polygon</strong> и  выделяем те полигоны, из которых будем выдавливать руку (Рис. 7).</p>
<p><img src="{{ url_for('static', filename='img/lesson5/17.jpg') }}" alt="" width="613" height="246" /> <br />
  Рис 7. Выделение полигонов для выдавливания</p>
<p>В настройках режима <strong>Polygon</strong> находим вкладку <strong>Edit</strong><strong> </strong><strong>Polygons</strong> и  жмем на кнопку напротив графы <strong>Extrude</strong><strong> </strong>(Рис. 8). </p>
<p><img src="{{ url_for('static', filename='img/lesson5/18.jpg') }}" alt="" width="178" height="292" /> <br />
  Рис 8. Активация операции выдавливания Extrude </p>
<p>После этого выделенные полигоны выдавливаются на расстояние,  которое можно задать в появившемся окне. Выдавливаем часть руки до локтевого  сустава и нажимаем на галочку (Рис. 9). </p>
<p><img src="{{ url_for('static', filename='img/lesson5/19.jpg') }}" alt="" width="613" height="246" /> <br />
  Рис 9. Выдавливание руки операцией Extrude </p>
<p>Теперь снова переходим в режим <strong>Vertex</strong> и масштабированием  сужаем выдавленную плоскость (Рис. 10).</p>
<p><img src="{{ url_for('static', filename='img/lesson5/20.jpg') }}" alt="" width="613" height="246" /> <br />
  Рис 10. Сужение плоскости в режиме Vertex </p>
<p>После этого снова переходим в режим <strong>Polygon</strong> и совершаем операцию  выдавливания <strong>Extrude</strong>. Таким образом делаем всю  руку (Рис. 11). </p>
<p><img src="{{ url_for('static', filename='img/lesson5/21.jpg') }}" alt="" width="613" height="247" /> <br />
  Рис 11. Модель руки</p>
<p>Чтобы смоделировать большой палец, выделите соответствующие  полигоны и выдавите их подобным способом (Рис. 12). </p>
<p><img src="{{ url_for('static', filename='img/lesson5/22.jpg') }}" alt="" width="613" height="247" /> <br />
  Рис 12. Моделирование пальца</p>
<p>Рука готова. Чтобы не делать одну работу дважды, воспользуемся  инструментом Symmetry (Симметрия). Но для  этого нам нужно отделить руку от тела, так как мы создавали все из единого  элемента – бокса. Переходим в режим <strong>Polygon</strong>, выделяем руку и в  настройках находим вкладку <strong>Edit</strong><strong> </strong><strong>Geometry</strong> и жмем на кнопку <strong>Detach</strong><strong> </strong>(Отсоединить)  (Рис. 13). В появившемся окне зададим имя (например, Arm) и нажмем <strong>OK</strong>.</p>
<p><strong><img src="{{ url_for('static', filename='img/lesson5/23.jpg') }}" alt="" width="624" height="193" /></strong><strong> </strong><br />
  Рис 13. Отсоединение руки от туловища</p>
<p>Теперь рука и туловище – это два разных элемента. Чтобы создать  симметричную руку, выделяем уже созданную, заходим в <strong>Modifier</strong><strong> </strong><strong>List</strong> и  выбираем <strong>Symmetry</strong>. Отражение должно идти по  оси X. Ставим галочку напротив <strong>Flip</strong><strong> (Отразить)</strong>.  Если рука будет отражаться не в правильном месте, то надо раскрыть свиток <strong>Symmetry</strong>,  нажав на плюсик, выбрать <strong>Mirror</strong> и установить  плоскость ровно посередине туловища (Рис. 14).</p>
<p><img src="{{ url_for('static', filename='img/lesson5/24.jpg') }}" alt="" width="624" height="356" /> <br />
  Рис 14. Создание второй руки с помощью модификатора Symmetry </p>
<p>Чтобы вторая рука присоединялась к туловищу, нужно просто удалить  полигоны, из которых она должна была выдавливаться и спаять граничащие точки  инструментом <strong>Weld</strong>, который находится в  разделе <strong>Edit</strong><strong> </strong><strong>Vertices</strong> (Рис. 15).</p>
<p><img src="{{ url_for('static', filename='img/lesson5/25.jpg') }}" alt="" width="624" height="205" /> <br />
  Рис 15. Слияние двух точек с одну</p>
<p>Теперь нужно смоделировать ноги. Делаем все по аналогии. Выделяем  полигоны, выдавливаем их с помощью операции <strong>Extrude</strong>, редактируем точки и  полигоны перемещением, поворотом и масштабированием. Не забываем удалить  полигоны у основания второй ноги и соединить точки, чтобы соединить ее с  туловищем (Рис. 16). </p>
<p><img src="{{ url_for('static', filename='img/lesson5/26.jpg') }}" alt="" width="623" height="331" /> <br />
  Рис 16. Промежуточный этап создания ноги</p>
<p>Модель тела готова (Рис. 17).</p>
<p><img src="{{ url_for('static', filename='img/lesson5/27.jpg') }}" alt="" width="583" height="225" /> <br />
  Рис 17. Модель тела</p>
<p>Голову создадим с помощью <strong>Sphere</strong><strong> (Сфера)</strong>. Конвертируем ее в <strong>Editable</strong><strong> </strong><strong>Poly</strong>. Чтобы вытянуть ее и  придать ей форму головы, воспользуемся опцией <strong>Soft</strong><strong> </strong><strong>Selection</strong> –  она помогает выделять не один полигон, а сразу определенную область вокруг  него. Для этого выделим 2 затылочных полигона и нажмем галочку напротив строки <strong>Use</strong><strong> </strong><strong>Soft</strong><strong> </strong><strong>Selection</strong>. Установим  область действия 20, чем больше значение – тем обширнее затрагивается область  (Рис. 18). </p>
<p><img src="{{ url_for('static', filename='img/lesson5/28.jpg') }}" alt="" width="471" height="269" /> <br />
  Рис 18. Использование Soft Selection </p>
<p>Дальше останется только потянуть за ось X (Рис. 19). Таким же образом делаем  подбородок, рот, нос и глазные впадины.</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="319" valign="top"><p><img src="{{ url_for('static', filename='img/lesson5/29.jpg') }}" alt="" width="236" height="249" /></p></td>
    <td width="319" valign="top"><p><img src="{{ url_for('static', filename='img/lesson5/30.jpg') }}" alt="" width="236" height="251" /></p></td>
  </tr>
  <tr>
    <td width="319" valign="top"><p>Было</p></td>
    <td width="319" valign="top"><p>Стало </p></td>
  </tr>
</table>
<p>Рис 19 </p>
<p>Чтобы объединить все в одно целое, выделим туловище в режиме <strong>Element</strong> и  нажмем кнопку <strong>Attach</strong>, после чего кликнем по всем  частям тела (Рис. 20). </p>
<p><img src="{{ url_for('static', filename='img/lesson5/31.jpg') }}" alt="" width="179" height="276" /> <br />
  Рис 20. Объединение объектов</p>
<p>Теперь осталось только применить модификатор <strong>Turbo</strong><strong> </strong><strong>Smooth</strong>,  чтобы сгладить все углы и получить гладкую модель. Модель тела готова (Рис.  21). </p>
<p><img src="{{ url_for('static', filename='img/lesson5/13.jpg') }}" alt="" width="624" height="291" /> <br />
  Рис 21. Модель тела</p>
<p><strong><u>Задание</u></strong></p>
<p>Теперь самостоятельно смоделируйте голову пса Плуто из  мультсериала «Приключения Микки Мауса» (Рис. 22).</p>
<p><img src="{{ url_for('static', filename='img/lesson5/32.jpg') }}" alt="" width="224" height="214" />
<img src="{{ url_for('static', filename='img/lesson5/33.jpg') }}" alt="" width="224" height="214" /> <br />
  Рис 22. Модель пса Плуто</p>
<p><strong><u>Рекомендации</u></strong></p>
<p>Голова моделируется из примитива <strong>Box</strong>, сначала делается сама  голова, затем выдавливается верхняя и нижняя челюсть, шея. Переходя к  деталировке, удалите половину модели и примените к ней модификатор <strong>Symmetry</strong>, и  работайте только с одной стороной. Ухо, язык, нос и ошейник моделируется  отдельно и присоединяется к голове с помощью операции <strong>Attach</strong>. </p>
<p>Для более подробного описания, <a href="http://soliday.ru/index.php?f=articles&s=3&pid=7" target="_blank">смотрите урок</a>.</p>
