{% extends 'layout.html' %}
{% set active_page = "extra" %}

{% block title %} | Дополнительно{% endblock %}

{% block desc_menu %}

  {% include 'desc_menu/menu4.html' %}

{% endblock %}

{% block content %}

  <h2>Темы для самостоятельного изучения</h2>
  <ul>
    <li>
      <a href="{{ url_for('static', filename='html/extra/start/1/index.htm') }}" target="_blank">Применение компьютерного моделирования</a>
    </li>

    <li>
      <a href="{{ url_for('static', filename='html/extra/start/2/index.htm') }}" target="_blank">Принципы построения объектов в 3D пространстве</a>
    </li>

    <li>
      <a href="{{ url_for('static', filename='html/extra/array/1/index.htm') }}" target="_blank">Массивы объектов</a>
    </li>
    <li>
      <a href="{{ url_for('static', filename='html/extra/bones/1/index.htm') }}" target="_blank">Анимация с помощью каркасов (bones)</a>
    </li>
    <li>
      <a href="{{ url_for('static', filename='html/extra/envir/1/index.htm') }}" target="_blank">Параметры окружения трехмерной сцены. Фон</a>
    </li>
    <li>
      <a href="{{ url_for('static', filename='html/extra/fire/1/index.htm') }}" target="_blank">Моделирование атмосферных эффектов Fire Effect</a>
    </li>
    <li><a href="{{ url_for('static', filename='html/extra/gravity/1/index.htm') }}" target="_blank">Воздействие исказителей пространства (Space Warps) на системы частиц</a></li>
    <li>
      <a href="{{ url_for('static', filename='html/extra/kinem2/1/index.htm') }}" target="_blank">Прямая и обратная кинематика</a>
    </li>
    <li>
      <a href="{{ url_for('static', filename='html/extra/masha/index.htm') }}" target="_blank">Создание модели куклы «Маша» (из х/ф «Ночной Дозор») по сплайновой сетке</a>
    </li>
    <li>
      <a href="{{ url_for('static', filename='html/extra/mesh/1/index.htm') }}" target="_blank">Моделирование объектов с помощью редактируемых сеток</a>
    </li>
    <li>
      <a href="{{ url_for('static', filename='html/extra/parray/1/index.htm') }}" target="_blank">Массивы частиц (PArray)</a>
    </li>
    <li>
      <a href="{{ url_for('static', filename='html/extra/particle/1/index.htm') }}" target="_blank">Система частиц (Spray)</a>
    </li>
    <li>
      <a href="{{ url_for('static', filename='html/extra/primitives/1/index.htm') }}" target="_blank">Отображение трехмерных объектов в плоскостях проекций, аксонометря</a>
    </li>
    <li>
      <a href="{{ url_for('static', filename='html/extra/scatter/index.htm') }}" target="_blank">Составные объекты (Scatter)</a>
    </li>
    <li>
      <a href="{{ url_for('static', filename='html/extra/surface/1/index.htm') }}" target="_blank">Моделирование объектов с использованием сплайновых сеток и модификатора Surface (Теория)</a>
    </li>
    <li>
      <a href="{{ url_for('static', filename='html/extra/surface/2/index.htm') }}" target="_blank">Моделирование объектов с использованием сплайновых сеток и модификатора Surface (Практика)</a>
    </li>

  </ul>

{% endblock %}