{% extends 'layout.html' %}
{% set active_page = "finished_works" %}
{% block title %} | Итоговые работы{% endblock %}

{% block desc_menu %}
  {% include 'desc_menu/menu5.html' %}
{% endblock %}

{% block content %}
  <h2>Итоговые ролики студентов</h2>

  <video width="640" height="320" controls>
    <source src="{{ url_for('static', filename='video/finished_works/1.mp4') }}" type="video/mp4">
    Your browser does not support the video tag
  </video>
  <p>Работа по теме "Camera Mapping" / Будкина Д.А.</p>
  <br/>

  <video width="640" height="320" controls>
    <source src="{{ url_for('static', filename='video/finished_works/2.mp4') }}" type="video/mp4">
    Your browser does not support the video tag
  </video>
  <p>Работа по теме "Слои" / Будкина Д.А.</p>
{% endblock %}