﻿<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>3D моделирование и анимация{% block title %}{% endblock %}</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

  <!--script src="http://code.jquery.com/jquery-2.1.4.min.js"></script-->
  <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>

  <!-- Latest compiled and minified JavaScript -->
  <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script-->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <!-- Latest compiled and minified CSS -->
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"-->
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">

  <!-- Load site css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Load site js -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</head>
<body>
<div class="container">
  <div class="row">
    <!-- Description block -->
    <div class="col-sm-3 block-desc text-white">
      <!-- Description header -->
      <div class="row">
        <div class="col-sm-12">
          <a href="/">
            <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}"/>
          </a>
          <hr/>
        </div>
      </div>

      <!-- Description menu -->
      <div class="row">
        <div class="col-sm-12">
          {% block desc_menu %}{% endblock %}
          <hr/>
          © Copyright 2015 Daria Budkina
        </div>
      </div>

    </div>

    <!-- Main block -->
    <div class="col-sm-9">

      <!-- Navbar -->
      <div class="row" id="navbar">
        <div class="col-sm-12">
          <div class="btn-group btn-group-justified" role="group">
            <a href="{{ url_for('main') }}" class="btn btn-default {% if active_page == 'main' %}active{% endif %}" role="button">Главная</a>
            <a href="{{ url_for('lessons') }}" class="btn btn-default {% if active_page == 'lessons' %}active{% endif %}" role="button">Уроки</a>
            <a href="{{ url_for('library') }}" class="btn btn-default {% if active_page == 'library' %}active{% endif %}" role="button">Библиотека</a>
            <a href="{{ url_for('extra') }}" class="btn btn-default {% if active_page == 'extra' %}active{% endif %}" role="button">Дополнительно</a>
            <a href="{{ url_for('finished_works') }}" class="btn btn-default {% if active_page == 'finished_works' %}active{% endif %}" role="button">Итоговые работы</a>
          </div>

        </div>
      </div>

      <!-- Main content block -->
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body">

              {% block content %}{% endblock %}




            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>