{% extends 'layout.html' %}
{% set active_page = "lessons" %}

{% block title %} | Уроки{% endblock %}

{% block desc_menu %}
  {% include 'desc_menu/menu2.html' %}
{% endblock %}

{% block content %}
  {{ lesson_content | safe }}

  <hr/>
  <div class="row text-center">
    <div class="col-sm-12">
      <nav>
        <ul class="pager">
          <li class="previous {% if lesson_num == 1 %}disabled{% endif %}">
            <a href="{{ url_for('lessons', num=lesson_num - 1) }}"><i class="fa fa-long-arrow-left"></i> Предыдущий урок</a>
          </li>
          <li class="next {% if lesson_num == 15 %}disabled{% endif %}">
            <a href="{{ url_for('lessons', num=lesson_num + 1) }}">Следующий урок <i class="fa fa-long-arrow-right"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}