{% extends 'layout.html' %}
{% set active_page = "library" %}
{% block title %} | Библиотека{% endblock %}

{% block desc_menu %}

  {% include 'desc_menu/menu3.html' %}

{% endblock %}

{% block content %}

<h2>Электронная библиотека</h2>

  <table class="table table-striped">
    <tr>
      <td>Статуя</td>
      <td><a href="{{url_for('static', filename='files/library/statue.zip') }}" target="_blank"><i class="fa fa-download"></i> Скачать</a></td>
    </tr>

    <tr>
      <td>Деревья</td>
      <td><a href="{{url_for('static', filename='files/library/trees.zip') }}" target="_blank"><i class="fa fa-download"></i> Скачать</a></td>
    </tr>
    <tr>
      <td>Кусты</td>
      <td><a href="{{url_for('static', filename='files/library/bushes.zip') }}" target="_blank"><i class="fa fa-download"></i> Скачать</a></td>
    </tr>
  </table>

{% endblock %}