{% extends 'layout.html' %}
{% set active_page = "main" %}

{% block title %} | Главная{% endblock %}

{% block desc_menu %}

  {% include 'desc_menu/menu1.html' %}
  
{% endblock %}

{% block content %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	<li data-target="#carousel-example-generic" data-slide-to="3"></li>
	<li data-target="#carousel-example-generic" data-slide-to="4"></li>
	<li data-target="#carousel-example-generic" data-slide-to="5"></li>
	<li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
	<li data-target="#carousel-example-generic" data-slide-to="8"></li>
	<li data-target="#carousel-example-generic" data-slide-to="9"></li>

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{{ url_for('static', filename='img/main/1.jpg') }}" alt="...">
      <div class="carousel-caption">
        Урок №13
      </div>
    </div>

    <div class="item">
      <img src="{{ url_for('static', filename='img/main/2.jpg') }}" alt="...">
      <div class="carousel-caption">
        Урок №6
      </div>
    </div>
	
	<div class="item">
      <img src="{{ url_for('static', filename='img/main/3.jpg') }}" alt="...">
      <div class="carousel-caption">
        Урок №14
      </div>
    </div>

	<div class="item">
      <img src="{{ url_for('static', filename='img/main/4.jpg') }}" alt="...">
      <div class="carousel-caption">
        Урок №9
      </div>
    </div>
	
	<div class="item">
      <img src="{{ url_for('static', filename='img/main/5.jpg') }}" alt="...">
      <div class="carousel-caption">
        Урок №4
      </div>
    </div>
	
	<div class="item">
      <img src="{{ url_for('static', filename='img/main/6.jpg') }}" alt="...">
      <div class="carousel-caption">
        Урок №11
      </div>
    </div>
	
	<div class="item">
      <img src="{{ url_for('static', filename='img/main/7.jpg') }}" alt="...">
      <div class="carousel-caption">
        Урок №3
      </div>
    </div>
	
	<div class="item">
      <img src="{{ url_for('static', filename='img/main/8.jpg') }}" alt="...">
      <div class="carousel-caption">
        Урок №1
      </div>
    </div>
	
	<div class="item">
      <img src="{{ url_for('static', filename='img/main/9.jpg') }}" alt="...">
      <div class="carousel-caption">
        Урок №11
      </div>
    </div>
	
	<div class="item">
      <img src="{{ url_for('static', filename='img/main/10.jpg') }}" alt="...">
      <div class="carousel-caption">
        Урок №3
      </div>
    </div>
	
	
	
    <!-- Add more items here -->
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endblock %}